//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
// $primary: #0D758C;
$primary: #084259;
// $secondary: #14A68B;
$secondary: #F76B5E;
$success: #14D6B3;
$info: #12A6A6;
$warning: #FF9F43;
$danger: #CE601E;
