<!-- Card Advance -->
<div class="d-flex align-items-center text-primary" style="max-width: 150px;margin:0 auto;" *ngIf="loadingdata">
  <strong>Ladataan...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<div *ngIf="isallowed" class="row match-height">
  <!-- Tilastot pv/vk/kk/v -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Tilastot</h4>
        <div>
          <!-- <span (click)="changeTimespan('today')">Tänään</span>
          <span (click)="changeTimespan('week')">Viikolla</span>
          <span (click)="changeTimespan('month')">Kuukausi</span>
          <span (click)="changeTimespan('year')">Vuosi</span> -->
          <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item aikapainike" id="today" (click)="changeTimespan('today')">Tänään</li>
            <li class="list-group-item aikapainike" id="week" (click)="changeTimespan('week')">Viikolla</li>
            <li class="list-group-item aikapainike" id="month" (click)="changeTimespan('month')">Kuukausi</li>
            <li class="list-group-item aikapainike" id="year" (click)="changeTimespan('year')">Vuosi</li>
          </ul>
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-1">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Tarjouspyyntöjä</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ tendercount }}</div>
            </div>
          </div>
          <hr>
          <div class="browser-states mt-1">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Vastauksia</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ responsecount }}</div>
            </div>
          </div>
          <hr>
          <div class="browser-states mt-1">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Avauksia</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ eventcount }}</div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- Tilitykset -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <div class="card-header d-flex justify-content-between align-items-start pb-1 p-0">
          <div>
            <h4 class="card-title mb-25">Tilitykset</h4>
            <p class="card-text">&nbsp;</p>
          </div>
          <!-- <div ngbDropdown>
            <button rippleEffect class="btn btn-sm border-0 p-0 hide-arrow" ngbDropdownToggle type="button"
              id="dropdownItem4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i>
            </button>
            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownItem4">
              <a ngbDropdownItem href="javascript:void(0);">2021</a>
              <a ngbDropdownItem href="javascript:void(0);">2020</a>
            </div>
          </div> -->
        </div>
        <div id="chartjs-bar-chart">
          <canvas baseChart #barChartRef height="400" [datasets]="barChart.datasets" [labels]="barChart.labels"
            [options]="barChart.options" [legend]="barChart.legend" [chartType]="barChart.chartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Käyttäjät -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Käyttäjät</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Yrityksiä</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.companycount }}</div>
            </div>
          </div>
          <hr class="mt-50">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Käyttäjiä</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.usercount }}</div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <h4 class="card-title mt-3 mb-2">Aktiivisin</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-0">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Yritys</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">
                <a [routerLink]="['/apps/company/company-view/' + dashboardData.topOpener.id]">
                  {{ dashboardData.topOpener.name }}
                </a>
              </div>
            </div>
          </div>
          <hr class="mt-50">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Avaukset</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.topOpener.eventCount }}</div>
            </div>
          </div>
          <hr class="mt-50">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Tulotus</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.topOpenerTotal }}€</div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
      </div>
    </div>
  </div>
  <!-- Tarjouspyyntöjä kategorioittain -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Tarjouspyyntöjä kategorioittain</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                <strong>Kategoria</strong>
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                <strong>Tarjouspyyntöjä</strong>
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">
                  Muutot
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                {{ dashboardData.muutto_count }}
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">
                Rahdit
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                {{ dashboardData.rahti_count }}
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">
                Ajoneuvot ja veneet
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                {{ dashboardData.ajoneuvo_count }}
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">
                Puu- ja maa-aines
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                {{ dashboardData.massa_count }}
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">
                Paketit ja pientavara
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                {{ dashboardData.paketti_count }}
              </div>
            </div>
          </div>
          <hr class="mt-50">
        </div>
      </div>
    </div>
  </div>
  <!-- Suosituimmat -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Suosituimmat kohteet</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                Kohde
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                Avaukset
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="card-browser-states" *ngFor="let tndr of dashboardData.top3Opened">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal" *ngIf="tndr.wherefrom && tndr.whereto">
                <a [routerLink]="['/apps/tender/preview/' + tndr.id]">
                  <strong>{{ tndr.type }}</strong>, {{ tndr.subtype_from }} <br>
                  {{ tndr.wherefrom.city }} - {{ tndr.whereto.city }}
                </a>
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                <strong>{{ tndr.eventCount }}</strong>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <!-- Tilastot /Yrittäjä -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Tilastot</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Avattuja tarjouksia</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.events_count }}</div>
            </div>
          </div>
          <hr>
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Tarjouspyyntöihin vastauksia</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.responses_count }}</div>
            </div>
          </div>
          <hr>
        </div>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal">Avauksista seuranneet kuljetukset</h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-bold text-body-heading mr-1">{{ dashboardData.win_percentage_from_opens }}%</div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- Vastatut -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Vastatut avoimet kohteet</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                Kohde
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                <a *ngIf="dashboardData.respondedTenders.length > 0" [routerLink]="['/dashboard/tenders/responsed']">Näytä kaikki</a>
                <a *ngIf="dashboardData.respondedTenders.length == 0" [routerLink]="['/dashboard/tenders/all']">Selaa tarjouksia</a>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <ng-container *ngIf="dashboardData.respondedTenders.length > 0">
          <div class="card-browser-states" *ngFor="let rtndr of dashboardData.respondedTenders">
            <div class="browser-states mt-50">
              <div class="media">
                <h6 class="align-self-center mb-0 font-weight-normal" *ngIf="rtndr.wherefrom && rtndr.whereto">
                  <strong>{{ rtndr.type }}</strong>, {{ rtndr.subtype_from }} <br>
                  {{ rtndr.wherefrom.city }} - {{ rtndr.whereto.city }}
                </h6>
              </div>
              <div class="d-flex align-items-center">
                <div class="font-weight-normal text-body-heading mr-1 text-right">
                  <a [routerLink]="['/apps/tender/preview/' + rtndr.id]">Näytä</a>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </ng-container>
        <ng-container *ngIf="dashboardData.respondedTenders.length == 0">
          <div class="card-browser-states">
            <div class="browser-states mt-50">
              <div class="media">
                <h6 class="align-self-center mb-0 font-weight-normal">
                  Et ole vielä vastannut tarjouksiin.
                </h6>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Voitetut -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Voitetut kohteet</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                Kohde
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                <a *ngIf="dashboardData.acceptedTenders.length > 0" [routerLink]="['/dashboard/tenders/company-listed']">Näytä kaikki</a>
                <a *ngIf="dashboardData.acceptedTenders.length == 0" [routerLink]="['/dashboard/tenders/all']">Selaa tarjouksia</a>
              </div>
            </div>
          </div>
          <hr>
        </div>
        <ng-container *ngIf="dashboardData.acceptedTenders.length > 0">
          <div class="card-browser-states" *ngFor="let atndr of dashboardData.acceptedTenders">
            <div class="browser-states mt-50">
              <div class="media">
                <h6 class="align-self-center mb-0 font-weight-normal" *ngIf="atndr.wherefrom && atndr.whereto">
                  <strong>{{ atndr.type }}</strong>, {{ atndr.subtype_from }} <br>
                  {{ atndr.wherefrom.city }} - {{ atndr.whereto.city }}
                </h6>
              </div>
              <div class="d-flex align-items-center">
                <div class="font-weight-normal text-body-heading mr-1 text-right">
                  <a [routerLink]="['/apps/tender/preview/' + atndr.id]">Näytä</a>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </ng-container>
        <ng-container *ngIf="dashboardData.acceptedTenders.length == 0">
          <div class="card-browser-states">
            <div class="browser-states mt-50">
              <div class="media">
                <h6 class="align-self-center mb-0 font-weight-normal">
                  Ei voitettuja kohteita.
                </h6>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Hylätyt maksut -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Hylätyt maksut</h4>
        
        <ngx-datatable 
          [rows]="dashboardData.failedPayments" 
          [rowHeight]="50" 
          class="bootstrap core-bootstrap" 
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force" 
          [headerHeight]="50" 
          [footerHeight]="50" 
          [scrollbarH]="true">
          <ngx-datatable-column name="Laskun kuvaus" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.description }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Määrä" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.total }}€
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Yritys" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
                <a [routerLink]="['/apps/company/company-view/' + row.company_id]">
                  {{ row.companyname }}
                </a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>

      </div>
    </div>
  </div>

  <!-- Viimeisimmät -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin' || dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Viimeisimmät kohteet</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                Kohde
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                Lisätty
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="card-browser-states" *ngFor="let ltndr of dashboardData.latestTenders">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal" *ngIf="ltndr.wherefrom && ltndr.whereto">
                <strong>{{ ltndr.type }}</strong>, {{ ltndr.subtype_from }} <br>
                {{ ltndr.wherefrom.city }} - {{ ltndr.whereto.city }}
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1 text-right" *ngIf="ltndr.created_d && ltndr.created_t">
                <strong>{{ ltndr.created_d }} <br> {{ ltndr.created_t }}</strong>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <!-- Sulkeutumassa -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Admin' || dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Sulkeutumassa olevat kohteet</h4>
        <div class="card-browser-states">
          <div class="browser-states mt-50">
            <div class="media">
              <h5 class="align-self-center mb-0 font-weight-normal">
                Kohde
              </h5>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1">
                <!-- Päättyy -->
                Jäljellä
              </div>
            </div>
          </div>
          <hr>
        </div>
        <div class="card-browser-states" *ngFor="let ctndr of dashboardData.closingTenders">
          <div class="browser-states mt-50">
            <div class="media">
              <h6 class="align-self-center mb-0 font-weight-normal" *ngIf="ctndr.wherefrom && ctndr.whereto">
                <strong>{{ ctndr.type }}</strong>, {{ ctndr.subtype_from }} <br>
                {{ ctndr.wherefrom.city }} - {{ ctndr.whereto.city }}
              </h6>
            </div>
            <div class="d-flex align-items-center">
              <div class="font-weight-normal text-body-heading mr-1 text-right" *ngIf="ctndr.ending_d && ctndr.ending_t">
                <!-- <strong>{{ ctndr.ending_d }} <br> {{ ctndr.ending_t }}</strong> -->
                <strong>{{ ctndr.timeleft }}</strong>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

  <!-- Maksut -->
  <div class="col-lg-6 col-12" *ngIf="dashboardData.usr.role == 'Yrittäjä'">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-2">Maksut</h4>
  
        <ngx-datatable [rows]="dashboardData.payments" [rowHeight]="50" class="bootstrap core-bootstrap"
          [limit]="selectedOption" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
          [scrollbarH]="true">
          <ngx-datatable-column name="Laskun kuvaus" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.description }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Määrä" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
              {{ row.total }}€
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Maksun tila" [width]="80">
            <ng-template ngx-datatable-cell-template let-row="row">
              <!-- <div *ngIf="!row.expired && !row.is_paid" class="badge badge-pill badge-glow badge-dark">
                Laskutuskausi kesken
              </div> -->
              <div *ngIf="!row.payment_status" class="badge badge-pill badge-glow badge-danger">Ei maksettu</div>
              <div *ngIf="row.payment_status"  class="badge badge-pill badge-glow badge-success">Maksettu</div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
  
      </div>
    </div>
  </div>
  
</div>

<!-- <div *ngIf="isallowed" class="row match-height"> -->
  <!-- Revenue Report Card -->
  <!-- <div class="col-lg-8 col-12">
    <div class="card card-revenue-budget">
      <div class="row mx-0">
        <div class="col-md-8 col-12 revenue-report-wrapper">
          <div class="d-sm-flex justify-content-between align-items-center mb-3">
            <h4 class="card-title mb-50 mb-sm-0">Tilitykset</h4>
            <div class="d-flex align-items-center">
              <div class="d-flex align-items-center mr-2">
                <span class="bullet bullet-primary font-small-3 mr-50 cursor-pointer"></span>
                <span>Earning</span>
              </div>
              <div class="d-flex align-items-center">
                <div ngbDropdown>
                  <button type="button" class="btn btn-outline-primary btn-sm budget-dropdown" ngbDropdownToggle data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                    2020
                  </button>
                  <div ngbDropdownMenu>
                    <a ngbDropdownItem href="javascript:void(0);">2020</a>
                    <a ngbDropdownItem href="javascript:void(0);">2019</a>
                    <a ngbDropdownItem href="javascript:void(0);">2018</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="revenue-report-chart">
            <apx-chart [series]="data.revenueReport.earningExpenseChart.series" [chart]="revenueReportChartoptions.chart"
              [plotOptions]="revenueReportChartoptions.plotOptions" [colors]="revenueReportChartoptions.colors"
              [dataLabels]="revenueReportChartoptions.dataLabels" [legend]="revenueReportChartoptions.legend"
              [grid]="revenueReportChartoptions.grid" [xaxis]="revenueReportChartoptions.xaxis"
              [yaxis]="revenueReportChartoptions.yaxis"></apx-chart>
          </div>
        </div>
        <div class="col-md-4 col-12 budget-wrapper">
          <div class="btn-group">
            <div ngbDropdown>
              <button type="button" class="btn btn-outline-primary btn-sm budget-dropdown" ngbDropdownToggle
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                2020
              </button>
              <div ngbDropdownMenu>
                <a ngbDropdownItem href="javascript:void(0);">2020</a>
                <a ngbDropdownItem href="javascript:void(0);">2019</a>
                <a ngbDropdownItem href="javascript:void(0);">2018</a>
              </div>
            </div>
          </div>
          <h2 class="mb-25">{{ data.revenueReport.analyticsData.currentBudget }}</h2>
          <div class="d-flex justify-content-center">
            <span class="font-weight-bolder mr-25">Budget:</span>
            <span>{{ data.revenueReport.analyticsData.totalBudget }}</span>
          </div>
          <div id="budget-chart">
            <apx-chart [series]="data.revenueReport.budgetChart.series" [chart]="budgetChartoptions.chart"
              [stroke]="budgetChartoptions.stroke" [colors]="budgetChartoptions.colors"
              [tooltip]="budgetChartoptions.tooltip"></apx-chart>
          </div>
          <button type="button" class="btn btn-primary" rippleEffect>Increase Budget</button>
        </div>
      </div>
    </div>
  </div> -->
  <!--/ Revenue Report Card -->
  <!-- Average Sessions Card -->
  <!-- <div class="col-lg-6 col-12">
    <div class="card">
      <div class="card-body">
        <div class="row pb-50">
          <div class="col-lg-6 col-12 d-flex justify-content-between flex-column order-lg-1 order-2 mt-1 mt-lg-0">
            <div class="mb-1 mb-lg-0">
              <h2 class="font-weight-bolder mb-25">{{ data.avgSessions.analyticsData.avgSessions }}</h2>
              <p class="card-text font-weight-bold mb-2">Avg Sessions</p>
              <div class="font-medium-2">
                <span class="text-success mr-25">{{ data.avgSessions.analyticsData.vsLastSevenDays }}</span>
                <span>vs last 7 days</span>
              </div>
            </div>
            <button type="button" rippleEffect class="btn btn-primary">View Details</button>
          </div>
          <div class="col-lg-6 col-12 d-flex justify-content-between flex-column text-right order-lg-2 order-1">
            <div ngbDropdown class="chart-dropdown">
              <button
                rippleEffect
                class="btn btn-sm border-0 p-50"
                ngbDropdownToggle
                type="button"
                id="dropdownItem5"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Last 7 Days
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownItem5">
                <a ngbDropdownItem href="javascript:void(0);">Last 28 Days</a>
                <a ngbDropdownItem href="javascript:void(0);">Last Month</a>
                <a ngbDropdownItem href="javascript:void(0);">Last Year</a>
              </div>
            </div>
            <div id="avgsessionChartoptions">
              Apexchart component
              <apx-chart
                #avgSessionChartRef
                [chart]="avgsessionChartoptions.chart"
                [states]="avgsessionChartoptions.states"
                [colors]="avgsessionChartoptions.colors"
                [series]="data.avgSessions.series"
                [plotOptions]="avgsessionChartoptions.plotOptions"
                [tooltip]="avgsessionChartoptions.tooltip"
              ></apx-chart>
              / Apexchart component
            </div>
          </div>
        </div>
        <hr />
        <div class="row avg-sessions pt-50">
          <div class="col-6 mb-2">
            <p class="mb-50">Goal: {{ data.avgSessions.analyticsData.goal }}</p>

            <ngb-progressbar
              type="primary"
              [height]="'6px'"
              [value]="data.avgSessions.analyticsData.goalProgressbar"
            ></ngb-progressbar>
          </div>
          <div class="col-6 mb-2">
            <p class="mb-50">Users: {{ data.avgSessions.analyticsData.users }}</p>

            <ngb-progressbar
              type="warning"
              [height]="'6px'"
              [value]="data.avgSessions.analyticsData.retentionProgressbar"
            ></ngb-progressbar>
          </div>
          <div class="col-6">
            <p class="mb-50">Retention: {{ data.avgSessions.analyticsData.retention }}</p>

            <ngb-progressbar
              type="danger"
              [height]="'6px'"
              [value]="data.avgSessions.analyticsData.usersProgressbar"
            ></ngb-progressbar>
          </div>
          <div class="col-6">
            <p class="mb-50">Duration: {{ data.avgSessions.analyticsData.duration }}</p>

            <ngb-progressbar
              type="success"
              [height]="'6px'"
              [value]="data.avgSessions.analyticsData.durationProgressbar"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!--/ Average Sessions Card -->
  <!-- Congratulations Card -->
  <!-- <div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card card-congratulations">
      <div class="card-body text-center">
        <img src="assets/images/elements/decore-left.png" class="congratulations-img-left" alt="card-img-left" />
        <img src="assets/images/elements/decore-right.png" class="congratulations-img-right" alt="card-img-right" />
        <div class="avatar avatar-xl bg-primary shadow">
          <div class="avatar-content">
            <i data-feather="award" class="font-large-1"></i>
          </div>
        </div>
        <div class="text-center">
          <h1 class="mb-1 text-white">Congratulations {{ currentUser?.firstName }},</h1>
          <p class="card-text m-auto w-75">This page can be accessed <strong>only by administrators</strong>.</p>
  
          <p class="card-text m-auto w-75">
            All users from secure (admin only) api end point.
            <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
            <ng-container *ngIf="users">
              <span *ngFor="let user of users">{{ user.firstName }} {{ user.lastName }} ({{ user.role }}), </span>
            </ng-container>
          </p>
        </div>
      </div>
    </div>
  </div> -->
  <!--/ Congratulations Card -->
  
  <!-- <div class="col-lg-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-header d-flex flex-column align-items-start pb-0">
        <div class="avatar bg-light-primary p-50 m-0">
          <div class="avatar-content">
            <i data-feather="users" class="font-medium-5"></i>
          </div>
        </div>
        <h2 class="font-weight-bolder mt-1">{{ data.subscribers_gained.analyticsData.subscribers }}</h2>
        <p class="mb-0">Subscribers Gained</p>
      </div>
  
      Apexchart component
      <div id="gainedChartoptions">
        <apx-chart #gainedChartRef [series]="data.subscribers_gained.series" [chart]="gainedChartoptions.chart"
          [stroke]="gainedChartoptions.stroke" [fill]="gainedChartoptions.fill" [tooltip]="gainedChartoptions.tooltip"
          [colors]="gainedChartoptions.colors" [dataLabels]="gainedChartoptions.dataLabels"></apx-chart>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-lg-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-header d-flex flex-column align-items-start pb-0">
        <div class="avatar bg-light-warning p-50 m-0">
          <div class="avatar-content">
            <i data-feather="package" class="font-medium-5"></i>
          </div>
        </div>
        <h2 class="font-weight-bolder mt-1">{{ data.ordersRecevied.analyticsData.orders }}</h2>
        <p class="mb-0">Orders Received</p>
      </div>
  
      Apexchart component
      <div id="orderChartoptions">
        <apx-chart #orderChartRef [series]="data.ordersRecevied.series" [chart]="orderChartoptions.chart"
          [stroke]="orderChartoptions.stroke" [fill]="orderChartoptions.fill" [tooltip]="orderChartoptions.tooltip"
          [colors]="orderChartoptions.colors" [dataLabels]="orderChartoptions.dataLabels"></apx-chart>
      </div>
    </div>
  </div> -->

  <!-- Support Tracker Card -->
  <!-- <div class="col-lg-6 col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between pb-0">
        <h4 class="card-title">Support Tracker</h4>
        <div ngbDropdown class="chart-dropdown">
          <button
            rippleEffect
            class="btn btn-sm border-0 p-50"
            ngbDropdownToggle
            type="button"
            id="dropdownItem4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Last 7 Days
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownItem4">
            <a ngbDropdownItem href="javascript:void(0);">Last 28 Days</a>
            <a ngbDropdownItem href="javascript:void(0);">Last Month</a>
            <a ngbDropdownItem href="javascript:void(0);">Last Year</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
            <h1 class="font-large-2 font-weight-bolder mt-2 mb-0">
              {{ data.supportTracker.analyticsData.tickets }}
            </h1>
            <p class="card-text">Tickets</p>
          </div>
          <div class="col-sm-10 col-12 d-flex justify-content-center">
            <div id="supportChartoptions">
              Apexchart component
              <apx-chart
                #supportChartRef
                [series]="data.supportTracker.series"
                [chart]="supportChartoptions.chart"
                [plotOptions]="supportChartoptions.plotOptions"
                [colors]="supportChartoptions.colors"
                [fill]="supportChartoptions.fill"
                [stroke]="supportChartoptions.stroke"
                [labels]="supportChartoptions.labels"
              ></apx-chart>
              / Apexchart component
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-1">
          <div class="text-center">
            <p class="card-text mb-50">New Tickets</p>
            <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.newTickets }}</span>
          </div>
          <div class="text-center">
            <p class="card-text mb-50">Open Tickets</p>
            <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.openTickets }}</span>
          </div>
          <div class="text-center">
            <p class="card-text mb-50">Response Time</p>
            <span class="font-large-1 font-weight-bold">{{ data.supportTracker.analyticsData.responseTime }}</span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- / Support Tracker Card -->
<!-- </div> -->

<!-- <div *ngIf="isallowed" class="row match-height"> -->
  <!-- User Timeline -->
  <!-- <div class="col-lg-4 col-12">
    <div class="card card-user-timeline">
      <div class="card-header">
        <div class="d-flex align-items-center">
          <i data-feather="list" class="user-timeline-title-icon"></i>
          <h4 class="card-title">User Timeline</h4>
        </div>
        <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i>
      </div>
      <div class="card-body">
        <ul class="timeline ml-50 mb-0">
          <li class="timeline-item">
            <span class="timeline-point timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>12 Invoices have been paid</h6>
                <span class="timeline-event-time mr-1">12 min ago</span>
              </div>
              <p>Invoices have been paid to the company.</p>
              <div class="media align-items-center">
                <img class="mr-1" src="assets/images/icons/json.png" alt="data.json" height="23" />
                <h6 class="media-body mb-0">data.json</h6>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Client Meeting</h6>
                <span class="timeline-event-time mr-1">45 min ago</span>
              </div>
              <p>Project meeting with john @10:15am</p>
              <div class="media align-items-center">
                <div class="avatar mr-50">
                  <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="38" height="38" />
                </div>
                <div class="media-body">
                  <h6 class="mb-0">John Doe (Client)</h6>
                  <p class="mb-0">CEO of Infibeam</p>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Create a new project for client</h6>
                <span class="timeline-event-time mr-1">2 day ago</span>
              </div>
              <p>Add files to new design folder</p>
              <div class="avatar-group">
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Billy Hopkins"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-9.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Amy Carson"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Brandon Miles"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-8.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Daisy Weber"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="33" height="33" />
                </div>
                <div
                  data-toggle="tooltip"
                  data-popup="tooltip-custom"
                  data-placement="bottom"
                  data-original-title="Jenny Looper"
                  class="avatar pull-up"
                >
                  <img src="assets/images/portrait/small/avatar-s-20.jpg" alt="Avatar" width="33" height="33" />
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item">
            <span class="timeline-point timeline-point-danger timeline-point-indicator"></span>
            <div class="timeline-event">
              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                <h6>Create a new project for client</h6>
                <span class="timeline-event-time mr-1">5 day ago</span>
              </div>
              <p class="mb-0">Add files to new design folder</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
  <!--/ User Timeline -->
  <!-- Sales Polygon Chart Card -->
  <!-- <div class="col-lg-4 col-md-6 col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-start pb-1">
        <div>
          <h4 class="card-title mb-25">Sales</h4>
          <p class="card-text">Last 6 months</p>
        </div>
        <div ngbDropdown>
          <button
            rippleEffect
            class="btn btn-sm border-0 p-0 hide-arrow"
            ngbDropdownToggle
            type="button"
            id="dropdownItem4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i data-feather="more-vertical" class="font-medium-3 cursor-pointer"></i>
          </button>
          <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownItem4">
            <a ngbDropdownItem href="javascript:void(0);">Last 28 Days</a>
            <a ngbDropdownItem href="javascript:void(0);">Last Month</a>
            <a ngbDropdownItem href="javascript:void(0);">Last Year</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="d-inline-block mr-1">
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="font-small-3 text-primary mr-50"></i>
            <h6 class="mb-0">Sales</h6>
          </div>
        </div>
        <div class="d-inline-block">
          <div class="d-flex align-items-center">
            <i data-feather="circle" class="font-small-3 text-info mr-50"></i>
            <h6 class="mb-0">Visits</h6>
          </div>
        </div>
        <div id="salesChartoptions">
          Apexchart component
          <apx-chart
            #salesChartRef
            [chart]="salesChartoptions.chart"
            [series]="data.salesLastSixMonths.series"
            [stroke]="salesChartoptions.stroke"
            [colors]="salesChartoptions.colors"
            [plotOptions]="salesChartoptions.plotOptions"
            [fill]="salesChartoptions.fill"
            [markers]="salesChartoptions.markers"
            [legend]="salesChartoptions.legend"
            [labels]="salesChartoptions.labels"
            [dataLabels]="salesChartoptions.dataLabels"
            [dataLabels]="salesChartoptions.dataLabels"
            [yaxis]="salesChartoptions.yaxis"
          ></apx-chart>
          / Apexchart component
        </div>
      </div>
    </div>
  </div> -->
  <!--/ Sales Polygon Chart Card -->

  <!-- App Design Card -->
  <!-- <div class="col-lg-4 col-md-6 col-12">
    <div class="card card-app-design">
      <div class="card-body">
        <div class="badge badge-light-primary">03 Sep, 20</div>
        <h4 class="card-title mt-1 mb-75 pt-25">App design</h4>
        <p class="card-text font-small-2 mb-2">
          You can Find Only Post and Quotes Related to IOS like ipad app design, iphone app design
        </p>
        <div class="design-group mb-2 pt-50">
          <h6 class="section-label">Team</h6>
          <div class="badge badge-light-warning mr-1">Figma</div>
          <div class="badge badge-light-primary">Wireframe</div>
        </div>
        <div class="design-group pt-25">
          <h6 class="section-label">Members</h6>
          <div class="avatar">
            <img src="assets/images/portrait/small/avatar-s-9.jpg" width="34" height="34" alt="Avatar" />
          </div>
          <div class="avatar bg-light-danger">
            <div class="avatar-content">PI</div>
          </div>
          <div class="avatar">
            <img src="assets/images/portrait/small/avatar-s-14.jpg" width="34" height="34" alt="Avatar" />
          </div>
          <div class="avatar">
            <img src="assets/images/portrait/small/avatar-s-7.jpg" width="34" height="34" alt="Avatar" />
          </div>
          <div class="avatar bg-light-secondary">
            <div class="avatar-content">AL</div>
          </div>
        </div>
        <div class="design-planning-wrapper mb-2 py-75">
          <div class="design-planning">
            <p class="card-text mb-25">Due Date</p>
            <h6 class="mb-0">12 Apr, 21</h6>
          </div>
          <div class="design-planning">
            <p class="card-text mb-25">Budget</p>
            <h6 class="mb-0">$49251.91</h6>
          </div>
          <div class="design-planning">
            <p class="card-text mb-25">Cost</p>
            <h6 class="mb-0">$840.99</h6>
          </div>
        </div>
        <button type="button" rippleEffect class="btn btn-primary btn-block">Join Team</button>
      </div>
    </div>
  </div> -->
  <!--/ App Design Card -->
<!-- </div> -->

<!-- <app-invoice-list *ngIf="isallowed"></app-invoice-list> -->
