@import '@core/scss/base/plugins/charts/chart-apex.scss';
@import '@core/scss/angular/libs/toastr.component.scss';
@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/datatables.component.scss';

@import '@core/scss/base/bootstrap-extended/_include'; // Components includes

.datatable-body-cell-label {
    max-width: 100%;
    overflow: auto;
}