<!-- Not authorized-->
<div class="misc-wrapper">
  <a class="brand-logo" href="javascript:void(0);">
    <img src="assets/images/logo/logo.png" alt="Logo" />
  </a>
  <div class="misc-inner p-2 p-sm-3">
    <div class="w-100 text-center">
      <!-- <h2 class="mb-1">You are not authorized! 🔐</h2> -->
      <h2 class="mb-1">Sinulla ei ole oikeuksia tälle sivulle. 🔐</h2>
      <p class="mb-2">
        <!-- The Webtrends Marketing Lab website in IIS uses the default IUSR account credentials to access the web pages it
        serves. -->
      </p>
      <p>
        <a class="btn btn-primary mb-1 btn-sm-block" routerLink="/pages/authentication/login-v2" rippleEffect>
          Takaisin etusivulle
        </a>
      </p>
      <p>
        <a (click)="logout()" style="font-size: smaller;text-decoration: underline;" >
          Jumissa? Kokeile kirjautua palveluun sisälle uudestaan
        </a>
      </p>
      <img
        class="img-fluid"
        [src]="
          coreConfig.layout.skin === 'dark'
            ? 'assets/images/pages/not-authorized-dark.svg'
            : 'assets/images/pages/not-authorized.svg'
        "
        alt="Not authorized page"
      />
    </div>
  </div>
</div>
<!-- / Not authorized-->
