<div class="content-wrapper" *ngIf="curruser.role == 'Admin' || curruser.role == 'Moderator'">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card" hidden>
        <h5 class="card-header">{{ 'LIST.SEARCHFILTER' | translate }}</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-role">
                      <option value="">{{ 'LIST.ALL' | translate }}</option>
                      <option value="user">User</option>
                      <option value="staff">Staff</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-status">
                      <option value="">{{ 'LIST.ALL' | translate }}</option>
                      <option value="Active">Active</option>
                      <option value="Blocked">Blocked</option>
                      <option value="deactivated">Deactivated</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <select class="form-control" id="users-list-verified">
                      <option value="">{{ 'LIST.ALL' | translate }}</option>
                      <option value="true">Yes</option>
                      <option value="false">No</option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >{{ 'LIST.SHOW' | translate }}
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                {{ 'LIST.ENTRIES' | translate }}</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >{{ 'LIST.SEARCH' | translate }}:<input type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
              /></label>
              <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Add New User</span>
              </button> -->
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="{{ 'LIST.COMPANY' | translate }}" prop="name" [width]="200">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <!-- <div *ngIf="row.avatar.length > 0; else customAvatar">
                  <img
                    class="rounded-circle mr-1"
                    src="{{ row.avatar }}"
                    height="32"
                    width="32"
                    alt="datatable-avatar"
                  />
                </div>
                <ng-template #customAvatar>
                  <div
                    class="avatar mr-1 ml-0"
                    [ngClass]="{
                      'bg-light-success': row.status == 'active',
                      'bg-light-secondary': row.status == 'inactive',
                      'bg-light-warning': row.status == 'pending'
                    }"
                  >
                    <div class="avatar-content">{{ name | initials }}</div>
                  </div>
                </ng-template> -->
                <div class="cell-line-height">
                  <a routerLink="/apps/company/company-view/{{ row.id }}" class="font-medium-1 d-block">
                    <span class="font-weight-bold">{{ name }}</span>
                    &nbsp;
                    <div class="badge badge-pill badge-light-danger" *ngIf="row.deleted_at">
                      Deaktivoitu
                    </div>
                  </a>
                  <!-- <span class="text-muted font-small-2"> @{{ row.username }}</span> -->
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LIST.CONTACHPERSON' | translate }}" prop="contactperson" [width]="150"></ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LIST.BUSINESSID' | translate }}" prop="business_id" [width]="100">
            <!-- <ng-template let-role="value" ngx-datatable-cell-template>
              <div>
                <i
                  class="feather font-medium-3"
                  [ngClass]="{
                    'icon-edit-2 text-info': role == 'Editor',
                    'icon-settings text-warning': role == 'Author',
                    'icon-database text-success': role == 'Maintainer',
                    'icon-user text-primary': role == 'Subscriber',
                    'icon-slack text-danger': role == 'Admin'
                  }"
                ></i>
                {{ role }}
              </div>
            </ng-template> -->
          </ngx-datatable-column>
          <!-- <ngx-datatable-column name="Tilaus" prop="currentPlan" [width]="100"></ngx-datatable-column> -->
          <ngx-datatable-column name="Tilaus" prop="is_subscribed" [width]="50">
            <ng-template let-status="value" ngx-datatable-cell-template let-row="row">
              <div class="badge badge-pill badge-light-success" *ngIf="status && !row.subscription_ends_at">
                Aktiivinen
              </div>
              <div class="badge badge-pill badge-light-warning" *ngIf="status && row.subscription_ends_at">
                Päättymässä
              </div>
              <div class="badge badge-pill badge-light-danger" *ngIf="!status">
                Ei aktiivinen
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LIST.ACTIONS' | translate }}" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a routerLink="/apps/company/company-view/{{ row.id }}" ngbDropdownItem>
                    <span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> 
                    {{ 'LIST.DETAILS' | translate }}
                  </a>
                  <a routerLink="/apps/company/company-edit/{{ row.id }}" ngbDropdownItem>
                    <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> 
                    {{ 'LIST.EDIT' | translate }}
                  </a>
                  <!-- <a (click)="deleteRow(row.id, row.name)" ngbDropdownItem *ngIf="row.deleted_at">
                    <span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>
                    Palauta
                  </a>
                  <a (click)="deleteRow(row.id, row.name)" ngbDropdownItem *ngIf="!row.deleted_at">
                    <span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span>
                    Deaktivoi
                  </a> -->
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-company-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-new-company-sidebar></app-new-company-sidebar>
  </core-sidebar>
  <!--/ New User Sidebar -->
</div>
