<div class="content-wrapper">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container>
        <div class="card">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav nav-pills">
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center"
                  ><i data-feather="user" class="mr-sm-50"></i><span class="d-none d-sm-block">{{ 'EDIT.ACCOUNT' | translate }}</span></a
                >
                <ng-template ngbNavContent>
                  <!-- Account Tab starts -->
                  <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                      <!-- <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img
                          class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                          [src]="row.avatar"
                          height="90"
                          width="90"
                          alt="User avatar"
                        />
                      </div>
                      <ng-template #customAvatar>
                        <div
                          class="mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-success': row.status == 'active',
                            'bg-light-secondary': row.status == 'inactive',
                            'bg-light-warning': row.status == 'pending'
                          }"
                        >
                          <div class="rounded p-3">{{ row.fullName | initials }}</div>
                        </div>
                      </ng-template> -->
                      <div class="media-body mt-50">
                        <h4>Lisää uusi käyttäjä</h4>
                        <!-- <h4>{{ row.fullName }}</h4> -->
                        <!-- <div class="col-12 d-flex mt-1 px-0">
                          <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                            <span class="d-none d-sm-block">Change</span>
                            <input
                              class="form-control"
                              type="file"
                              id="change-picture"
                              hidden
                              accept="image/png, image/jpeg, image/jpg"
                            />
                            <span class="d-block d-sm-none">
                              <i class="mr-0" data-feather="edit"></i>
                            </span>
                          </label>
                          <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                          <button class="btn btn-outline-secondary d-block d-sm-none">
                            <i class="mr-0" data-feather="trash-2"></i>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="firstName">{{ 'EDIT.FIRSTNAME' | translate }}</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{ 'EDIT.FIRSTNAME' | translate }}"
                              name="firstName"
                              formControlName="firstName"
                              id="firstName"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="lastName">{{ 'EDIT.LASTNAME' | translate }}</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{ 'EDIT.LASTNAME' | translate }}"
                              formControlName="lastName"
                              name="lastName"
                              id="lastName"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="email">{{ 'EDIT.EMAIL' | translate }}</label>
                            <input
                              type="email"
                              class="form-control"
                              placeholder="{{ 'EDIT.EMAIL' | translate }}"
                              formControlName="email"
                              name="email"
                              id="email"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="mobile">{{ 'EDIT.MOBILE' | translate }}</label>
                            <input type="tel" class="form-control" placeholder="{{ 'EDIT.MOBILE' | translate }}" formControlName="mobile"  name="mobile" id="mobile" />
                          </div>
                        </div>
                        <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" [(ngModel)]="row.status" name="status" id="status">
                              <option>active</option>
                              <option>inactive</option>
                              <option>pending</option>
                            </select>
                          </div>
                        </div> -->
                        <div class="col-md-4" *ngIf="this.curruser.role == 'Admin'">
                          <div class="form-group">
                            <label for="role">Rooli</label>
                            <select class="form-control"  name="role" id="role" formControlName="role" aria-readonly="true">
                              <option value="">Rooli</option>
                              <!-- <option>Maintainer</option>
                              <option>Subscriber</option>
                              <option>Author</option>
                              <option>Editor</option> -->
                              <option value="4">Työntekijä</option>
                              <option value="3">Yritys</option>
                              <option value="2">Moderator</option>
                              <option *ngIf="curruser.role == 'Admin'" value="1">Admin</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="company">Liitä yritykseen</label>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio0" name="add_company" formControlName="add_company" value="none" class="custom-control-input" checked (click)="display(3)" />
                              <label class="custom-control-label" for="customRadio0">Älä liitä</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio1" name="add_company" formControlName="add_company" value="new" class="custom-control-input" (click)="display(2)" />
                              <label class="custom-control-label" for="customRadio1">Uusi yritys</label>
                            </div>
                            <div class="custom-control custom-radio">
                              <input type="radio" id="customRadio2" name="add_company" formControlName="add_company" value="existing" class="custom-control-input" (click)="display(1)"/>
                              <label class="custom-control-label" for="customRadio2">Olemassa oleva yritys</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="rounded mt-1" id="new-company" *ngIf="newCompany">
                            <h6 class="py-1 mx-1 mb-0 font-medium-2">
                              <i data-feather="briefcase" [size]="20" class="mr-25"></i>
                              <span class="align-middle">Uuden yrityksen tiedot</span>
                            </h6>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="c_name">Yrityksen Nimi</label>
                                  <input type="text" class="form-control" placeholder="Yrityksen Nimi" name="c_name"
                                    formControlName="c_name" id="c_name" />
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="c_businessid">Y-Tunnus</label>
                                  <input type="text" class="form-control" placeholder="Y-Tunnus" formControlName="c_businessid"
                                    name="c_businessid" id="c_businessid" />
                                </div>
                              </div>

                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="c_contact">Yhteyshenkilö</label>
                                  <input type="text" class="form-control" placeholder="Yhteyshenkilö" formControlName="c_contact"
                                    name="c_contact" id="c_contact" />
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="c_email">Sähköposti</label>
                                  <input type="text" class="form-control" placeholder="Sähköposti" formControlName="c_email"
                                    name="c_email" id="c_email" />
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="c_mobile">Puhelinnumero</label>
                                  <input type="text" class="form-control" placeholder="Puhelinnumero" formControlName="c_mobile"
                                    name="c_mobile" id="c_mobile" />
                                </div>
                              </div>

                              <div class="col-md-4">
                              </div>

                              <div class="col-md-12 mt-2">
                                <p>
                                  &nbsp;
                                  <label><strong>Yrityskohtainen hinnasto</strong></label>
                                </p>
                              </div>

                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="subscription_price">Kuukausimaksu</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="23.99" formControlName="subscription_price"  name="subscription_price"
                                      id="subscription_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('subscription_price').hasError('pattern') && loginForm.get('subscription_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                              <!-- <div class="col-md-4">
                                <div class="form-group">
                                  <label for="click_price">Klikkihinta €</label>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="c_click_price"  name="click_price"
                                    id="click_price" />
                                </div> -->
                              <div class="col-md-12">
                                
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="event_muutto_price">Muutto avaushinta</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0.19" formControlName="event_muutto_price"
                                      name="event_muutto_price" id="event_muutto_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('event_muutto_price').hasError('pattern') && loginForm.get('event_muutto_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="event_rahti_price">Rahti avaushinta</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0.19" formControlName="event_rahti_price"
                                      name="event_rahti_price" id="event_rahti_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('event_rahti_price').hasError('pattern') && loginForm.get('event_rahti_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4">
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="event_ajoneuvot_price">Ajoneuvot avaushinta</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0.19" formControlName="event_ajoneuvot_price"
                                      name="event_ajoneuvot_price" id="event_ajoneuvot_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('event_ajoneuvot_price').hasError('pattern') && loginForm.get('event_ajoneuvot_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="event_massa_price">Massat avaushinta</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0.19" formControlName="event_massa_price"
                                      name="event_massa_price" id="event_massa_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('event_massa_price').hasError('pattern') && loginForm.get('event_massa_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="event_paketti_price">Paketit avaushinta</label>
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">€</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="0.19" formControlName="event_paketti_price"
                                      name="event_paketti_price" id="event_paketti_price" />
                                  </div>
                                  <span style="color:red"
                                    *ngIf="(loginForm.get('event_paketti_price').hasError('pattern') && loginForm.get('event_paketti_price').touched)">
                                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                  </span>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="rounded mt-1" id="existing-company" *ngIf="existingCompany">
                            <h6 class="py-1 mx-1 mb-0 font-medium-2">
                              <i data-feather="briefcase" [size]="20" class="mr-25"></i>
                              <span class="align-middle">Yritykset</span>
                            </h6>
                            <div class="row">
                              <div class="col-md-4">
                                <select class="form-control" name="companyid" id="companyid" formControlName="companyid" aria-readonly="true">
                                  <option value="" selected>Valitse yritys</option>
                                  <option *ngFor="let title of row.companies" [value]="title.id">
                                    {{ title.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          
                          </div>
                        </div>
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" (click)="submit()" rippleEffect>
                            {{ 'EDIT.SAVECHANGES' | translate }}
                          </button>
                          <!-- <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button> -->
                          <button class="btn btn-outline-secondary" (click)="goBack()" rippleEffect>Takaisin</button>
                        </div>
                        <div class="mt-1 ml-1">
                          <p *ngIf="errors" class="text-danger">{{ errors }}</p>
                        </div>
                      </div>
                    </form>
                    <!-- users edit account form ends -->
                  </div>
                  <!-- Account Tab ends -->
                </ng-template>
              </li>
              
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
