<div class="content-wrapper" *ngIf="curruser.role_id == 1 || curruser.role_id == 2">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container>
        <div class="card">
          <div class="card-body">
            <div class="card-title mb-3"><h2>Uusi kampanja</h2></div>
            <form [formGroup]="campaingForm">
            <div class="row">

              <div class="col-12">
                <h4 class="card-title">Kampanja perustiedot</h4>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="basicInput">Kampanjan nimi</label>
                  <input type="text" class="form-control" id="basicInput" placeholder="Nimi" formControlName="name" />
                </div>
              </div>
              <div class="col-12">
                <label for="basicTextarea">Kampanjan kuvaus</label>
                <fieldset class="form-group">
                  <textarea class="form-control" id="basicTextarea" rows="3" placeholder="Kuvaus" formControlName="description"></textarea>
                </fieldset>
              </div>
              <div class="col-12">
                <label>Kampanjan tyyppi</label>
                <fieldset class="form-group">
                  <div class="demo-inline-spacing">
                    <div class="custom-control custom-radio mt-0">
                      <input type="radio" id="customRadio1" name="is_general" class="custom-control-input" formControlName="is_general" value="true" (click)="styleSelected(1)"/>
                      <label class="custom-control-label" for="customRadio1">Yleinen</label>
                    </div>
                    <div class="custom-control custom-radio mt-0">
                      <input type="radio" id="customRadio2" name="is_general" class="custom-control-input" formControlName="is_general" value="false" (click)="styleSelected(2)"/>
                      <label class="custom-control-label" for="customRadio2">Yrityskohtainen</label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <!-- Jos yleinen -->
              <div class="col-12 campaing-style" id="campaing-style-general">
                <fieldset class="form-group">
                  <div class="custom-control custom-switch custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="is_solid"/>
                    <label class="custom-control-label" for="customSwitch1">Kiinteä tarjous</label>
                  </div>
                  <p class="mb-0"><small class="text-muted">Kiinteä kampanja kumoaa yrityskohtaiset tarjoukset.</small></p>
                </fieldset>
              </div>
              <!-- Jos yrityskohtainen -->
              <div class="col-12 campaing-style" id="campaing-style-not-general">
                <fieldset class="form-group">
                  <label>Valitse yritys/yritykset</label>
                  <div class="form-group">
                    <ng-select #selectMultiLimited [items]="selectMulti" [multiple]="true"
                      bindLabel="name" [(ngModel)]="selectMultiLimitedSelected" formControlName="companies">
                    </ng-select>
                  </div>
                </fieldset>
              </div>

              <div class="col-12">
                <hr>
              </div>

              <div class="col-12">
                <h4 class="card-title mt-1">Kampanja hinnasto</h4>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="first-name-column">Kuukausihinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="first-name-column" class="form-control" name="fname-column" formControlName="monthly_subscription_price" placeholder="5.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.monthly_subscription_price }}€</small></p>
                  <span style="color:red" *ngIf="(campaingForm.get('monthly_subscription_price').hasError('pattern') && campaingForm.get('monthly_subscription_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="first-name-column">Muutto avaushinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="first-name-column" class="form-control" name="fname-column" formControlName="event_muutto_price" placeholder="0.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.event_muutto_price }}€</small></p>
                  <span style="color:red"
                    *ngIf="(campaingForm.get('event_muutto_price').hasError('pattern') && campaingForm.get('event_muutto_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="last-name-column">Rahti avaushinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="last-name-column" class="form-control" name="lname-column" formControlName="event_rahti_price" placeholder="0.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.event_rahti_price }}€</small></p>
                  <span style="color:red"
                    *ngIf="(campaingForm.get('event_rahti_price').hasError('pattern') && campaingForm.get('event_rahti_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="city-column">Ajoneuvo avaushinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="city-column" class="form-control" name="city-column" formControlName="event_ajoneuvot_price" placeholder="0.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.event_ajoneuvot_price }}€</small></p>
                  <span style="color:red"
                    *ngIf="(campaingForm.get('event_ajoneuvot_price').hasError('pattern') && campaingForm.get('event_ajoneuvot_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="country-floating">Massa avaushinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="country-floating" class="form-control" name="country-floating" formControlName="event_massa_price" placeholder="0.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.event_massa_price }}€</small></p>
                  <span style="color:red"
                    *ngIf="(campaingForm.get('event_massa_price').hasError('pattern') && campaingForm.get('event_massa_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label for="paketti">Pienpaketit avaushinta</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">€</span>
                    </div>
                    <input type="text" id="paketti" class="form-control" name="paketti"
                      formControlName="event_paketti_price" placeholder="0.99" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Oletushinta {{ defPrices.event_paketti_price }}€</small></p>
                  <span style="color:red"
                    *ngIf="(campaingForm.get('event_paketti_price').hasError('pattern') && campaingForm.get('event_paketti_price').touched)">
                    Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                  </span>
                </div>
              </div>

              <!-- <div class="col-12">
                <hr>
              </div>

              <div class="col-12">
                <h4 class="card-title mt-1">Kampanja avaukset</h4>
              </div>

              <div class="col-12">
                <div class="form-group">
                  <label for="free_opens">Sisältyykö kampanjaan ilmaisia avauskertoja</label>
                  <div class="input-group">
                    <input type="number" id="free_opens" class="form-control" name="free_opens"
                      placeholder="Ilmaisia avauksia per yritys" />
                  </div>
                  <p class="mb-0"><small class="text-muted">Jos kampanjaan ei sisälly ilmaisia avauksia, jätä kenttä tyhjäksi</small></p>
                </div>
              </div> -->

              <div class="col-12">
                <hr>
              </div>

              <div class="col-12">
                <h4 class="card-title mt-1">Kampanja ajankohta</h4>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Alkaa</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Alku pvm" name="Basic Date Picker" [(ngModel)]="basicDPdata"
                      ngbDatepicker #basicDP="ngbDatepicker" formControlName="start_date"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()" type="button"
                        rippleEffect></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <ngb-timepicker [(ngModel)]="basicTP" [spinners]="false" formControlName="start_time"></ngb-timepicker>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>Päättyy</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="Loppu pvm" name="Basic Date Picker" [(ngModel)]="basicDPdata2"
                      ngbDatepicker #basicDP2="ngbDatepicker" formControlName="end_date"/>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP2.toggle()" type="button"
                        rippleEffect></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-group">
                  <label>&nbsp;</label>
                  <ngb-timepicker [(ngModel)]="basicTP2" [spinners]="false" formControlName="end_time"></ngb-timepicker>
                </div>
              </div>

              <div class="col-12 mt-2" *ngIf="errors">
                <ngb-alert [type]="'danger'" [dismissible]="false">
                  <div class="alert-body">
                    {{ errors }}
                  </div>
                </ngb-alert>
              </div>

              <div class="col-12 mt-2">
                <button (click)="submitForm()" [disabled]="!campaingForm.valid" rippleEffect class="btn btn-primary mr-1">Lisää kampanja</button>
                <button (click)="goBack()" rippleEffect class="btn btn-outline-secondary">Takaisin</button>
              </div>

              

            </div>
            </form>
            
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
