<div class="content-wrapper">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-4 col-lg-12 ">
                  <div>
                    <h4>{{data.name}}</h4>
                  </div>
                  <div class="form-group">
                    <p>
                      <b>Kuvaus:</b>
                      <br>
                      {{data.description}}
                    </p>
                  </div>
                </div>
                <div class="col-xl-8 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="clock" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Ajankohta</span>
                      </div>
                      <p class="card-text mb-0">{{ data.start }} <b>-</b> {{ data.end }}</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="activity" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Tila</span>
                      </div>
                      <p class="card-text mb-0">
                        <span *ngIf="data.active" class="text-success">Aktiivinen</span>
                        <span *ngIf="data.expired" class="text-danger font-weight-bold">Päättynyt</span>
                        <span *ngIf="!data.expired && !data.active" class="text-danger">Ei aktiivinen</span>
                      </p>
                    </div>
                    <div class="d-flex flex-wrap mt-2" *ngIf="this.curruser.role == 'Admin' || this.curruser.role == 'Moderator'">
                      <a routerLink="/apps/campaing/campaing-edit/{{ data.id }}" class="btn btn-primary" rippleEffect>
                        Muokkaa
                      </a>
                      <button class="btn btn-outline-danger ml-1" rippleEffect (click)="clickMethod(data.name, data.id)">
                        Poista
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row mt-3">
                <div class="col-12">
                  <p>
                    <b>Ilmaiset avaukset</b>
                  </p>
                  <p>
                    Kuukauteen sisältyy x ilmaista avausta. / Kuukauteen ei sisälly ilmaisia avauksia.
                  </p>
                </div>
              </div> -->
              <div class="row mt-1">
                <div class="col-12">
                  <p>
                    <b>Kampanjan hinnat</b>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Kuukausihinta</th>
                          <th>Muutto avaushinta</th>
                          <th>Rahti avaushinta</th>
                          <th>Ajoneuvot avaushinta</th>
                          <th>Massat avaushinta</th>
                          <th>Paketit avaushinta</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{data.subprice}}</td>
                          <td>{{data.muuttoprice}}</td>
                          <td>{{data.rahtiprice}}</td>
                          <td>{{data.ajoneuvoprice}}</td>
                          <td>{{data.massaprice}}</td>
                          <td>{{data.pakettiprice}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- Plan Card starts-->
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="card plan-card border-primary" *ngIf="data.is_general">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">Yleinen kampanja</h5>
            </div>
            <div class="card-body" *ngIf="this.curruser.role == 'Admin' || this.curruser.role == 'Moderator'">
              <div class="badge badge-light-primary" *ngIf="data.is_solid">Kiinteä</div>
              <div class="badge badge-light-primary" *ngIf="!data.is_solid">Ei kiinteä</div>
            </div>
          </div>
          <!--  -->
          <div class="card plan-card border-primary" *ngIf="!data.is_general">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">Yrityskohtainen kampanja</h5>
            </div>
            <div class="card-body" *ngIf="this.curruser.role == 'Admin' || this.curruser.role == 'Moderator'">
              Yritykset:
              <a class="badge badge-light-primary mr-1" *ngFor="let tmp of data.companies" routerLink="/apps/company/company-view/{{tmp.id}}">{{tmp.name}}</a>
            </div>
          </div>
        </div>
        <!-- /Plan CardEnds -->
      </div>
    </section>
    <!-- page users view end -->
  </div>
</div>
