<div class="content-wrapper">
  <div class="content-body">
    <section class="invoice-preview-wrapper" *ngIf="usr.role_id == 1">
      <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 printRef">
          <div class="card invoice-preview-card">
              <div [formGroup]="form">
              
              <!-- Header Starts  -->
              <!-- <app-breadcrumb class="mt-1 ml-1" [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
              <div class="text-left mx-1 mt-50">
                <button (click)="goBack()" class="btn btn-outline-primary ml-1">Takaisin</button>
              </div> -->
              <div class="card-body invoice-padding pb-0">
                <h4 class="invoice-title text-left mb-2">
                  Muokkaa tarjouspyyntöä
                </h4>
                <div *ngIf="errormessage" class="mx-2">
                  <ngb-alert [type]="'danger'" [dismissible]="true">
                    <div class="alert-body">
                      {{ errormessage }}
                    </div>
                  </ngb-alert>
                </div>
                <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                  <div class="mt-md-0 mt-2">
                    <!-- <div class="invoice-date-wrapper mb-1" style="flex-wrap: wrap;" *ngIf="apiData.responded_at.length > 0 && apiData.responded_at[0].is_accepted == 1">
                      <h5 class="invoice-date-title text-primary" style="width:auto;">Tarjous hyväksytty! Hyväksytty @ </h5>
                      <p class="invoice-date text-primary">{{ apiData.acceptedTime }} </p>
                      <p class="text-primary w-100"><i>Olethan pian yhteydessä asiakkaaseen</i></p>
                    </div>
                    <div class="invoice-date-wrapper mb-1" *ngIf="apiData.responded_at.length > 0 && apiData.responded_at[0].is_accepted == 0">
                      <h6 class="invoice-date-title text-primary" style="width:auto;">Vastaus tarjouspyyntöön jätetty:</h6>
                      <p class="invoice-date text-primary">{{ apiData.responded_at[0].responded }} </p>
                    </div> -->
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title">Jätetty:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="jtet" formControlName="jatetty" type="text" placeholder="Jätetty">
                      </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title">Ajankohta:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="ajk" formControlName="ajankohta" type="text" placeholder="Ajankohta">
                        <span class="light">+-</span> <input class="form-control editformi pikkuinput" id="plsmin" formControlName="plusminus" type="text" placeholder="+- päivää" >&nbsp;pv
                      </p>
                    </div>
                    <!-- <div class="invoice-date-wrapper">
                      <p class="invoice-date-title">Aikaa jäljellä:</p>
                      <p class="invoice-date">{{ apiData.timeleft }} </p>
                    </div> -->
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title ">Vastattava viimeistään:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="etu" formControlName="viimeistaan" type="text" placeholder="Vastattava viimeistään">
                      </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title ">Näytä yhteystiedot/kiireinen:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="kiir" formControlName="kiireinen" type="checkbox" >
                      </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title ">Tunniste:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="idef" formControlName="tunniste" type="text" placeholder="Tunniste">
                      </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title ">Kirjauskieli:</p>
                      <p class="invoice-date">
                        <!-- <input class="form-control editformi" id="kie" formControlName="kieli" type="text" placeholder="Tunniste"> -->
                        <select class="form-control editformi" id="kate" formControlName="kieli">
                          <option value="fi">Suomi</option>
                          <option value="en">Englanti</option>
                          <option value="sv">Ruotsi</option>
                        </select>
                      </p>
                    </div>
                    <div class="invoice-date-wrapper">
                      <p class="invoice-date-title ">Avauksia jäljellä:</p>
                      <p class="invoice-date">
                        <input class="form-control editformi" id="ava" formControlName="avauksia" type="number" placeholder="Avauksia jäljellä">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="invoice-spacing" />
              <!-- Header Ends -->

              <!-- Address And Contact Starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row mx-0" *ngIf="apiData.contactdetails">
                  <div class="col-12 p-0 mt-xl-0 mt-2">
                    <h6>Yhteystiedot:</h6>
                    <div class="row">
                      <div class="form-group mb-25 mr-25">
                        <label for="etu" class="d-block">Etunimi</label>
                        <input class="form-control editformi" id="etu" formControlName="etunimi" type="text" placeholder="Etunimi" >
                      </div>
                      <div class="form-group mb-25">
                        <label for="suku" class="d-block">Sukunimi</label>
                        <input class="form-control editformi" id="suku" formControlName="sukunimi" type="text" placeholder="Sukunimi" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group mb-25 mr-25">
                        <label for="spost" class="d-block">Sähköposti</label>
                        <input class="form-control editformi" id="spost" formControlName="sposti" type="text" placeholder="Sähköposti" >
                      </div>
                      <div class="form-group mb-25">
                        <label for="tel" class="d-block">Puhelin</label>
                        <input class="form-control editformi" id="tel" formControlName="puhelin" type="text" placeholder="Puhelinnumero" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group mb-25 mr-25">
                        <label for="yri" class="d-block">Yritys</label>
                        <input class="form-control editformi" id="yri" formControlName="yritys" type="text" placeholder="Yrityksen nimi" >
                      </div>
                      <div class="form-group mb-25">
                        <label for="ytun" class="d-block">Y-Tunnus</label>
                        <input class="form-control editformi" id="ytun" formControlName="ytunnus" type="text" placeholder="Y-Tunnus" >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mx-0 my-1">
                  <div class="col-12 p-0 mt-xl-0 mt-2">
                    <h6>Kohteen tiedot:</h6>
                    <div class="row">
                      <div class="form-group mb-25 mr-25">
                        <label for="kate" class="d-block">Kategoria</label>
                        <select class="form-control editformi" id="kate" formControlName="kategoria" (change)="onTypeChange($event.target.value)">
                          <option value="Muutto">Muutto</option>
                          <option value="Rahti">Rahti</option>
                          <option value="Ajoneuvo">Ajoneuvo/vene/kone</option>
                          <option value="Massa">Maa-aines/rakennustarvike</option>
                          <option value="Paketti">Pientavara/paketti</option>
                        </select>
                      </div>
                      <div class="form-group mb-25 mr-25" *ngIf="tenderType == 'Muutto'">
                        <label for="typ" class="d-block">Tyyppi(mistä)</label>
                        <select class="form-control editformi" id="typ" formControlName="tyyppif">
                          <option value="Omakotitalo">Omakotitalo</option>
                          <option value="Paritalo">Paritalo</option>
                          <option value="Rivitalo">Rivitalo</option>
                          <option value="Kerrostalo">Kerrostalo</option>
                          <option value="Erillistalo">Erillistalo</option>
                          <option value="Luhtitalo">Luhtitalo</option>
                          <option value="Puutalo-osake">Puutalo-osake</option>
                        </select>
                      </div>
                      <div class="form-group mb-25 mr-25" *ngIf="tenderType == 'Muutto'">
                        <label for="tyyp" class="d-block">Tyyppi(mihin)</label>
                        <select class="form-control editformi" id="tyyp" formControlName="tyyppit">
                          <option value="Omakotitalo">Omakotitalo</option>
                          <option value="Paritalo">Paritalo</option>
                          <option value="Rivitalo">Rivitalo</option>
                          <option value="Kerrostalo">Kerrostalo</option>
                          <option value="Erillistalo">Erillistalo</option>
                          <option value="Luhtitalo">Luhtitalo</option>
                          <option value="Puutalo-osake">Puutalo-osake</option>
                        </select>
                      </div>
                      <div class="form-group mb-25" *ngIf="tenderType != 'Muutto'">
                        <label for="typ" class="d-block">Sisältö</label>
                        <input class="form-control editformi" id="typ" formControlName="sisalto" type="text" placeholder="Sisältö">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row invoice-spacing">
                  <div class="col-xl-6 p-0 mt-xl-0 mt-2">
                    <h6 class="mb-2">Mistä:</h6>
                    <table>
                      <tbody>
                        <tr>
                          <td class="pr-1">
                            <span *ngIf="tenderType == 'Muutto'">Koko:</span>
                            <span *ngIf="tenderType == 'Massa'">Kuutiot:</span>
                            <span *ngIf="tenderType != 'Muutto' && tenderType != 'Massa'">Paino:</span>
                          </td>
                          <td>
                            <span class="font-weight-bold" *ngIf="tenderType == 'Muutto'">
                              <input class="form-control editformi" type="text" formControlName="koko" placeholder="koko" >m<sup>2</sup>
                            </span>
                            <span class="font-weight-bold" *ngIf="tenderType == 'Massa'">
                              <input class="form-control editformi" type="text" formControlName="koko" placeholder="kuutiot">m<sup>3</sup>
                            </span>
                            <span class="font-weight-bold" *ngIf="tenderType != 'Muutto' && tenderType != 'Massa'">
                              <input class="form-control editformi" type="text" formControlName="koko" placeholder="paino">kg
                            </span>
                          </td>
                        </tr>
                        <tr *ngIf="tenderType == 'Rahti' || tenderType == 'Paketti'">
                          <td>
                            Leveys:
                          </td>
                          <td>
                            <span class="font-weight-bold">
                              <input class="form-control editformi" type="text" formControlName="leveys" placeholder="leveys">cm
                            </span>
                          </td>
                        </tr>
                        <tr *ngIf="tenderType == 'Rahti' || tenderType == 'Paketti'">
                          <td>
                            Korkeus:
                          </td>
                          <td>
                            <span class="font-weight-bold">
                              <input class="form-control editformi" type="text" formControlName="korkeus" placeholder="korkeus">cm
                            </span>
                          </td>
                        </tr>
                        <tr *ngIf="tenderType == 'Rahti' || tenderType == 'Paketti'">
                          <td>
                            Pituus:
                          </td>
                          <td>
                            <span class="font-weight-bold">
                              <input class="form-control editformi" type="text" formControlName="pituus" placeholder="pituus">cm
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="pr-1">Maa:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="maa" placeholder="maa">
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Osoite:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="osoite" placeholder="osoite">
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Postinumero:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="postinumero" placeholder="postinumero">
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Kaupunki:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="kaupunki" placeholder="kaupunki">
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="pr-1">Lisätiedot:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="lisatiedot" placeholder="Lisätiedot">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-xl-6 p-0 mt-xl-0 mt-2">
                    <h6 class="mb-2">Mihin:</h6>
                    <table>
                      <tbody>
                        <tr *ngIf="tenderType == 'Muutto'">
                          <td class="pr-1">
                            <span >Koko:</span>
                          </td>
                          <td>
                            <span class="font-weight-bold">
                              <input class="form-control editformi" type="text" formControlName="kohde_koko" placeholder="Koko" value="{{ apiData.whereto.type_size }}">m<sup>2</sup>
                            </span>
                          </td>
                        </tr>
                        <tr *ngIf="tenderType == 'Muutto'">
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="pr-1">Maa:</td>
                          <td>
                            <input class="form-control editformi" type="text" formControlName="kohde_maa" placeholder="maa">
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Osoite:</td>
                          <td>
                            <!-- <span class="font-weight-bold">{{ apiData.whereto.address }}</span> -->
                            <input class="form-control editformi" type="text" formControlName="kohde_osoite" placeholder="osoite" >
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Postinumero:</td>
                          <td>
                            <!-- <span class="font-weight-bold">{{ apiData.whereto.postal_code }}</span> -->
                            <input class="form-control editformi" type="text" formControlName="kohde_postinumero" placeholder="postinumero">
                          </td>
                        </tr>
                        <tr>
                          <td class="pr-1">Kaupunki:</td>
                          <td>
                            <!-- <span class="font-weight-bold">{{ apiData.whereto.city }}</span> -->
                            <input class="form-control editformi" type="text" formControlName="kohde_kaupunki" placeholder="kaupunki" >
                          </td>
                        </tr>
                        <tr>
                          <td>&nbsp;</td>
                          <td>&nbsp;</td>
                        </tr>
                        <tr>
                          <td class="pr-1">Lisätiedot:</td>
                          <td>
                            <!-- <span class="font-weight-bold">{{ apiData.whereto.info }}</span> -->
                            <input class="form-control editformi" type="text" formControlName="kohde_lisatiedot" placeholder="lisätiedot">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- Address And Contact Ends -->


              <hr class="invoice-spacing" />

              <!-- Invoice Note Starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row">
                  <div class="col-12">
                    <h6 class="mb-2">Lisätiedot: </h6>
                    <!-- <p>
                      {{ apiData.information }}
                    </p> -->
                    <textarea class="form-control editformi" formControlName="kaikki_lisatiedot" rows="4" cols="50"></textarea>
                  </div>
                </div>
              </div>
              <!-- Invoice Note Ends -->

              <hr class="invoice-spacing" />
              
              <!-- Invoice Note Starts -->
              <div class="card-body invoice-padding pt-0">
                <div class="row">
                  <div class="col-12">
                    <h6 class="mb-2">Kuvat: </h6>
                    <ul class="list-group list-group-flush" >
                      <li class="list-group-item">
                        <span class="leftiside">Tiedosto</span><span class="rightiside">Poista</span>
                      </li>
                      <li class="list-group-item" *ngFor="let img of kuvat; let i = index">
                        <span class="leftiside">
                          {{(i + 1)}} <a href="{{ img.fullUrl }}" target="_blank">{{ img.filename }}</a>
                        </span>
                        <span class="rightiside">
                          <!-- <input type="checkbox" name="imagi-{{i}}" id="imagi-{{i}}"> -->
                          <input type="checkbox" [value]="img.id" (change)="onCheckboxChange($event)" />
                        </span>
                      </li>
                    </ul>
                    <div *ngIf="poistettavat > 0" class="mt-1">
                      <button class="btn btn-sm btn-outline-danger" (click)="submitCheckboxForm()">
                        Poista valitut kuvat
                      </button>
                    </div>
                    <div *ngIf="ernormessage" class="mx-2">
                      <ngb-alert [type]="'danger'" [dismissible]="true">
                        <div class="alert-body">
                          {{ ernormessage }}
                        </div>
                      </ngb-alert>
                    </div>
                    <div *ngIf="kuvat.length == 0">
                      <p>
                        Ei kuvia..
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12 mt-1">
                    <div class="form-group mb-25">
                      <label for="imgs" class="d-block">Lisää kuvia (Max 5 kuvaa kerralla)</label>
                      <input type="file" id="imgs" class="form-control editformi" accept="image/png, image/jpeg" multiple (change)="selectFiles($event)" />
                    </div>
                  </div>
                  <div class="col-12 my-1">
                    <button class="btn btn-sm btn-success" [disabled]="!selectedFiles" (click)="uploadFiles()">
                      Tallenna uudet kuvat
                    </button>
                  </div>
                  <div class="col-12">
                    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
                      <span>{{ progressInfo.fileName }}</span>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
                          attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0" aria-valuemax="100"
                          [ngStyle]="{ width: progressInfo.value + '%' }">
                          {{ progressInfo.value }}%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Invoice Note Ends -->
            </div>
          </div>
        </div>
        <!--/ Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
          <div class="card">
            <div class="card-body" *ngIf="usr.role_id == 1">
              <button (click)="saveChanges(apiData.id)" [disabled]="!form.valid" class="btn btn-block btn-primary mb-75" rippleEffect>
                Tallenna muutokset
              </button>
              <button (click)="goBack()" class="btn btn-block btn-secondary mb-75" rippleEffect>
                Peruuta
              </button>
            </div>
          </div>
        </div>
        <!--/ Invoice Actions -->
      </div>
    </section>
  </div>
</div>
