<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <div class="card mb-0">
      <div class="card-body">
        <!-- Brand logo-->
          <a class="brand-logo" href="javascript:void(0);">
            <!-- <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" /> -->
            <!-- <i class="feather font-large-1 icon-truck text-primary"></i> -->
            <img src="assets/images/logo/logo.png" alt="Logo" />
            <!-- <h2 class="brand-text text-primary ml-1">Trafipoint</h2> -->
          </a
        >
        <!-- /Brand logo-->
        <!-- Login-->
        <div >
          <div >
            <h2 class="card-title font-weight-bold mb-1">Tervetuloa Trafipointin hallintaan!</h2>
            <p class="card-text mb-2">Kirjaudu sisään puhelinnumerolla ja salasanalla.</p>
            <!-- <ngb-alert [type]="'primary'" [dismissible]="false">
              <div class="alert-body font-small-2">
                <p>
                  <small class="mr-50"><span class="font-weight-bold">Admin:</span> admin@demo.com | admin</small>
                </p>
                <p>
                  <small class="mr-50"><span class="font-weight-bold">Client:</span> client@demo.com | client</small>
                </p>
              </div>
              <span
                class="feather icon-help-circle auth-help-icon font-medium-3"
                placement="left"
                ngbTooltip="This is just for role based JWT authorization demo purpose"
              ></span>
            </ngb-alert> -->

            <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
              <div class="alert-body">
                <p>{{ error }}</p>
              </div>
            </ngb-alert>

            <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <div class="form-group">
                <label class="form-label" for="login-email">Sähköpostiosoite</label>
                <input
                  type="text"
                  formControlName="email"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  placeholder="admin@demo.com"
                  aria-describedby="login-email"
                  autofocus=""
                  tabindex="1"
                />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div> -->
              <div class="form-group">
                <label class="form-label" for="login-mobile">Puhelinnumero</label>
                <input type="tel" formControlName="mobile" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="050 123 1234"
                  aria-describedby="login-mobile" autofocus="" tabindex="1" />
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                  <div *ngIf="f.mobile.errors.mobile">Mobile must be a valid mobilenumber</div>
                </div>
              </div>
              <div class="form-group">
                <div class="d-flex justify-content-between">
                  <label for="login-password">Salasana</label
                  ><a routerLink="/pages/authentication/forgot-password-v2"><small>Unohtuiko salasana?</small></a>
                </div>
                <div class="input-group input-group-merge form-password-toggle">
                  <input
                    [type]="passwordTextType ? 'text' : 'password'"
                    formControlName="password"
                    class="form-control form-control-merge"
                    [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                    placeholder="············"
                    aria-describedby="login-password"
                    tabindex="2"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text cursor-pointer"
                      ><i
                        class="feather font-small-4"
                        [ngClass]="{
                          'icon-eye-off': passwordTextType,
                          'icon-eye': !passwordTextType
                        }"
                        (click)="togglePasswordTextType()"
                      ></i
                    ></span>
                  </div>
                </div>
                <div
                  *ngIf="submitted && f.password.errors"
                  class="invalid-feedback"
                  [ngClass]="{ 'd-block': submitted && f.password.errors }"
                >
                  <div *ngIf="f.password.errors.required">Salasana on vaadittu täytettäväksi.</div>
                </div>
              </div>
              <!-- <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" id="remember-me" type="checkbox" tabindex="3" />
                  <label class="custom-control-label" for="remember-me"> Muista minut</label>
                </div>
              </div> -->
              <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Kirjaudu sisään
              </button>
            </form>
            <!-- <p class="text-center mt-2">
              <span>Uusi käyttäjä?</span
              ><a routerLink="/pages/authentication/register-v2"><span>&nbsp;Luo käyttäjä</span></a>
            </p> -->
            <!-- <div class="divider my-2">
              <div class="divider-text">or</div>
            </div>
            <div class="auth-footer-btn d-flex justify-content-center">
              <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
              ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
              ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
              ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
            </div> -->
          </div>
        </div>
        <div>
          <p class="text-center card-text mt-3 mb-2">
            Puuttuuko tunnukset? <br> 
            Rekisteröidy palveluun Trafipointin verkkosivuston kautta
          </p>
        </div>
        <!-- /Login-->
      </div>
    </div>
    <div style="margin-top:30px;width: 100%;text-align: center;" *ngIf="platform != 'ios'">
      <u>
        <a href="https://www.trafipoint.fi/" target="_blank">Siirry trafipoint.fi etusivulle</a>
      </u>
    </div>
  </div>
</div>
