@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/datatables.component.scss';

@import '@core/scss/base/bootstrap-extended/_include'; // Components includes

// invoice list
.invoice-list-wrapper {
  .col-actions {
    a {
      &:not(.dropdown-item) {
        color: $body-color;
      }
    }
  }
}
.filterbtn {
    display: none;
}
.filtersarea {
  display: flex;
}
#dropdowni {
  display: none;
}
.navilinkki {
  display: flex;
}
.creditcard-info-bar {
    width: 100%;
    // height: 50px;
    background-color: #ea5455;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 5;
    border-radius: 5px;
    display: flex;
    padding: 15px;
    justify-content: center;
}
.info-bar-text {
    // line-height: 50px;
    align-self: center;
    text-align: center;
    margin-bottom: 0;
}
@media only screen and (max-width: 1000px) {/* from 0 to 800 px max height applies */
  // .filterbtn {
  //   display: block;
  // }
  // .filtersarea {
  //   display: none;
  // }
  #dropdowni {
    display: block;
  }
  .nav-tabs .nav-item a.navilinkki {
    display: none;
  }
  ul.cardib {
    padding:0;
  }
}

.cardib {
  border: none;
  margin-bottom: 0;
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;
  border-radius: 0.428rem;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  padding: 1rem;
}

// .card .badge:nth-child(1) {
//   position: absolute;
//   transform: rotateZ(-40deg);
//   top: 52px;
//   left: -18px;
//   padding: 0.3rem 60px;
// }
