<div class="creditcard-info-bar" *ngIf="usr && (usr.role == 'Yrittäjä' && usr.company_id && !usr.company.is_subscribed)">
<!-- <div class="creditcard-info-bar" > -->
  <p class="info-bar-text">
    <u>
      <!-- <a routerLink="/apps/company/company-edit/{{ usr.company.id }}/?nav=3" style="color:white;"> -->
      <!-- <a style="color:white;"> -->
      <a [routerLink]="['/apps/company/company-edit/' + usr.company.id]" [queryParams]="{nav: '3'}" style="color:white;">
        Jotta voit vastata tarjouspyyntöihin niin sinun pitää lisätä palveluun yrityksen maksukortti
      </a>
    </u>
  </p>
</div>
<div class="content-wrapper">
  <div class="d-flex align-items-center text-primary" style="max-width: 150px;margin:0 auto;" *ngIf="loading">
    <strong>Ladataan...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div class="content-body" *ngIf="usr && rows">
    <div class="card mb-1">
      <div class="card-body">
        <ul class="nav nav-pills justify-content-center">
          <li class="nav-item" *ngIf="usr.role != 'Työntekijä'">
            <a class="nav-link" [class.active]="kaikkiRivit === 1" routerLink="/dashboard/tenders/all">
              Kaikki tarjouspyynnöt
            </a>
          </li>
          <li class="nav-item" *ngIf="(usr.role == 'Yrittäjä' && usr.company_id) || usr.role == 'Admin'">
            <a class="nav-link" [class.active]="kaikkiRivit === 0 && vastatutRivit === 1" routerLink="/dashboard/tenders/responsed">
              Vastatut tarjouspyynnöt
            </a>
          </li>
          <li class="nav-item" *ngIf="(usr.role == 'Yrittäjä' && usr.company_id) || (usr.role == 'Työntekijä' && usr.company_id) || usr.role == 'Admin'">
            <a class="nav-link" [class.active]="kaikkiRivit === 0 && vastatutRivit === 0" routerLink="/dashboard/tenders/company-listed">
            <!-- <a class="nav-link" [class.active]="kaikkiRivit === 0 && vastatutRivit === 0" href="javascript:void(0)"> -->
              Voitetut tarjouspyynnöt
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div>
        <div ngbDropdown id="dropdowni" class="cardib">
          <button ngbDropdownToggle class="btn btn-primary" type="button" id="dropdownMenuButton" rippleEffect>
            {{ selectedvalue }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <a ngbDropdownItem (click)="changeTo(1)">Muutot</a>
            <a ngbDropdownItem (click)="changeTo(2)">Rahdit</a>
            <a ngbDropdownItem (click)="changeTo(3)">Ajoneuvot ja veneet</a>
            <a ngbDropdownItem (click)="changeTo(4)">Puu ja maa-aines</a>
            <a ngbDropdownItem (click)="changeTo(5)">Pientavara tai paketit</a>
          </div>
        </div>
        <!-- Nav tabs -->
        <ul ngbNav #navFilled="ngbNav" class="nav-tabs nav-fill cardib" style="border-radius: 0.48rem 0.48rem 0 0;">
          <!-- Muutot -->
          <li ngbNavItem>
            <a ngbNavLink class="navilinkki" id="muutotpainike">Muutot</a>
            <ng-template ngbNavContent>
              <section class="invoice-list-wrapper">
                <div>
                  <!-- Filtteröinti -->
                  <div class="card pd-1" style="box-shadow: 0 22px 24px -23px rgb(34 41 47 / 10%);border-radius: 0 0 0.48rem 0.48rem;">
                    <!-- Invoice List Header -->

                    <div class="row filtersarea">

                      <div class="col-md-3 col-sm-6 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="d-flex align-items-center w-75">
                            <label class="mb-0 d-flex align-items-center w-100">
                              <select class="form-control" (change)="sortBySth($event, 1)">
                                <option value="0">Lajittele</option>
                                <option value="1">Avaamattomat ensin</option>
                                <option value="2">Aikaa jäljellä</option>
                                <option value="3">Jätetty</option>
                                <option value="4">Kohteen tyyppi</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-6 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <input type="search" class="form-control w-75" placeholder="Kaupunki" (keyup)="cityFilterUpdate($event, 1)" />
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-6 col-12 pr-0">
                          <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                            <div class="input-group w-75">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary feather icon-calendar rounded-left" (click)="basicDP.toggle()" type="button"
                                  rippleEffect>
                                </button>
                              </div>
                              <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata" ngbDatepicker
                                #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event, 1)" (change)="dateFilterUpdate($event)"
                                (keyup)="dateFilterUpdate($event)" />
                            </div>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-6 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <label class="d-flex align-items-center mb-0 w-75">Etsi:<input type="search" class="form-control ml-50 w-100"
                              placeholder="Hae tarjousta" (keyup)="filterUpdate($event, 1)" /></label>
                        </div>
                      </div>

                      <!-- <div class="col-md-8 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-0 pb-1 pb-md-0">
                          <input type="search" class="form-control ml-50 w-100" placeholder="Kaupunki" (keyup)="cityFilterUpdate($event)" />
                        </div>

                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                          <div class="input-group ml-2 w-100">
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata" ngbDatepicker
                              #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event)" (change)="dateFilterUpdate($event)"
                              (keyup)="dateFilterUpdate($event)" />
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary feather icon-calendar" (click)="basicDP.toggle()" type="button"
                                rippleEffect>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                          <label class="d-flex align-items-center mb-0 ml-25 w-100">Etsi:<input type="search" class="form-control ml-50 w-100"
                              placeholder="Hae tarjousta" (keyup)="filterUpdate($event)" /></label>
                        </div>
                      </div> -->


                      <!-- <div hidden class="col-md-2 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-0 pb-1 pb-md-0">
                          <select class="form-control ml-0 w-100" (change)="cityFilterUpdate($event)">
                            <option value="">Paikkakunta</option>
                            <option value="Akaa">Akaa</option>
                            <option value="Alajärvi">Alajärvi</option>
                            <option value="Alavieska">Alavieska</option>
                            <option value="Alavus">Alavus</option>
                            <option value="Asikkala">Asikkala</option>
                            <option value="Askola">Askola</option>
                            <option value="Aura">Aura</option>
                            <option value="Brändö">Brändö</option>
                            <option value="Eckerö">Eckerö</option>
                            <option value="Enonkoski">Enonkoski</option>
                            <option value="Enontekiö">Enontekiö</option>
                            <option value="Espoo">Espoo</option>
                            <option value="Eura">Eura</option>
                            <option value="Eurajoki">Eurajoki</option>
                            <option value="Evijärvi">Evijärvi</option>
                            <option value="Finström">Finström</option>
                            <option value="Forssa">Forssa</option>
                            <option value="Föglö">Föglö</option>
                            <option value="Geta">Geta</option>
                            <option value="Haapajärvi">Haapajärvi</option>
                            <option value="Haapavesi">Haapavesi</option>
                            <option value="Hailuoto">Hailuoto</option>
                            <option value="Halsua">Halsua</option>
                            <option value="Hamina">Hamina</option>
                            <option value="Hammarland">Hammarland</option>
                            <option value="Hankasalmi">Hankasalmi</option>
                            <option value="Hanko">Hanko</option>
                            <option value="Harjavalta">Harjavalta</option>
                            <option value="Hartola">Hartola</option>
                            <option value="Hattula">Hattula</option>
                            <option value="Hausjärvi">Hausjärvi</option>
                            <option value="Heinola">Heinola</option>
                            <option value="Heinävesi">Heinävesi</option>
                            <option value="Helsinki">Helsinki</option>
                            <option value="Hirvensalmi">Hirvensalmi</option>
                            <option value="Hollola">Hollola</option>
                            <option value="Huittinen">Huittinen</option>
                            <option value="Humppila">Humppila</option>
                            <option value="Hyrynsalmi">Hyrynsalmi</option>
                            <option value="Hyvinkää">Hyvinkää</option>
                            <option value="Hämeenkyrö">Hämeenkyrö</option>
                            <option value="Hämeenlinna">Hämeenlinna</option>
                            <option value="Ii">Ii</option>
                            <option value="Iisalmi">Iisalmi</option>
                            <option value="Iitti">Iitti</option>
                            <option value="Ikaalinen">Ikaalinen</option>
                            <option value="Ilmajoki">Ilmajoki</option>
                            <option value="Ilomantsi">Ilomantsi</option>
                            <option value="Imatra">Imatra</option>
                            <option value="Inari">Inari</option>
                            <option value="Inkoo">Inkoo</option>
                            <option value="Isojoki">Isojoki</option>
                            <option value="Isokyrö">Isokyrö</option>
                            <option value="Janakkala">Janakkala</option>
                            <option value="Joensuu">Joensuu</option>
                            <option value="Jokioinen">Jokioinen</option>
                            <option value="Jomala">Jomala</option>
                            <option value="Joroinen">Joroinen</option>
                            <option value="Joutsa">Joutsa</option>
                            <option value="Juuka">Juuka</option>
                            <option value="Juupajoki">Juupajoki</option>
                            <option value="Juva">Juva</option>
                            <option value="Jyväskylä">Jyväskylä</option>
                            <option value="Jämijärvi">Jämijärvi</option>
                            <option value="Jämsä">Jämsä</option>
                            <option value="Järvenpää">Järvenpää</option>
                            <option value="Kaarina">Kaarina</option>
                            <option value="Kaavi">Kaavi</option>
                            <option value="Kajaani">Kajaani</option>
                            <option value="Kalajoki">Kalajoki</option>
                            <option value="Kangasala">Kangasala</option>
                            <option value="Kangasniemi">Kangasniemi</option>
                            <option value="Kankaanpää">Kankaanpää</option>
                            <option value="Kannonkoski">Kannonkoski</option>
                            <option value="Kannus">Kannus</option>
                            <option value="Karijoki">Karijoki</option>
                            <option value="Karkkila">Karkkila</option>
                            <option value="Karstula">Karstula</option>
                            <option value="Karvia">Karvia</option>
                            <option value="Kaskinen">Kaskinen</option>
                            <option value="Kauhajoki">Kauhajoki</option>
                            <option value="Kauhava">Kauhava</option>
                            <option value="Kauniainen">Kauniainen</option>
                            <option value="Kaustinen">Kaustinen</option>
                            <option value="Keitele">Keitele</option>
                            <option value="Kemi">Kemi</option>
                            <option value="Kemijärvi">Kemijärvi</option>
                            <option value="Keminmaa">Keminmaa</option>
                            <option value="Kemiönsaari">Kemiönsaari</option>
                            <option value="Kempele">Kempele</option>
                            <option value="Kerava">Kerava</option>
                            <option value="Keuruu">Keuruu</option>
                            <option value="Kihniö">Kihniö</option>
                            <option value="Kinnula">Kinnula</option>
                            <option value="Kirkkonummi">Kirkkonummi</option>
                            <option value="Kitee">Kitee</option>
                            <option value="Kittilä">Kittilä</option>
                            <option value="Kiuruvesi">Kiuruvesi</option>
                            <option value="Kivijärvi">Kivijärvi</option>
                            <option value="Kokemäki">Kokemäki</option>
                            <option value="Kokkola">Kokkola</option>
                            <option value="Kolari">Kolari</option>
                            <option value="Konnevesi">Konnevesi</option>
                            <option value="Kontiolahti">Kontiolahti</option>
                            <option value="Korsnäs">Korsnäs</option>
                            <option value="Koski Tl">Koski Tl</option>
                            <option value="Kotka">Kotka</option>
                            <option value="Kouvola">Kouvola</option>
                            <option value="Kristiinankaupunki">Kristiinankaupunki</option>
                            <option value="Kruunupyy">Kruunupyy</option>
                            <option value="Kuhmo">Kuhmo</option>
                            <option value="Kuhmoinen">Kuhmoinen</option>
                            <option value="Kumlinge">Kumlinge</option>
                            <option value="Kunnan nimi">Kunnan nimi</option>
                            <option value="Kuopio">Kuopio</option>
                            <option value="Kuortane">Kuortane</option>
                            <option value="Kurikka">Kurikka</option>
                            <option value="Kustavi">Kustavi</option>
                            <option value="Kuusamo">Kuusamo</option>
                            <option value="Kyyjärvi">Kyyjärvi</option>
                            <option value="Kärkölä">Kärkölä</option>
                            <option value="Kärsämäki">Kärsämäki</option>
                            <option value="Kökar">Kökar</option>
                            <option value="Lahti">Lahti</option>
                            <option value="Laihia">Laihia</option>
                            <option value="Laitila">Laitila</option>
                            <option value="Lapinjärvi">Lapinjärvi</option>
                            <option value="Lapinlahti">Lapinlahti</option>
                            <option value="Lappajärvi">Lappajärvi</option>
                            <option value="Lappeenranta">Lappeenranta</option>
                            <option value="Lapua">Lapua</option>
                            <option value="Laukaa">Laukaa</option>
                            <option value="Lemi">Lemi</option>
                            <option value="Lemland">Lemland</option>
                            <option value="Lempäälä">Lempäälä</option>
                            <option value="Leppävirta">Leppävirta</option>
                            <option value="Lestijärvi">Lestijärvi</option>
                            <option value="Lieksa">Lieksa</option>
                            <option value="Lieto">Lieto</option>
                            <option value="Liminka">Liminka</option>
                            <option value="Liperi">Liperi</option>
                            <option value="Lohja">Lohja</option>
                            <option value="Loimaa">Loimaa</option>
                            <option value="Loppi">Loppi</option>
                            <option value="Loviisa">Loviisa</option>
                            <option value="Luhanka">Luhanka</option>
                            <option value="Lumijoki">Lumijoki</option>
                            <option value="Lumparland">Lumparland</option>
                            <option value="Luoto">Luoto</option>
                            <option value="Luumäki">Luumäki</option>
                            <option value="Maalahti">Maalahti</option>
                            <option value="Maarianhamina">Maarianhamina</option>
                            <option value="Marttila">Marttila</option>
                            <option value="Masku">Masku</option>
                            <option value="Merijärvi">Merijärvi</option>
                            <option value="Merikarvia">Merikarvia</option>
                            <option value="Miehikkälä">Miehikkälä</option>
                            <option value="Mikkeli">Mikkeli</option>
                            <option value="Muhos">Muhos</option>
                            <option value="Multia">Multia</option>
                            <option value="Muonio">Muonio</option>
                            <option value="Mustasaari">Mustasaari</option>
                            <option value="Muurame">Muurame</option>
                            <option value="Mynämäki">Mynämäki</option>
                            <option value="Myrskylä">Myrskylä</option>
                            <option value="Mäntsälä">Mäntsälä</option>
                            <option value="Mänttä-Vilppula">Mänttä-Vilppula</option>
                            <option value="Mäntyharju">Mäntyharju</option>
                            <option value="Naantali">Naantali</option>
                            <option value="Nakkila">Nakkila</option>
                            <option value="Nivala">Nivala</option>
                            <option value="Nokia">Nokia</option>
                            <option value="Nousiainen">Nousiainen</option>
                            <option value="Nurmes">Nurmes</option>
                            <option value="Nurmijärvi">Nurmijärvi</option>
                            <option value="Närpiö">Närpiö</option>
                            <option value="Orimattila">Orimattila</option>
                            <option value="Oripää">Oripää</option>
                            <option value="Orivesi">Orivesi</option>
                            <option value="Oulainen">Oulainen</option>
                            <option value="Oulu">Oulu</option>
                            <option value="Outokumpu">Outokumpu</option>
                            <option value="Padasjoki">Padasjoki</option>
                            <option value="Paimio">Paimio</option>
                            <option value="Paltamo">Paltamo</option>
                            <option value="Parainen">Parainen</option>
                            <option value="Parikkala">Parikkala</option>
                            <option value="Parkano">Parkano</option>
                            <option value="Pedersören kunta">Pedersören kunta</option>
                            <option value="Pelkosenniemi">Pelkosenniemi</option>
                            <option value="Pello">Pello</option>
                            <option value="Perho">Perho</option>
                            <option value="Pertunmaa">Pertunmaa</option>
                            <option value="Petäjävesi">Petäjävesi</option>
                            <option value="Pieksämäki">Pieksämäki</option>
                            <option value="Pielavesi">Pielavesi</option>
                            <option value="Pietarsaari">Pietarsaari</option>
                            <option value="Pihtipudas">Pihtipudas</option>
                            <option value="Pirkkala">Pirkkala</option>
                            <option value="Polvijärvi">Polvijärvi</option>
                            <option value="Pomarkku">Pomarkku</option>
                            <option value="Pori">Pori</option>
                            <option value="Pornainen">Pornainen</option>
                            <option value="Porvoo">Porvoo</option>
                            <option value="Posio">Posio</option>
                            <option value="Pudasjärvi">Pudasjärvi</option>
                            <option value="Pukkila">Pukkila</option>
                            <option value="Punkalaidun">Punkalaidun</option>
                            <option value="Puolanka">Puolanka</option>
                            <option value="Puumala">Puumala</option>
                            <option value="Pyhtää">Pyhtää</option>
                            <option value="Pyhäjoki">Pyhäjoki</option>
                            <option value="Pyhäjärvi">Pyhäjärvi</option>
                            <option value="Pyhäntä">Pyhäntä</option>
                            <option value="Pyhäranta">Pyhäranta</option>
                            <option value="Pälkäne">Pälkäne</option>
                            <option value="Pöytyä">Pöytyä</option>
                            <option value="Raahe">Raahe</option>
                            <option value="Raasepori">Raasepori</option>
                            <option value="Raisio">Raisio</option>
                            <option value="Rantasalmi">Rantasalmi</option>
                            <option value="Ranua">Ranua</option>
                            <option value="Rauma">Rauma</option>
                            <option value="Rautalampi">Rautalampi</option>
                            <option value="Rautavaara">Rautavaara</option>
                            <option value="Rautjärvi">Rautjärvi</option>
                            <option value="Reisjärvi">Reisjärvi</option>
                            <option value="Riihimäki">Riihimäki</option>
                            <option value="Ristijärvi">Ristijärvi</option>
                            <option value="Rovaniemi">Rovaniemi</option>
                            <option value="Ruokolahti">Ruokolahti</option>
                            <option value="Ruovesi">Ruovesi</option>
                            <option value="Rusko">Rusko</option>
                            <option value="Rääkkylä">Rääkkylä</option>
                            <option value="Saarijärvi">Saarijärvi</option>
                            <option value="Salla">Salla</option>
                            <option value="Salo">Salo</option>
                            <option value="Saltvik">Saltvik</option>
                            <option value="Sastamala">Sastamala</option>
                            <option value="Sauvo">Sauvo</option>
                            <option value="Savitaipale">Savitaipale</option>
                            <option value="Savonlinna">Savonlinna</option>
                            <option value="Savukoski">Savukoski</option>
                            <option value="Seinäjoki">Seinäjoki</option>
                            <option value="Sievi">Sievi</option>
                            <option value="Siikainen">Siikainen</option>
                            <option value="Siikajoki">Siikajoki</option>
                            <option value="Siikalatva">Siikalatva</option>
                            <option value="Siilinjärvi">Siilinjärvi</option>
                            <option value="Simo">Simo</option>
                            <option value="Sipoo">Sipoo</option>
                            <option value="Siuntio">Siuntio</option>
                            <option value="Sodankylä">Sodankylä</option>
                            <option value="Soini">Soini</option>
                            <option value="Somero">Somero</option>
                            <option value="Sonkajärvi">Sonkajärvi</option>
                            <option value="Sotkamo">Sotkamo</option>
                            <option value="Sottunga">Sottunga</option>
                            <option value="Sulkava">Sulkava</option>
                            <option value="Sund">Sund</option>
                            <option value="Suomussalmi">Suomussalmi</option>
                            <option value="Suonenjoki">Suonenjoki</option>
                            <option value="Sysmä">Sysmä</option>
                            <option value="Säkylä">Säkylä</option>
                            <option value="Taipalsaari">Taipalsaari</option>
                            <option value="Taivalkoski">Taivalkoski</option>
                            <option value="Taivassalo">Taivassalo</option>
                            <option value="Tammela">Tammela</option>
                            <option value="Tampere">Tampere</option>
                            <option value="Tervo">Tervo</option>
                            <option value="Tervola">Tervola</option>
                            <option value="Teuva">Teuva</option>
                            <option value="Tohmajärvi">Tohmajärvi</option>
                            <option value="Toholampi">Toholampi</option>
                            <option value="Toivakka">Toivakka</option>
                            <option value="Tornio">Tornio</option>
                            <option value="Turku">Turku</option>
                            <option value="Tuusniemi">Tuusniemi</option>
                            <option value="Tuusula">Tuusula</option>
                            <option value="Tyrnävä">Tyrnävä</option>
                            <option value="Ulvila">Ulvila</option>
                            <option value="Urjala">Urjala</option>
                            <option value="Utajärvi">Utajärvi</option>
                            <option value="Utsjoki">Utsjoki</option>
                            <option value="Uurainen">Uurainen</option>
                            <option value="Uusikaarlepyy">Uusikaarlepyy</option>
                            <option value="Uusikaupunki">Uusikaupunki</option>
                            <option value="Vaala">Vaala</option>
                            <option value="Vaasa">Vaasa</option>
                            <option value="Valkeakoski">Valkeakoski</option>
                            <option value="Vantaa">Vantaa</option>
                            <option value="Varkaus">Varkaus</option>
                            <option value="Vehmaa">Vehmaa</option>
                            <option value="Vesanto">Vesanto</option>
                            <option value="Vesilahti">Vesilahti</option>
                            <option value="Veteli">Veteli</option>
                            <option value="Vieremä">Vieremä</option>
                            <option value="Vihti">Vihti</option>
                            <option value="Viitasaari">Viitasaari</option>
                            <option value="Vimpeli">Vimpeli</option>
                            <option value="Virolahti">Virolahti</option>
                            <option value="Virrat">Virrat</option>
                            <option value="Vårdö">Vårdö</option>
                            <option value="Vöyri">Vöyri</option>
                            <option value="Ylitornio">Ylitornio</option>
                            <option value="Ylivieska">Ylivieska</option>
                            <option value="Ylöjärvi">Ylöjärvi</option>
                            <option value="Ypäjä">Ypäjä</option>
                            <option value="Ähtäri">Ähtäri</option>
                            <option value="Äänekoski">Äänekoski</option>
                          </select>
                        </div>
                      </div>
                      <div hidden class="col-md-3 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                          <div class="input-group ml-2 w-100">
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata"
                              ngbDatepicker #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event)" (change)="dateFilterUpdate($event)" (keyup)="dateFilterUpdate($event)"/>
                            <div class="input-group-append">
                              <button 
                                class="btn btn-outline-secondary feather icon-calendar" 
                                (click)="basicDP.toggle()" 
                                type="button"
                                rippleEffect
                              >
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div hidden class="col-md-3 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                          <label class="d-flex align-items-center mb-0 ml-2 w-100"
                            >Etsi:<input
                              type="search"
                              class="form-control ml-50 w-100"
                              placeholder="Hae tarjousta"
                              (keyup)="filterUpdate($event)"
                          /></label>
                        </div>
                      </div> -->
                        
                    </div>
                    <!--/ Invoice List Header -->
                  </div>
                  <!-- Sisältö -->
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let kuljetus of muutot">
                      <div class="card text-center">
                        <span class="badge badge-secondary" *ngIf="kuljetus.show_contact_details" style="position: absolute;width: 100%;">
                          Kiireinen
                        </span>
                        <div class="card-header">
                          <span style="font-size:0.8em;text-align:left;max-width:50%;">
                            {{ kuljetus.typenicename }}
                          </span>
                          <span style="font-size:0.8em;text-align:right;max-width:50%;">
                            Jätetty <br>{{ kuljetus.created_d }} klo {{ kuljetus.created_t }}
                          </span>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ kuljetus.subtype_from }}</h4>
                          <p class="card-text">
                            Lähtöpaikka: <b>{{ kuljetus.where_from_city }}</b><br>
                            Määränpää: <b>{{ kuljetus.where_to_city }}</b><br>
                            Neliöt: <b>{{ kuljetus.where_from_type_size }} m<sup>2</sup></b><br>
                            Kirjauskieli: <b>{{ kuljetus.lang == 'fi' ? 'Suomi' : kuljetus.lang == 'en' ? 'Englanti' : kuljetus.lang == 'sv' ? 'Ruotsi' : 'Suomi' }}</b>
                          </p>
                          <div *ngIf="usr.role == 'Yrittäjä' && usr.company_id">
                            <button *ngIf="!kuljetus.isOpened && usr.company.is_subscribed" class="btn btn-outline-warning"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" (click)="newEvent(kuljetus.id)" rippleEffect>
                              {{ data.company_prices.muutto }}€
                            </button>
                            <button *ngIf="kuljetus.isOpened" class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}"
                              rippleEffect>Katso</button>
                          </div>
                          <div *ngIf="usr.role == 'Admin' || usr.role == 'Moderator'">
                            <button class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}" rippleEffect>Katso</button>
                          </div>
                        </div>
                        <div class="card-footer">
                          Aikaa jäljellä: <br>
                          {{ kuljetus.timeleft }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="muutot.length == 0">
                      <p>Ei tarjouspyyntöjä..</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- Rahdit -->
          <li ngbNavItem>
            <a ngbNavLink class="navilinkki" id="rahditpainike">Rahdit</a>
            <ng-template ngbNavContent>
              <section class="invoice-list-wrapper">
                <div>
                  <!-- Filtteröinti -->
                  <div class="card pd-1" style="box-shadow: 0 22px 24px -23px rgb(34 41 47 / 10%);border-radius: 0 0 0.48rem 0.48rem;">
                    <div class="row filtersarea">
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="d-flex align-items-center w-75">
                            <label class="mb-0 d-flex align-items-center w-100">
                              <select class="form-control" (change)="sortBySth($event, 2)">
                                <option value="0">Lajittele</option>
                                <option value="1">Avaamattomat ensin</option>
                                <option value="2">Aikaa jäljellä</option>
                                <option value="3">Jätetty</option>
                                <option value="4">Kohteen tyyppi</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <input type="search" class="form-control w-75" placeholder="Kaupunki"
                            (keyup)="cityFilterUpdate($event, 2)" />
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="input-group w-75">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary feather icon-calendar rounded-left" (click)="basicDP.toggle()"
                                type="button" rippleEffect>
                              </button>
                            </div>
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata2"
                              ngbDatepicker #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event, 2)"
                              (change)="dateFilterUpdate($event, 2)" (keyup)="dateFilterUpdate($event, 2)" />
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <label class="d-flex align-items-center mb-0 w-75">Etsi:<input type="search"
                              class="form-control ml-50 w-100" placeholder="Hae tarjousta"
                              (keyup)="filterUpdate($event, 2)" /></label>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- Sisältö -->
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let kuljetus of rahdit">
                      <div class="card text-center">
                        <span class="badge badge-secondary" *ngIf="kuljetus.show_contact_details"
                          style="position: absolute;width: 100%;">
                          Kiireinen
                        </span>
                        <div class="card-header">
                          <span style="font-size:0.8em;text-align:left;max-width:50%;">
                            {{ kuljetus.typenicename }}
                          </span>
                          <span style="font-size:0.8em;text-align:right;max-width:50%;">
                            Jätetty <br>{{ kuljetus.created_d }} klo {{ kuljetus.created_t }}
                          </span>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ kuljetus.subtype_from }}</h4>
                          <p class="card-text">
                            Lähtöpaikka: <b>{{ kuljetus.where_from_city }}</b><br>
                            Määränpää: <b>{{ kuljetus.where_to_city }}</b><br>
                            Paino: <b>{{ kuljetus.where_from_type_size }} kg</b><br>
                            Kirjauskieli: <b>{{ kuljetus.lang == 'fi' ? 'Suomi' : kuljetus.lang == 'en' ? 'Englanti' : kuljetus.lang == 'sv' ? 'Ruotsi' : 'Suomi' }}</b>
                          </p>
                          <div *ngIf="usr.role == 'Yrittäjä' && usr.company_id">
                            <button *ngIf="!kuljetus.isOpened && usr.company.is_subscribed" class="btn btn-outline-warning"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" (click)="newEvent(kuljetus.id)" rippleEffect>
                              {{ data.company_prices.rahti }}€
                            </button>
                            <button *ngIf="kuljetus.isOpened" class="btn btn-outline-success"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" rippleEffect>Katso</button>
                          </div>
                          <div *ngIf="usr.role == 'Admin' || usr.role == 'Moderator'">
                            <button class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}"
                              rippleEffect>Katso</button>
                          </div>
                        </div>
                        <div class="card-footer">
                          Aikaa jäljellä: <br>
                          {{ kuljetus.timeleft }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="rahdit.length == 0">
                      <p>Ei tarjouspyyntöjä..</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- Ajoneuvot -->
          <li ngbNavItem>
            <a ngbNavLink class="navilinkki" id="ajoneuvotpainike">Ajoneuvot, veneet ja koneet</a>
            <ng-template ngbNavContent>
              <section class="invoice-list-wrapper">
                <div>
                  <!-- Filtteröinti -->
                  <div class="card pd-1" style="box-shadow: 0 22px 24px -23px rgb(34 41 47 / 10%);border-radius: 0 0 0.48rem 0.48rem;">
                    <div class="row filtersarea">
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="d-flex align-items-center w-75">
                            <label class="mb-0 d-flex align-items-center w-100">
                              <select class="form-control" (change)="sortBySth($event, 3)">
                                <option value="0">Lajittele</option>
                                <option value="1">Avaamattomat ensin</option>
                                <option value="2">Aikaa jäljellä</option>
                                <option value="3">Jätetty</option>
                                <option value="4">Kohteen tyyppi</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <input type="search" class="form-control w-75" placeholder="Kaupunki"
                            (keyup)="cityFilterUpdate($event, 3)" />
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="input-group w-75">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary feather icon-calendar rounded-left" (click)="basicDP.toggle()"
                                type="button" rippleEffect>
                              </button>
                            </div>
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata3"
                              ngbDatepicker #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event, 3)"
                              (change)="dateFilterUpdate($event, 3)" (keyup)="dateFilterUpdate($event, 3)" />
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <label class="d-flex align-items-center mb-0 w-75">Etsi:<input type="search"
                              class="form-control ml-50 w-100" placeholder="Hae tarjousta"
                              (keyup)="filterUpdate($event, 3)" /></label>
                        </div>
                      </div>
              
                    </div>
                  </div>
                  <!-- Sisältö -->
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let kuljetus of ajoneuvot">
                      <div class="card text-center">
                        <span class="badge badge-secondary" *ngIf="kuljetus.show_contact_details"
                          style="position: absolute;width: 100%;">
                          Kiireinen
                        </span>
                        <div class="card-header">
                          <span style="font-size:0.8em;text-align:left;max-width:50%;">
                            {{ kuljetus.typenicename }}
                          </span>
                          <span style="font-size:0.8em;text-align:right;max-width:50%;">
                            Jätetty <br>{{ kuljetus.created_d }} klo {{ kuljetus.created_t }}
                          </span>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ kuljetus.subtype_from }}</h4>
                          <p class="card-text">
                            Lähtöpaikka: <b>{{ kuljetus.where_from_city }}</b><br>
                            Määränpää: <b>{{ kuljetus.where_to_city }}</b><br>
                            Paino: <b>{{ kuljetus.where_from_type_size }} kg</b><br>
                            Kirjauskieli: <b>{{ kuljetus.lang == 'fi' ? 'Suomi' : kuljetus.lang == 'en' ? 'Englanti' : kuljetus.lang == 'sv' ? 'Ruotsi' : 'Suomi' }}</b>
                          </p>
                          <div *ngIf="usr.role == 'Yrittäjä' && usr.company_id">
                            <button *ngIf="!kuljetus.isOpened && usr.company.is_subscribed" class="btn btn-outline-warning"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" (click)="newEvent(kuljetus.id)" rippleEffect>
                              {{ data.company_prices.ajoneuvo }}€
                            </button>
                            <button *ngIf="kuljetus.isOpened" class="btn btn-outline-success"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" rippleEffect>Katso</button>
                          </div>
                          <div *ngIf="usr.role == 'Admin' || usr.role == 'Moderator'">
                            <button class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}"
                              rippleEffect>Katso</button>
                          </div>
                        </div>
                        <div class="card-footer ">
                          Aikaa jäljellä: <br>
                          {{ kuljetus.timeleft }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="ajoneuvot.length == 0">
                      <p>Ei tarjouspyyntöjä..</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- Massat -->
          <li ngbNavItem>
            <a ngbNavLink class="navilinkki" id="ainespainike">Maa-ainekset ja rakennustarvikkeet</a>
            <ng-template ngbNavContent>
              <section class="invoice-list-wrapper">
                <div>
                  <!-- Filtteröinti -->
                  <div class="card pd-1" style="box-shadow: 0 22px 24px -23px rgb(34 41 47 / 10%);border-radius: 0 0 0.48rem 0.48rem;">
                    <div class="row filtersarea">
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="d-flex align-items-center w-75">
                            <label class="mb-0 d-flex align-items-center w-100">
                              <select class="form-control" (change)="sortBySth($event, 4)">
                                <option value="0">Lajittele</option>
                                <option value="1">Avaamattomat ensin</option>
                                <option value="2">Aikaa jäljellä</option>
                                <option value="3">Jätetty</option>
                                <option value="4">Kohteen tyyppi</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <input type="search" class="form-control w-75" placeholder="Kaupunki"
                            (keyup)="cityFilterUpdate($event, 4)" />
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="input-group w-75">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary feather icon-calendar rounded-left" (click)="basicDP.toggle()"
                                type="button" rippleEffect>
                              </button>
                            </div>
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata4"
                              ngbDatepicker #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event, 4)"
                              (change)="dateFilterUpdate($event, 4)" (keyup)="dateFilterUpdate($event, 4)" />
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <label class="d-flex align-items-center mb-0 w-75">Etsi:<input type="search"
                              class="form-control ml-50 w-100" placeholder="Hae tarjousta"
                              (keyup)="filterUpdate($event, 4)" /></label>
                        </div>
                      </div>
              
                    </div>
                  </div>
                  <!-- Sisältö -->
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let kuljetus of massat">
                      <div class="card text-center">
                        <span class="badge badge-secondary" *ngIf="kuljetus.show_contact_details"
                          style="position: absolute;width: 100%;">
                          Kiireinen
                        </span>
                        <div class="card-header">
                          <span style="font-size:0.8em;text-align:left;max-width:50%;">
                            {{ kuljetus.typenicename }}
                          </span>
                          <span style="font-size:0.8em;text-align:right;max-width:50%;">
                            Jätetty <br>{{ kuljetus.created_d }} klo {{ kuljetus.created_t }}
                          </span>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ kuljetus.subtype_from }}</h4>
                          <p class="card-text">
                            Lähtöpaikka: <b>{{ kuljetus.where_from_city }}</b><br>
                            Määränpää: <b>{{ kuljetus.where_to_city }}</b><br>
                            Kuutiomäärä: <b>{{ kuljetus.where_from_type_size }} m<sup>3</sup></b><br>
                            Kirjauskieli: <b>{{ kuljetus.lang == 'fi' ? 'Suomi' : kuljetus.lang == 'en' ? 'Englanti' : kuljetus.lang == 'sv' ? 'Ruotsi' : 'Suomi' }}</b>
                          </p>
                          <div *ngIf="usr.role == 'Yrittäjä' && usr.company_id">
                            <button *ngIf="!kuljetus.isOpened && usr.company.is_subscribed" class="btn btn-outline-warning"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" (click)="newEvent(kuljetus.id)" rippleEffect>
                              {{ data.company_prices.massa }}€
                            </button>
                            <button *ngIf="kuljetus.isOpened" class="btn btn-outline-success"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" rippleEffect>Katso</button>
                          </div>
                          <div *ngIf="usr.role == 'Admin' || usr.role == 'Moderator'">
                            <button class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}"
                              rippleEffect>Katso</button>
                          </div>
                        </div>
                        <div class="card-footer ">
                          Aikaa jäljellä: <br>
                          {{ kuljetus.timeleft }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="massat.length == 0">
                      <p>Ei tarjouspyyntöjä..</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
          <!-- Pientavara tai paketit -->
          <li ngbNavItem>
            <a ngbNavLink class="navilinkki" id="pientavarapainike">Pientavara tai paketit</a>
            <ng-template ngbNavContent>
              <section class="invoice-list-wrapper">
                <div>
                  <!-- Filtteröinti -->
                  <div class="card pd-1" style="box-shadow: 0 22px 24px -23px rgb(34 41 47 / 10%);border-radius: 0 0 0.48rem 0.48rem;">
                    <div class="row filtersarea">
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="d-flex align-items-center w-75">
                            <label class="mb-0 d-flex align-items-center w-100">
                              <select class="form-control" (change)="sortBySth($event, 5)">
                                <option value="0">Lajittele</option>
                                <option value="1">Avaamattomat ensin</option>
                                <option value="2">Aikaa jäljellä</option>
                                <option value="3">Jätetty</option>
                                <option value="4">Kohteen tyyppi</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <input type="search" class="form-control w-75" placeholder="Kaupunki"
                            (keyup)="cityFilterUpdate($event, 5)" />
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <div class="input-group w-75">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary feather icon-calendar rounded-left" (click)="basicDP.toggle()"
                                type="button" rippleEffect>
                              </button>
                            </div>
                            <input class="form-control" placeholder="Jätetty" name="Basic Date Picker" [(ngModel)]="basicDPdata4"
                              ngbDatepicker #basicDP="ngbDatepicker" (dateSelect)="dateFilterUpdate($event, 5)"
                              (change)="dateFilterUpdate($event, 5)" (keyup)="dateFilterUpdate($event, 5)" />
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-3 col-12 pr-0">
                        <div class="d-flex justify-content-between align-items-center mt-1 ml-1 mb-1">
                          <label class="d-flex align-items-center mb-0 w-75">Etsi:<input type="search"
                              class="form-control ml-50 w-100" placeholder="Hae tarjousta"
                              (keyup)="filterUpdate($event, 5)" /></label>
                        </div>
                      </div>
              
                    </div>
                  </div>
                  <!-- Sisältö -->
                  <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let kuljetus of paketit">
                      <div class="card text-center">
                        <span class="badge badge-secondary" *ngIf="kuljetus.show_contact_details"
                          style="position: absolute;width: 100%;">
                          Kiireinen
                        </span>
                        <div class="card-header">
                          <span style="font-size:0.8em;text-align:left;max-width:50%;">
                            {{ kuljetus.typenicename }}
                          </span>
                          <span style="font-size:0.8em;text-align:right;max-width:50%;">
                            Jätetty <br>{{ kuljetus.created_d }} klo {{ kuljetus.created_t }}
                          </span>
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ kuljetus.subtype_from }}</h4>
                          <p class="card-text">
                            Lähtöpaikka: <b>{{ kuljetus.where_from_city }}</b><br>
                            Määränpää: <b>{{ kuljetus.where_to_city }}</b><br>
                            Paino: <b>{{ kuljetus.where_from_type_size }} kg</b><br>
                            Kirjauskieli: <b>{{ kuljetus.lang == 'fi' ? 'Suomi' : kuljetus.lang == 'en' ? 'Englanti' : kuljetus.lang == 'sv' ? 'Ruotsi' : 'Suomi' }}</b>
                          </p>
                          <div *ngIf="usr.role == 'Yrittäjä' && usr.company_id">
                            <button *ngIf="!kuljetus.isOpened && usr.company.is_subscribed" class="btn btn-outline-warning"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" (click)="newEvent(kuljetus.id)" rippleEffect>
                              {{ data.company_prices.paketti }}€
                            </button>
                            <button *ngIf="kuljetus.isOpened" class="btn btn-outline-success"
                              routerLink="/apps/tender/preview/{{ kuljetus.id }}" rippleEffect>Katso</button>
                          </div>
                          <div *ngIf="usr.role == 'Admin' || usr.role == 'Moderator'">
                            <button class="btn btn-outline-success" routerLink="/apps/tender/preview/{{ kuljetus.id }}"
                              rippleEffect>Katso</button>
                          </div>
                        </div>
                        <div class="card-footer ">
                          Aikaa jäljellä: <br>
                          {{ kuljetus.timeleft }}
                        </div>
                      </div>
                    </div>
                    <div class="col-12 text-center" *ngIf="paketit.length == 0">
                      <p>Ei tarjouspyyntöjä..</p>
                    </div>
                  </div>
                </div>
              </section>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="navFilled" class="mt-0"></div>
      </div>
      
      <!--/ Invoice List -->
    </div>
  </div>
</div>
