<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <!-- <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" /> -->
      <i class="feather font-large-1 icon-truck text-primary"></i>
      <h2 class="brand-text text-primary ml-1">Trafipoint</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/register-v2-dark.svg'
              : 'assets/images/pages/register-v2.svg'
          "
          alt="Register V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Tervetuloa Trafipointin hallintaan!</h2>
        <p class="card-text mb-2">Rekisteröidy tiedoillasi!</p>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>
        <!-- <form class="auth-register-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm"> -->
        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="form-label" for="login-firstname">Etunimi</label>
            <input type="text" formControlName="firstname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" placeholder="John" aria-describedby="login-firstname"
              autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
              <div *ngIf="f.firstname.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.firstname.errors.firstname">Virheellinen sisältö.</div>
            </div>
            <!-- <label class="form-label" for="register-username">Username</label>
            <input
              class="form-control"
              id="register-username"
              type="text"
              name="register-username"
              placeholder="johndoe"
              aria-describedby="register-username"
              autofocus=""
              tabindex="1"
              [class.error]="authForm.submitted && userNameRef.invalid"
              [(ngModel)]="userNameVar"
              #userNameRef="ngModel"
              required
            />
            <span *ngIf="authForm.submitted && userNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="userNameRef.errors.required">This field is required!</small>
            </span> -->
          </div>
          <div class="form-group">
            <label class="form-label" for="login-lastname">Sukunimi</label>
            <input type="text" formControlName="lastname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" placeholder="Doe"
              aria-describedby="login-lastname" autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
              <div *ngIf="f.lastname.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.lastname.errors.lastname">Virheellinen sisältö.</div>
            </div>
            <!-- <input
              class="form-control"
              id="register-email"
              type="text"
              name="register-email"
              placeholder="john@example.com"
              aria-describedby="register-email"
              tabindex="2"
              [class.error]="authForm.submitted && emailRef.invalid"
              [(ngModel)]="emailVar"
              #emailRef="ngModel"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            />
            <span *ngIf="authForm.submitted && emailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="emailRef.errors.required">This field is required!</small>
            </span>
            <span *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" class="invalid-form">
              <small class="form-text text-danger" [hidden]="!emailRef.errors?.pattern"> Invalid email </small>
            </span> -->
          </div>
          <div class="form-group">
            <label class="form-label" for="login-mobile">Puhelinnumero</label>
            <input type="text" formControlName="mobile" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="050 123 1234" aria-describedby="login-mobile"
              autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.mobile.errors.mobile">Virheellinen sisältö.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="login-email">Sähköpostiosoite</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="johndoe@example.com" aria-describedby="login-email"
              autofocus="" tabindex="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.email.errors.email">Virheellinen sisältö.</div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="login-password">Salasana</label>
            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                class="form-control form-control-merge" [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                placeholder="············" aria-describedby="login-password" tabindex="2" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                  'icon-eye-off': passwordTextType,
                                  'icon-eye': !passwordTextType
                                }" (click)="togglePasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password.errors }">
              <div *ngIf="f.password.errors.required">Tämä kenttä tulee täyttää.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="login-password_c">Salasana uudelleen</label>
            <div class="input-group input-group-merge form-password_c-toggle">
              <input
                [type]="password_cTextType ? 'text' : 'password'"
                formControlName="password_c"
                class="form-control form-control-merge"
                [ngClass]="{ 'is-invalid error': submitted && f.password_c.errors }"
                placeholder="············"
                aria-describedby="login-password_c"
                tabindex="2"
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': password_cTextType,
                      'icon-eye': !password_cTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <div
              *ngIf="submitted && f.password_c.errors"
              class="invalid-feedback"
              [ngClass]="{ 'd-block': submitted && f.password_c.errors }"
            >
              <div *ngIf="f.password_c.errors">Salasana on vaadittu täytettäväksi.</div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="form-label" for="register-password">Password</label>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                class="form-control form-control-merge"
                id="register-password"
                [type]="passwordTextType ? 'text' : 'password'"
                name="register-password"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="3"
                [(ngModel)]="passwordVar"
                #passwordRef="ngModel"
                [class.error]="authForm.submitted && passwordRef.invalid"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && passwordRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="passwordRef.errors.required">This field is required!</small>
            </span>
          </div> -->
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="register-privacy-policy" type="checkbox" tabindex="4" required />
              <label class="custom-control-label" for="register-privacy-policy"
                >Hyväksyn palvelun<a href="javascript:void(0);">&nbsp;käyttöehdot</a></label
              >
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Rekisteröidy</button>
        </form>
        <p class="text-center mt-2">
          <span>Oletko luonut jo käyttäjän?</span
          ><a routerLink="/pages/authentication/login-v2"><span>&nbsp;Kirjaudu sisään</span></a>
        </p>
        <!-- <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a
          ><a class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a
          ><a class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a
          ><a class="btn btn-github" href="javascript:void(0)"><i data-feather="github"></i></a>
        </div> -->
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>
