<div class="content-wrapper" *ngIf="showdata">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-7">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <div class="d-flex ml-1">
                        <div class="mr-2">
                          <h4 class="mb-0">{{ data.firstName + ' ' + data.lastName }}</h4>
                          <span class="card-text">{{ data.role }}</span>
                        </div>
                        <div>
                          <a routerLink="/apps/user/user-edit/{{ data.id }}" class="btn btn-primary mr-1 mt-50" rippleEffect *ngIf="curruser.role == 'Admin' || curruser.role == 'Moderator' || curruser.id === data.id">
                            {{ 'USERVIEW.EDIT' | translate }}
                          </a>
                          <button class="btn btn-outline-danger mr-1" rippleEffect (click)="deactivate(data.firstName, data.lastName, data.id)" *ngIf="curruser.role == 'Admin' && !data.deleted_at">
                            {{ 'USERVIEW.DEACT' | translate }}
                          </button>
                          <button class="btn btn-outline-success mr-1" rippleEffect (click)="activate(data.firstName, data.lastName, data.id)" *ngIf="curruser.role == 'Admin' && data.deleted_at">
                            {{ 'USERVIEW.ACT' | translate }}
                          </button>
                          <button class="btn btn-outline-danger mr-1" rippleEffect (click)="delete(data.firstName, data.lastName, data.id)" *ngIf="curruser.role == 'Admin' && data.deleted_at">
                            {{ 'USERVIEW.REMOVEFG' | translate }}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="d-flex align-items-center user-total-numbers">
                    <div class="d-flex align-items-center mr-2">
                      <div class="color-box bg-light-primary">
                        <i [data-feather]="'dollar-sign'" [class]="'text-primary'"></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">23.3k</h5>
                        <small>Monthly Sales</small>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="color-box bg-light-success">
                        <i [data-feather]="'trending-up'" [class]="'text-success'"></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">$99.87K</h5>
                        <small>Annual Profit</small>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'USERVIEW.NAME' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.firstName + ' ' + data.lastName }}</p>
                    </div>
                    <!-- <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="check" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Status</span>
                      </div>
                      <p class="card-text mb-0">{{ data.status }}</p>
                    </div> -->
                    <!-- <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.COMPANY' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.company }}</p>
                    </div> -->
                    <div class="d-flex flex-wrap my-50" *ngIf="this.curruser.role == 'Admin'">
                      <div class="user-info-title">
                        <i data-feather="star" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'USERVIEW.ROLE' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.role }}</p>
                    </div>
                    <!-- <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="flag" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.COUNTRY' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">England</p>
                    </div> -->
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="phone" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'USERVIEW.CONTACT' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">
                        <a href="mailto:{{data.email}}">{{ data.email }}</a> <br>
                        <a href="tel:{{data.mobile}}">{{ data.mobile }}</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- Plan Card starts-->
        <div class="col-xl-3 col-lg-4 col-md-5" *ngIf="data.company && data.company.name.length > 0">
          <div class="card plan-card border-primary">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">{{ 'USERVIEW.ATTACHEDCMPN' | translate }}</h5>
              <!-- <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top" title="Expiry Date"
                >July 22, 2020 <span class="nextYear"></span>
              </span> -->
            </div>
            <div class="card-body">
              <!-- <div class="badge badge-light-primary">Basic</div> -->
              <ul class="list-unstyled my-1">
                <li>
                  <span class="align-middle">
                    {{ data.company.name }}
                  </span>
                </li>
                <li class="my-25">
                  <span class="align-middle">{{ data.company.business_id }}</span>
                </li>
                <!-- <li>
                  <span class="align-middle">Basic Support</span>
                </li> -->
              </ul>
              <!-- <button class="btn btn-primary text-center btn-block" rippleEffect>Upgrade Plan</button> -->
              <a routerLink="/apps/company/company-view/{{ data.company.id }}" class="btn btn-primary text-center btn-block" rippleEffect>
                {{ 'USERVIEW.CMPDETAILS' | translate }}
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5" *ngIf="!data.company">
          <div class="card plan-card border-primary">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">{{ 'USERVIEW.NOATC' | translate }}</h5>
            </div>
            <div class="card-body">
              <a routerLink="/apps/user/user-edit/{{ data.id }}" class="btn btn-primary text-center btn-block"
                rippleEffect>
                {{ 'USERVIEW.ATTACHCMP' | translate }}
              </a>
            </div>
          </div>
        </div>
        <!-- /Plan CardEnds -->
      </div>
      <!-- User Card & Plan Ends -->

      <!-- User Timeline & Permissions Starts -->
      <div class="row">
        <!-- information starts -->
        <!-- <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-2">User Timeline</h4>
            </div>
            <div class="card-body">
              <ul class="timeline">
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>12 Invoices have been paid</h6>
                      <span class="timeline-event-time">12 min ago</span>
                    </div>
                    <p>Invoices have been paid to the company.</p>
                    <div class="media align-items-center">
                      <img class="mr-1" src="assets/images/icons/file-icons/pdf.png" alt="invoice" height="23" />
                      <div class="media-body">invoice.pdf</div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>Client Meeting</h6>
                      <span class="timeline-event-time">45 min ago</span>
                    </div>
                    <p>Project meeting with john @10:15am.</p>
                    <div class="media align-items-center">
                      <div class="avatar">
                        <img src="assets/images/avatars/12-small.png" alt="avatar" height="38" width="38" />
                      </div>
                      <div class="media-body ml-50">
                        <h6 class="mb-0">John Doe (Client)</h6>
                        <span>CEO of Infibeam</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                      <h6>Create a new project for client</h6>
                      <span class="timeline-event-time">2 days ago</span>
                    </div>
                    <p class="mb-0">Add files to new design folder</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- information Ends -->

        <!-- User Permissions Starts -->
        <div class="col-md-6">
          <!-- User Permissions -->
          <!-- <div class="card">
            <div class="card-header">
              <h4 class="card-title">Permissions</h4>
            </div>
            <p class="card-text ml-2">Permission according to roles</p>
            <div class="table-responsive">
              <table class="table table-striped table-borderless">
                <thead class="thead-light">
                  <tr>
                    <th>Module</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Create</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Admin</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="admin-read" checked disabled />
                        <label class="custom-control-label" for="admin-read"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="admin-write" disabled />
                        <label class="custom-control-label" for="admin-write"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="admin-create" disabled />
                        <label class="custom-control-label" for="admin-create"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="admin-delete" disabled />
                        <label class="custom-control-label" for="admin-delete"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Staff</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="staff-read" disabled />
                        <label class="custom-control-label" for="staff-read"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="staff-write" checked disabled />
                        <label class="custom-control-label" for="staff-write"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="staff-create" disabled />
                        <label class="custom-control-label" for="staff-create"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="staff-delete" disabled />
                        <label class="custom-control-label" for="staff-delete"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Author</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author-read" checked disabled />
                        <label class="custom-control-label" for="author-read"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author-write" disabled />
                        <label class="custom-control-label" for="author-write"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author-create" checked disabled />
                        <label class="custom-control-label" for="author-create"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="author-delete" disabled />
                        <label class="custom-control-label" for="author-delete"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Contributor</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="contributor-read" disabled />
                        <label class="custom-control-label" for="contributor-read"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="contributor-write" disabled />
                        <label class="custom-control-label" for="contributor-write"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="contributor-create" disabled />
                        <label class="custom-control-label" for="contributor-create"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="contributor-delete" disabled />
                        <label class="custom-control-label" for="contributor-delete"></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>User</td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="user-read" disabled />
                        <label class="custom-control-label" for="user-read"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="user-create" disabled />
                        <label class="custom-control-label" for="user-create"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="user-write" disabled />
                        <label class="custom-control-label" for="user-write"></label>
                      </div>
                    </td>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="user-delete" checked disabled />
                        <label class="custom-control-label" for="user-delete"></label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
          <!-- /User Permissions -->
        </div>
        <!-- User Permissions Ends -->
      </div>
      <!-- User Timeline & Permissions Ends -->

      <!-- User Invoice Starts-->
      <!-- <div class="row invoice-list-wrapper">
        <div class="col-12">
          <div class="card">
            <app-invoice-list></app-invoice-list>
          </div>
        </div>
      </div> -->
      <!-- /User Invoice Ends-->
    </section>
    <!-- page users view end -->
  </div>
</div>
