<div class="content-wrapper">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container >
        <div class="card">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav nav-pills">
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="info" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">{{ 'EDIT.COMPANYINFORMATION' | translate }}</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information Tab starts -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <!-- users edit Info form start  -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row mt-1">
                        <div class="col-12">
                          <h4 class="mb-1">
                            <i data-feather="briefcase" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">{{ 'EDIT.COMPANYINFORMATION' | translate }}</span>
                          </h4>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="name">{{ 'EDIT.COMPANY' | translate }}</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Yrityksen nimi" id="name"
                              name="name" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="business_id">{{ 'EDIT.BUSINESSID' | translate }}</label>
                            <input
                              id="business_id"
                              type="text"
                              class="form-control"
                              placeholder="Y-Tunnus"
                              formControlName="business_id"
                              name="business_id"
                            />
                          </div>
                        </div>
                        <!-- <div class="col-12">
                          <h4 class="mb-1 mt-2">
                            <i data-feather="user" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Yhteystiedot</span>
                          </h4>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="contactperson">{{ 'EDIT.CONTACTPERSON' | translate }}</label>
                            <input id="contactperson" type="text" class="form-control" formControlName="contactperson" placeholder="Yhteyshenkilö" name="contactperson" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="email">{{ 'EDIT.EMAIL' | translate }}</label>
                            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Sähköposti" name="email" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="mobile">{{ 'EDIT.MOBILE' | translate }}</label>
                            <input id="mobile" type="text" class="form-control" formControlName="mobile" placeholder="Puhelinnumero" name="mobile" />
                          </div>
                        </div>

                        <div class="col-12">
                          <h4 class="mb-1 mt-2">
                            <i data-feather="dollar-sign" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Käyttömaksut</span>
                          </h4>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="subscription_price">Kuukausimaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="23.99" formControlName="subscription_price" name="subscription_price" id="subscription_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('subscription_price').hasError('pattern') && loginForm.get('subscription_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row">
                            <div class="col-md-12 mt-1 mb-1">
                              <label><strong>Tapahtumamaksut</strong></label>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_muutto_price">Muutto avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_muutto_price" name="event_muutto_price" id="event_muutto_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_muutto_price').hasError('pattern') && loginForm.get('event_muutto_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_rahti_price">Rahti avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_rahti_price" name="event_rahti_price"
                                    id="event_rahti_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_rahti_price').hasError('pattern') && loginForm.get('event_rahti_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_ajoneuvot_price">Ajoneuvot avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_ajoneuvot_price" name="event_ajoneuvot_price"
                                    id="event_ajoneuvot_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_ajoneuvot_price').hasError('pattern') && loginForm.get('event_ajoneuvot_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_massa_price">Massat avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_massa_price" name="event_massa_price"
                                    id="event_massa_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_massa_price').hasError('pattern') && loginForm.get('event_massa_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_paketti_price">Paketit avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_paketti_price"
                                    name="event_paketti_price" id="event_paketti_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_paketti_price').hasError('pattern') && loginForm.get('event_paketti_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                          </div>
                        </div>

                        <div class="col-12 mt-2">
                          <div *ngIf="errorz">
                            <ngb-alert [type]="'danger'" [dismissible]="false">
                              <div class="alert-body">
                                {{ errorz }}
                              </div>
                            </ngb-alert>
                          </div>
                        </div>
                        <div class="col-12 d-flex flex-sm-row flex-column">
                          <button type="submit" [disabled]="!loginForm.valid" (click)="submit()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                            Lisää yritys
                          </button>
                          <!-- <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button> -->
                          <button class="btn btn-outline-secondary" (click)="goBack()" rippleEffect>Takaisin</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit Info form ends -->
                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
