<div class="slideout-content">
  <!-- Modal To Add New User Starts-->
  <div class="modalsd modal-slide-in sdfade add-payment-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <div class="modal-content p-0">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('add-payment-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title">
            <span class="align-middle">Vastaa tarjouspyyntöön</span>
            <span class="align-middle"> {{ tendertype }}</span>
          </h5>
        </div>
        <div class="modal-body flex-grow-1">
          <form class="form-validate" [formGroup]="form">
            <!-- <div class="form-group">
              <input id="balance" class="form-control" type="text" value="Invoice Balance: 5000.00" disabled />
            </div>
            <div class="form-group">
              <label class="form-label" for="amount">Payment Amount</label>
              <input id="amount" class="form-control" type="number" placeholder="$1000" />
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-date">Payment Date</label>
              <ng2-flatpickr [config]="paymentDateOptions" name="Date"></ng2-flatpickr>
            </div> -->
            <input type="hidden" name="tender_id" formControlName="tender_id" value="{{tenderid}}">
            <div class="form-group">
              <!-- <label class="form-label" for="payment-method">Tarjouspohja</label>
              <div class="form-control" *ngIf="options.length == 0">
                <a routerLink="/apps/company/company-view/">
                  Lisää tarjouspohjia
                </a>
              </div> -->
              <!-- <select class="form-control" id="payment-method" *ngIf="options.length == 0">
                <option value="" selected disabled>Valitse tarjouspohja</option>
                <option value="Cash">Muuttopohja 1</option>
                <option value="Bank Transfer">Rahtipohja 1</option>
                <option value="Bank Transfer">Rahtipohja 2</option>
                <option value="Debit">Ajoneuvopohja 1</option>
                <option value="Debit">Ajoneuvopohja 2</option>
                <option value="Debit">Ajoneuvopohja 3</option>
                <option value="Debit">Massa-ainespohja 1</option>
              </select> -->
              <!-- <select class="form-control" id="payment-method" *ngIf="options.length > 1" (change)="changeValue($event)">
                <option value="null">Valitse tarjouspohja</option>
                <option *ngFor="let opt of options" [value]="opt.content">
                  {{opt.name}}
                </option>
              </select> -->
              <!-- <div>
                <ng-select [items]="options" bindLabel="name" class="form-control" name="payment-method" (change)="changeValue($event)"></ng-select>
              </div> -->
              <!-- <select class="form-control" id="payment-method" *ngIf="options.length > 1" (change)="changeValue($event)">
                <option value="" selected disabled>Valitse tarjouspohja</option>
                <option *ngFor="let opt of options" value="{{opt.content}}">{{ opt.name }}</option>
                <option *ngFor="let opt of options" [value]="opt.content">
                  {{opt.name}}
                </option>
              </select> -->
            </div>
            
            
            <div class="form-group">
              <label for="customSelect">Tarjouspohja</label>
              <select class="custom-select" id="customSelect" (change)="changeValue($event, 'tp')">
                <option selected disabled>Valitse tarjouspohja</option>
                <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="content">Vastaus</label>
              <textarea class="form-control" formControlName="content" id="content" rows="5" placeholder="Kirjoita tähän vastaus tarjoukseen jonka haluat välittyvän asiakkaalle."></textarea>
            </div>

            <div class="form-group">
              <label for="terms">Sopimuspohja</label>
              <select class="custom-select" id="terms" (change)="changeValue($event, 'sp')">
                <option selected disabled>Valitse sopimuspohja</option>
                <option *ngFor="let coption of contractoptions" [value]="coption.id">{{ coption.name }}</option>
              </select>
            </div>
            
            <div class="form-group">
              <label class="form-label" for="term_content">Vastaus</label>
              <textarea class="form-control" formControlName="term_content" id="term_content" rows="5"
                placeholder="Kirjoita tähän vastaus tarjoukseen jonka haluat välittyvän asiakkaalle."></textarea>
            </div>

            <div class="form-group mt-2 mb-2">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="sendcopy" formControlName="sendcopy" />
                <label class="custom-control-label form-label" style="font-size: 0.857rem;" for="sendcopy">Lähetä kopio yrityksen sähköpostiin</label>
              </div>
              <!-- <label class="form-label" for="sendcopy">Lähetä kopio vastauksesta yrityksen sähköpostiin</label>
              <input type="checkbox" class="form-control" name="sendcopy" id="sendcopy" value="true"> -->
            </div>
            <div class="form-group d-flex flex-wrap mb-0">
              <button type="button" [disabled]="!form.valid" class="btn btn-primary mr-1" (click)="submitResponse()" rippleEffect >
                Lähetä
              </button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="toggleSidebar('add-payment-sidebar')" rippleEffect >
                Peruuta
              </button>
            </div>
            <div class="form-group mt-1" *ngIf="options.length == 0">
              <div class="form-control" style="border:0;padding-left:0;">
                <a routerLink="/apps/company/company-view/{{cmpny.id}}" *ngIf="cmpny">
                  Lisää tarjouspohjia
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal To Add New User Ends-->
</div>
