<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Pills Basic & Vertically Stacked start -->
    <section id="basic-tabs-components">
      <div class="row match-height">
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeBasic">
            <h4 class="card-title">Basic</h4>
            <div class="card-body">
              <ul ngbNav #nav="ngbNav" class="nav nav-pills">
                <li ngbNavItem>
                  <a ngbNavLink>Omat kuljetukset</a>
                  <ng-template ngbNavContent>
                    
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Kaikki tarjouspyynnöt</a>
                  <ng-template ngbNavContent>
                    
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a href="javascript:void(0)" ngbNavLink>Disabled</a>
                  <ng-template ngbNavContent>
                    <p>
                      Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                      muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                      roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                      caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>About</a>
                  <ng-template ngbNavContent>
                    <p>
                      Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                      biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                      sweet bear claw. Toffee jelly-o pastry cake dessert chocolate bar jelly beans fruitcake. Dragée
                      sweet fruitcake dragée biscuit halvah wafer gingerbread dessert. Gummies fruitcake brownie gummies
                      tart pudding.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-1"></div>
            </div>
          </core-card-snippet>
        </div>
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeVerticallyStackedPills">
            <h4 class="card-title">Vertically Stacked Pills</h4>
            <div class="card-body">
              <div class="nav-vertical d-flex">
                <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column text-nowrap">
                  <li ngbNavItem>
                    <a ngbNavLink>Pill 1</a>
                    <ng-template ngbNavContent>
                      <p>
                        Pastry gummi bears sweet roll candy canes topping ice cream. Candy canes fruitcake cookie carrot
                        cake pastry. Lollipop caramels sesame snaps pie tootsie roll macaroon dessert. Muffin jujubes
                        brownie dragée ice cream cheesecake icing. Danish brownie pastry cotton candy donut. Cheesecake
                        donut candy canes. Jelly beans croissant bonbon cookie toffee. Soufflé croissant lemon drops
                        tootsie roll toffee tiramisu.
                      </p>
                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Pill 2</a>
                    <ng-template ngbNavContent>
                      <p>
                        Pudding candy canes sugar plum cookie chocolate cake powder croissant. Carrot cake tiramisu
                        danish candy cake muffin croissant tart dessert. Tiramisu caramels candy canes chocolate cake
                        sweet roll liquorice icing cupcake.Bear claw chocolate chocolate cake jelly-o pudding lemon
                        drops sweet roll sweet candy. Chocolate sweet chocolate bar candy chocolate bar chupa chups
                        gummi bears lemon drops.
                      </p>
                    </ng-template>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Pill 3 </a>
                    <ng-template ngbNavContent>
                      <p>
                        Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon
                        drops muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops
                        sweet roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                        caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                      </p>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="navVertical" class="ml-1"></div>
              </div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
    <!-- Pills Basic & Vertically Stacked end -->

    <!-- Pill Filled & Justified Starts -->
    <section id="nav-filled-justified">
      <div class="row match-height">
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeFilled">
            <h4 class="card-title">Filled</h4>
            <div class="card-body">
              <!-- Nav tabs -->
              <ul ngbNav #navFilled="ngbNav" [activeId]="'service'" class="nav nav-fill nav-pills">
                <li [ngbNavItem]="'home'">
                  <a ngbNavLink>Home</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pastry gummi bears sweet roll candy canes topping ice cream. Candy canes fruitcake cookie carrot
                      cake pastry. Lollipop caramels sesame snaps pie tootsie roll macaroon dessert. Muffin jujubes
                      brownie dragée ice cream cheesecake icing. Danish brownie pastry cotton candy donut. Cheesecake
                      donut candy canes. Jelly beans croissant bonbon cookie toffee. Soufflé croissant lemon drops
                      tootsie roll toffee tiramisu.
                    </p>
                  </ng-template>
                </li>
                <li [ngbNavItem]="'service'">
                  <a ngbNavLink>Service</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pudding candy canes sugar plum cookie chocolate cake powder croissant. Carrot cake tiramisu danish
                      candy cake muffin croissant tart dessert. Tiramisu caramels candy canes chocolate cake sweet roll
                      liquorice icing cupcake.Bear claw chocolate chocolate cake jelly-o pudding lemon drops sweet roll
                      sweet candy. Chocolate sweet chocolate bar candy chocolate bar chupa chups gummi bears lemon
                      drops.
                    </p>
                  </ng-template>
                </li>
                <li [ngbNavItem]="'disbaled'" [disabled]="true">
                  <a href="javascript:void(0)" ngbNavLink>Disabled</a>
                  <ng-template ngbNavContent>
                    <p>
                      Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                      muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                      roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                      caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                    </p>
                  </ng-template>
                </li>
                <li [ngbNavItem]="'json'">
                  <a ngbNavLink>Account</a>
                  <ng-template ngbNavContent>
                    <p>
                      Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                      biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                      sweet bear claw. Toffee jelly-o pastry cake dessert chocolate bar jelly beans fruitcake. Dragée
                      sweet fruitcake dragée biscuit halvah wafer gingerbread dessert. Gummies fruitcake brownie gummies
                      tart pudding.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="navFilled" class="mt-1"></div>
            </div>
          </core-card-snippet>
        </div>
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeJustified">
            <h4 class="card-title">Justified</h4>
            <div class="card-body">
              <ul ngbNav #navJustified="ngbNav" class="nav nav-pills nav-justified">
                <li ngbNavItem>
                  <a ngbNavLink>Home</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pastry gummi bears sweet roll candy canes topping ice cream. Candy canes fruitcake cookie carrot
                      cake pastry. Lollipop caramels sesame snaps pie tootsie roll macaroon dessert. Muffin jujubes
                      brownie dragée ice cream cheesecake icing. Danish brownie pastry cotton candy donut. Cheesecake
                      donut candy canes. Jelly beans croissant bonbon cookie toffee. Soufflé croissant lemon drops
                      tootsie roll toffee tiramisu.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Service</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pudding candy canes sugar plum cookie chocolate cake powder croissant. Carrot cake tiramisu danish
                      candy cake muffin croissant tart dessert. Tiramisu caramels candy canes chocolate cake sweet roll
                      liquorice icing cupcake.Bear claw chocolate chocolate cake jelly-o pudding lemon drops sweet roll
                      sweet candy. Chocolate sweet chocolate bar candy chocolate bar chupa chups gummi bears lemon
                      drops.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a href="javascript:void(0)" ngbNavLink>Disabled</a>
                  <ng-template ngbNavContent>
                    <p>
                      Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                      muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                      roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                      caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Account</a>
                  <ng-template ngbNavContent>
                    <p>
                      Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                      biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                      sweet bear claw. Toffee jelly-o pastry cake dessert chocolate bar jelly beans fruitcake. Dragée
                      sweet fruitcake dragée biscuit halvah wafer gingerbread dessert. Gummies fruitcake brownie gummies
                      tart pudding.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="navJustified" class="mt-1"></div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
    <!-- Pill Filled & Justified Ends -->

    <!-- Pill Center & Right Starts -->
    <section id="nav-justified">
      <div class="row match-height">
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeCenterAlignment">
            <h4 class="card-title">Center Alignment</h4>
            <div class="card-body">
              <ul ngbNav #navCenter="ngbNav" class="nav nav-pills justify-content-center">
                <li ngbNavItem>
                  <a ngbNavLink>Home</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pastry gummi bears sweet roll candy canes topping ice cream. Candy canes fruitcake cookie carrot
                      cake pastry. Lollipop caramels sesame snaps pie tootsie roll macaroon dessert. Muffin jujubes
                      brownie dragée ice cream cheesecake icing. Danish brownie pastry cotton candy donut. Cheesecake
                      donut candy canes. Jelly beans croissant bonbon cookie toffee. Soufflé croissant lemon drops
                      tootsie roll toffee tiramisu.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Service</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pudding candy canes sugar plum cookie chocolate cake powder croissant. Carrot cake tiramisu danish
                      candy cake muffin croissant tart dessert. Tiramisu caramels candy canes chocolate cake sweet roll
                      liquorice icing cupcake.Bear claw chocolate chocolate cake jelly-o pudding lemon drops sweet roll
                      sweet candy. Chocolate sweet chocolate bar candy chocolate bar chupa chups gummi bears lemon
                      drops.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a href="javascript:void(0)" ngbNavLink>Disabled</a>
                  <ng-template ngbNavContent>
                    <p>
                      Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                      muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                      roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                      caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Account</a>
                  <ng-template ngbNavContent>
                    <p>
                      Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                      biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                      sweet bear claw. Toffee jelly-o pastry cake dessert chocolate bar jelly beans fruitcake. Dragée
                      sweet fruitcake dragée biscuit halvah wafer gingerbread dessert. Gummies fruitcake brownie gummies
                      tart pudding.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="navCenter" class="mt-1"></div>
            </div>
          </core-card-snippet>
        </div>
        <div class="col-xl-6 col-lg-12">
          <core-card-snippet [snippetCode]="_snippetCodeRightAlignment">
            <h4 class="card-title">Right Alignment</h4>
            <div class="card-body">
              <ul ngbNav #navEnd="ngbNav" class="nav nav-pills justify-content-end">
                <li ngbNavItem>
                  <a ngbNavLink>Home</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pastry gummi bears sweet roll candy canes topping ice cream. Candy canes fruitcake cookie carrot
                      cake pastry. Lollipop caramels sesame snaps pie tootsie roll macaroon dessert. Muffin jujubes
                      brownie dragée ice cream cheesecake icing. Danish brownie pastry cotton candy donut. Cheesecake
                      donut candy canes. Jelly beans croissant bonbon cookie toffee. Soufflé croissant lemon drops
                      tootsie roll toffee tiramisu.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Service</a>
                  <ng-template ngbNavContent>
                    <p>
                      Pudding candy canes sugar plum cookie chocolate cake powder croissant. Carrot cake tiramisu danish
                      candy cake muffin croissant tart dessert. Tiramisu caramels candy canes chocolate cake sweet roll
                      liquorice icing cupcake.Bear claw chocolate chocolate cake jelly-o pudding lemon drops sweet roll
                      sweet candy. Chocolate sweet chocolate bar candy chocolate bar chupa chups gummi bears lemon
                      drops.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem [disabled]="true">
                  <a href="javascript:void(0)" ngbNavLink>Disabled</a>
                  <ng-template ngbNavContent>
                    <p>
                      Cake croissant lemon drops gummi bears carrot cake biscuit cupcake croissant. Macaroon lemon drops
                      muffin jelly sugar plum chocolate cupcake danish icing. Soufflé tootsie roll lemon drops sweet
                      roll cake icing cookie halvah cupcake.Chupa chups pie jelly pie tootsie roll dragée cookie
                      caramels sugar plum. Jelly oat cake wafer pie cupcake chupa chups jelly-o gingerbread.
                    </p>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Account</a>
                  <ng-template ngbNavContent>
                    <p>
                      Chocolate croissant cupcake croissant jelly donut. Cheesecake toffee apple pie chocolate bar
                      biscuit tart croissant. Lemon drops danish cookie. Oat cake macaroon icing tart lollipop cookie
                      sweet bear claw. Toffee jelly-o pastry cake dessert chocolate bar jelly beans fruitcake. Dragée
                      sweet fruitcake dragée biscuit halvah wafer gingerbread dessert. Gummies fruitcake brownie gummies
                      tart pudding.
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="navEnd" class="mt-1"></div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
    <!-- Pill Center & Right Ends -->

    <!-- Contextual Pills start -->
    <section id="contextual-pills">
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodePillThemes">
            <h4 class="card-title">Pill Themes</h4>
            <div class="card-body">
              <p>
                Use class <code>.nav-pill-&#123;colorName&#125;</code> with <code>.nav-pills</code> to apply color
                according to your choice.
              </p>
              <div class="nav-vertical">
                <h6>Success</h6>
                <ul ngbNav #navTheme="ngbNav" class="nav nav-pills nav-pill-success my-2">
                  <li ngbNavItem>
                    <a ngbNavLink>Active</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem [disabled]="true">
                    <a ngbNavLink>Disabled</a>
                  </li>
                </ul>
                <h6>Danger</h6>
                <ul ngbNav #navTheme="ngbNav" class="nav nav-pills nav-pill-danger my-2">
                  <li ngbNavItem>
                    <a ngbNavLink>Active</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem [disabled]="true">
                    <a ngbNavLink>Disabled</a>
                  </li>
                </ul>
                <h6>Warning</h6>
                <ul ngbNav #navTheme="ngbNav" class="nav nav-pills nav-pill-warning my-2">
                  <li ngbNavItem>
                    <a ngbNavLink>Active</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem [disabled]="true">
                    <a ngbNavLink>Disabled</a>
                  </li>
                </ul>
                <h6>Info</h6>
                <ul ngbNav #navTheme="ngbNav" class="nav nav-pills nav-pill-info my-2">
                  <li ngbNavItem>
                    <a ngbNavLink>Active</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem>
                    <a ngbNavLink>Link</a>
                  </li>
                  <li ngbNavItem [disabled]="true">
                    <a ngbNavLink>Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section>
    <!-- Contextual Pills end -->
  </div>
</div>
