<div class="content-wrapper" *ngIf="curruser.role_id == 1 || curruser.role_id == 2">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card" >
        <h5 class="card-header"><a routerLink="/apps/campaing/campaing-add">Lisää uusi kampanja</a></h5>
      </div>
      <!-- users filter end -->

      <div class="card">
        <h5 class="card-header">{{ 'LIST.SEARCHFILTER' | translate }}</h5>
        <div class="users-list-filter card-body" hidden>
          <form>
            <div class="row">
              <div class="col-12 col-md-4">
                <fieldset class="form-group">
                  <select class="form-control" id="users-list-role" (change)="roleFilterUpdate($event)">
                    <option value="">{{ 'LIST.ROLE' | translate }}</option>
                    <option value="Admin">Admin</option>
                    <option value="Moderator">Moderator</option>
                    <option value="Yrittäjä">Yrittäjä</option>
                    <option value="Työntekijä">Työntekijä</option>
                  </select>
                </fieldset>
              </div>
              <!-- <div class="col-12 col-md-4">
                          <fieldset class="form-group">
                            <select class="form-control" id="users-list-status">
                              <option value="">{{ 'LIST.ALL' | translate }}</option>
                              <option value="Active">Active</option>
                              <option value="Blocked">Blocked</option>
                              <option value="deactivated">Deactivated</option>
                            </select>
                          </fieldset>
                        </div>
                        <div class="col-12 col-md-4">
                          <fieldset class="form-group">
                            <select class="form-control" id="users-list-verified">
                              <option value="">{{ 'LIST.ALL' | translate }}</option>
                              <option value="true">Yes</option>
                              <option value="false">No</option>
                            </select>
                          </fieldset>
                        </div> -->
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >{{ 'LIST.SHOW' | translate }}
                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                {{ 'LIST.ENTRIES' | translate }}</label
              >
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >{{ 'LIST.SEARCH' | translate }}:<input type="search" class="form-control ml-25" (keyup)="filterUpdate($event)"
              /></label>
              <!-- <button class="btn btn-primary ml-1" rippleEffect (click)="toggleSidebar('new-user-sidebar')">
                <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                ><span class="d-none d-sm-inline-block">Add New User</span>
              </button> -->
            </div>
          </div>
        </div>
        <ngx-datatable
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [limit]="selectedOption"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
        >
          <ngx-datatable-column name="Nimi" prop="name">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div class="cell-line-height">
                  <a routerLink="/apps/campaing/campaing-view/{{ row.id }}" class="font-medium-1 d-block">
                    <span class="font-weight-bold">{{ name }}</span>
                  </a>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Aktiivinen?" prop="active" [width]="100">
            <ng-template let-row="row" let-active="value" ngx-datatable-cell-template>
              <div *ngIf="active && !row.expired">
                <span class="text-success">Aktiivinen</span>
              </div>
              <div *ngIf="!active && !row.expired">
                <span class="text-danger">Ei aktiivinen</span>
              </div>
              <div *ngIf="row.expired">
                <span class="text-danger font-weight-bold">Päättynyt</span>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Yleinen/Yrityskohtainen" prop="is_general" [width]="200">
            <ng-template let-is_general="value" ngx-datatable-cell-template >
              <div *ngIf="is_general">
                Yleinen
              </div>
              <div *ngIf="!is_general">
                Yrityskohtainen
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Alkaa" prop="start" [width]="120">
            <ng-template let-row="row" let-start="value" ngx-datatable-cell-template>
              {{ start }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Päättyy" prop="end" [width]="120">
            <ng-template let-row="row" let-end="value" ngx-datatable-cell-template>
              {{ end }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="{{ 'LIST.ACTIONS' | translate }}" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                  <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                </button>
                <div ngbDropdownMenu>
                  <a routerLink="/apps/campaing/campaing-view/{{ row.id }}" ngbDropdownItem
                    ><span [data-feather]="'file-text'" [size]="16" [class]="'mr-50'"></span> {{ 'LIST.DETAILS' | translate }}</a
                  ><a routerLink="/apps/campaing/campaing-edit/{{ row.id }}" ngbDropdownItem
                    ><span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> {{ 'LIST.EDIT' | translate }}</a
                  ><a (click)="deleteCampaing(row.id, row.name)" ngbDropdownItem
                    ><span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> {{ 'LIST.DELETE' | translate }}</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <!-- <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-user-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-new-user-sidebar></app-new-user-sidebar>
  </core-sidebar> -->
  <!--/ New User Sidebar -->
</div>
