<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <!-- <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" /> -->
      <i class="feather font-large-1 icon-truck text-primary"></i>
      <h2 class="brand-text text-primary ml-1">Trafipoint</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/register-v2-dark.svg'
              : 'assets/images/pages/register-v2.svg'
          "
          alt="Register V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Melkein valmis!</h2>
        <p class="card-text mb-2">Lisää yrityksesi tiedot ja olet valmis käyttämään palvelua!</p>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>
        <!-- <form class="auth-register-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm"> -->
        <form class="auth-login-form mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label class="form-label" for="login-contactperson">Yhteyshenkilö</label>
            <input type="text" formControlName="contactperson" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.contactperson.errors }" placeholder="John Doe" aria-describedby="login-contactperson"
              autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.contactperson.errors" class="invalid-feedback">
              <div *ngIf="f.contactperson.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.contactperson.errors.contactperson">Virheellinen sisältö.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="login-name">Yrityksen nimi</label>
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="JD Oy"
              aria-describedby="login-name" autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.name.errors.name">Virheellinen sisältö.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="login-business_id">Y-Tunnus</label>
            <input type="text" formControlName="business_id" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.business_id.errors }" placeholder="1234567-1" aria-describedby="login-business_id"
              autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.business_id.errors" class="invalid-feedback">
              <div *ngIf="f.business_id.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.business_id.errors.business_id">Virheellinen sisältö.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="login-mobile">Puhelinnumero</label>
            <input type="text" formControlName="mobile" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" placeholder="050 123 1234" aria-describedby="login-mobile"
              autofocus="" tabindex="1" required />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Tämä kenttä tulee täyttää</div>
              <div *ngIf="f.mobile.errors.mobile">Virheellinen sisältö.</div>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label" for="login-email">Sähköpostiosoite</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="johndoe@example.com" aria-describedby="login-email"
              autofocus="" tabindex="1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Tämä kenttä tulee täyttää</div> 
              <div *ngIf="f.email.errors.email">Virheellinen sisältö.</div>
            </div>
          </div>
          
          
          <button class="btn btn-primary btn-block" tabindex="5" rippleEffect>Jatka palveluun</button>
        </form>
        <p class="text-center mt-2">
          <span>Oletko luonut jo käyttäjän?</span
          ><a routerLink="/pages/authentication/login-v2"><span>&nbsp;Kirjaudu sisään</span></a>
        </p>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>
