<div class="content-wrapper">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container>
        <div class="card">
          <div class="card-body">
            Ongelmia palvelun käytössä? Kaipaatko apua jossakin? 
            <br><br>
            Ota yhteyttä asiakaspalveluumme sähköpostitse <a href="mailto:info@trafipoint.fi">info@trafipoint.fi</a>
            <br><br>
            Olemme yhteydessä sinuun viimeistään seuraavan arkipäivän aikana.
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
