.creditcard-info-bar {
    width: 100%;
    height: 50px;
    background-color: #ea5455;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 123456;
}
.info-bar-text {
    line-height: 50px;
}