<div class="content-wrapper">
  <div class="content-body">
    <section class="invoice-preview-wrapper">
      <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 printRef">
          <div class="card invoice-preview-card">
            <div class="card-body invoice-padding pb-0">
              <!-- Header Starts -->
              <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                <div>
                  <div class="logo-wrapper">
                    <img src="assets/images/logo/logo.png" alt="Trafipoint" />
                  </div>
                  <p class="card-text mb-25">c/o Hautaniemi Tuohitie 31</p>
                  <p class="card-text mb-25">FI-28600 Pori, Finland</p>
                  <p class="card-text mb-0"><a href="mailto:asiakaspalvelu@trafipoint.fi">asiakaspalvelu@trafipoint.fi</a></p>
                </div>
                <div class="mt-md-0 mt-2">
                  <h4 class="invoice-title">
                    Kuitti
                    <span class="invoice-number">#{{ apiData.invoice.id }}</span>
                  </h4>
                  <div class="invoice-date-wrapper">
                    <p class="invoice-date-title">Pvm:</p>
                    <p class="invoice-date">{{ apiData.invoice.updated }}</p>
                  </div>
                  <!-- <div class="invoice-date-wrapper">
                    <p class="invoice-date-title">Due Date:</p>
                    <p class="invoice-date">{{ apiData.dueDate }}</p>
                  </div> -->
                </div>
              </div>
              <!-- Header Ends -->
            </div>

            <hr class="invoice-spacing" />

            <!-- Address And Contact Starts -->
            <div class="card-body invoice-padding pt-0">
              <div class="row invoice-spacing">
                <div class="col-xl-8 p-0">
                  <h6 class="mb-2">Asiakas:</h6>
                  <h6 class="mb-25">{{ apiData.company.name }}</h6>
                  <p class="card-text mb-25">{{ apiData.company.business_id }}</p>
                  <p class="card-text mb-25">{{ apiData.company.contactperson }}</p>
                  <p class="card-text mb-25">{{ apiData.company.mobile }}</p>
                  <p class="card-text mb-0">{{ apiData.company.email }}</p>
                </div>
                <div class="col-xl-4 p-0 mt-xl-0 mt-2">
                  <h6 class="mb-2">Maksutapa:</h6>
                  <p class="card-text mb-25">{{ apiData.invoice.card_brand }}</p>
                  <p class="card-text mb-25">**** **** **** {{ apiData.invoice.card_last_four }}</p>
                </div>
              </div>
            </div>
            <!-- Address And Contact Ends -->

            <!-- Invoice Description Starts -->
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="py-1">Tuote</th>
                    <th class="py-1">Määrä</th>
                    <th class="py-1">Hinta</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tmp of apiData.invoice.invoice_products">
                    <td class="py-1">
                      <p class="card-text font-weight-bold mb-25">{{ tmp.name }}</p>
                      <p class="card-text text-nowrap">
                        {{ tmp.description }}
                      </p>
                    </td>
                    <td class="py-1">
                      <span class="font-weight-bold">1</span>
                    </td>
                    <td class="py-1">
                      <span class="font-weight-bold">{{ tmp.price }}€</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="card-body invoice-padding pb-0">
              <div class="row invoice-sales-total-wrapper">
                <div class="col-md-6 order-md-1 order-2 mt-md-0 mt-3">
                  <p class="card-text mb-0">
                    <!-- <span class="font-weight-bold">Salesperson:</span> <span class="ml-75">Alfie Solomons</span> -->
                  </p>
                </div>
                <div class="col-md-6 d-flex justify-content-end order-md-2 order-1">
                  <div class="invoice-total-wrapper">
                    <!-- <div class="invoice-total-item">
                      <p class="invoice-total-title">Yhteensä:</p>
                      <p class="invoice-total-amount">$1800</p>
                    </div> -->
                    <!-- <div class="invoice-total-item">
                      <p class="invoice-total-title">Discount:</p>
                      <p class="invoice-total-amount">$28</p>
                    </div>
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Tax:</p>
                      <p class="invoice-total-amount">21%</p>
                    </div> -->
                    <hr class="my-50" />
                    <div class="invoice-total-item">
                      <p class="invoice-total-title">Yhteensä:</p>
                      <p class="invoice-total-amount">{{ apiData.invoice.total }}€</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Invoice Description Ends -->

            <hr class="invoice-spacing" />

            <!-- Invoice Note Starts -->
            <!-- <div class="card-body invoice-padding pt-0">
              <div class="row">
                <div class="col-12">
                  <span class="font-weight-bold">Note: </span>
                  <span
                    >It was a pleasure working with you and your team. We hope you will keep us in mind for future
                    freelance projects. Thank You!</span
                  >
                </div>
              </div>
            </div> -->
            <!-- Invoice Note Ends -->
          </div>
        </div>
        <!--/ Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
          <div class="card">
            <div class="card-body">
              <!-- <button
                class="btn btn-primary btn-block mb-75"
                data-toggle="modal"
                data-target="#send-invoice-sidebar"
                (click)="toggleSidebar('invoice-sidebar')"
                rippleEffect
              >
                Send Invoice
              </button>
              <button class="btn btn-outline-secondary btn-block btn-download-invoice mb-75" rippleEffect>
                Download
              </button> -->
              <a class="btn btn-outline-secondary btn-block mb-75" (click)="print(apiData.invoice.uuid)" rippleEffect>
                Tulosta
              </a>
              <!-- <a
                class="btn btn-outline-secondary btn-block mb-75"
                routerLink="/apps/invoice/edit/{{ urlLastValue }}"
                rippleEffect
              >
                Edit
              </a> -->
              <!-- <button
                class="btn btn-success btn-block"
                data-toggle="modal"
                data-target="#add-payment-sidebar"
                (click)="toggleSidebar('add-payment-sidebar')"
                rippleEffect
              >
                Add Payment
              </button> -->
            </div>
          </div>
        </div>
        <!--/ Invoice Actions -->
      </div>
    </section>
  </div>

  <!-- Send Invoice Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="invoice-sidebar"
    overlayClass="modal-backdrop"
    hideOnEsc="true"
  >
    <app-send-invoice-sidebar-preview></app-send-invoice-sidebar-preview>
  </core-sidebar>
  <!--/  Send Invoice Sidebar -->

  <!-- Add Payment Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="add-payment-sidebar"
    overlayClass="modal-backdrop"
    hideOnEsc="true"
  >
    <app-add-payment-sidebar-preview></app-add-payment-sidebar-preview>
  </core-sidebar>
  <!--/  Add Payment Sidebar -->
</div>
