<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Login v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
          <h2 class="brand-text text-primary ml-1">Trafipoint NOUNOU</h2>
        </a>

        <h4 class="card-title mb-1">Tervetuloa Trafipointin palveluun! 👋</h4>
        <p class="card-text mb-2">Kirjaudu sisään puhelinnumerollasi ja salasanallasi.</p>

        <form class="auth-login-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm">
          <div class="form-group">
            <!-- <label for="login-email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="login-email"
              name="login-email"
              placeholder="john@example.com"
              aria-describedby="login-email"
              tabindex="1"
              autofocus
              [class.error]="authForm.submitted && emailRef.invalid"
              [(ngModel)]="emailVar"
              #emailRef="ngModel"
              required
            />
            <span *ngIf="authForm.submitted && emailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="emailRef.errors.required">This field is required!</small>
            </span> -->
            <label for="login-mobile" class="form-label">Mobile</label>
            <input type="text" class="form-control" id="login-mobile" name="login-mobile" placeholder="050 123 1234"
              aria-describedby="login-mobile" tabindex="1" autofocus [class.error]="authForm.submitted && mobileRef.invalid"
              [(ngModel)]="mobileVar" #mobileRef="ngModel" required />
            <span *ngIf="authForm.submitted && mobileRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="mobileRef.errors.required">This field is required!</small>
            </span>
          </div>

          <div class="form-group">
            <div class="d-flex justify-content-between">
              <label for="login-password">Password</label>
              <a routerLink="/pages/authentication/forgot-password-v1">
                <small>Forgot Password?</small>
              </a>
            </div>
            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                id="login-password"
                name="login-password"
                tabindex="2"
                placeholder="·········"
                aria-describedby="login-password"
                [(ngModel)]="passwordVar"
                #passwordRef="ngModel"
                [class.error]="authForm.submitted && passwordRef.invalid"
                required
              />

              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && passwordRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="passwordRef.errors.required">This field is required!</small>
            </span>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="remember-me" tabindex="3" />
              <label class="custom-control-label" for="remember-me"> Remember Me </label>
            </div>
          </div>
          <button class="btn btn-primary btn-block" tabindex="4" rippleEffect>Sign in</button>
        </form>

        <p class="text-center mt-2">
          <span>New on our platform?</span>
          <a routerLink="/pages/authentication/register-v1">
            <span>&nbsp;Create an account</span>
          </a>
        </p>

        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a href="javascript:void(0)" class="btn btn-facebook">
            <i data-feather="facebook"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-twitter white">
            <i data-feather="twitter"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-google">
            <i data-feather="mail"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-github">
            <i data-feather="github"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- /Login v1 -->
  </div>
</div>
