<div class="content-wrapper" *ngIf="show">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container >
        <div class="card" *ngIf="row.id">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills">
              <li [ngbNavItem]="1">
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="info" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">{{ 'EDIT.COMPANYINFORMATION' | translate }}</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information Tab starts -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <!-- users edit Info form start  -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row mt-1">
                        <div class="col-12">
                          <h4 class="mb-1">
                            <i data-feather="briefcase" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">{{ 'EDIT.COMPANYINFORMATION' | translate }}</span>
                          </h4>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="birth">Birth date</label>
                            <input
                              id="birth"
                              type="text"
                              class="form-control birthdate-picker"
                              name="dob"
                              placeholder="YYYY-MM-DD"
                            />
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="mobile">{{ 'EDIT.MOBILE' | translate }}</label>
                            <input id="mobile" type="text" class="form-control" value="&#43;6595895857" name="phone" />
                          </div>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="company">{{ 'EDIT.COMPANY' | translate }}</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Company name" id="company"
                              name="company" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="website">{{ 'EDIT.BUSINESSID' | translate }}</label>
                            <input
                              id="website"
                              type="text"
                              class="form-control"
                              placeholder="Website here..."
                              formControlName="business_id"
                              name="website"
                            />
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="languages">Languages</label>
                            <select id="languages" class="form-control">
                              <option value="English">English</option>
                              <option value="Spanish">Spanish</option>
                              <option value="French" selected>French</option>
                              <option value="Russian">Russian</option>
                              <option value="German">German</option>
                              <option value="Arabic">Arabic</option>
                              <option value="Sanskrit">Sanskrit</option>
                            </select>
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label class="d-block mb-1">Gender</label>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="male" name="gender" class="custom-control-input" />
                              <label class="custom-control-label" for="male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="female" name="gender" class="custom-control-input" checked />
                              <label class="custom-control-label" for="female">Female</label>
                            </div>
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label class="d-block mb-1">Contact Options</label>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="email-cb" checked />
                              <label class="custom-control-label" for="email-cb">Email</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="message" checked />
                              <label class="custom-control-label" for="message">Message</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="phone" />
                              <label class="custom-control-label" for="phone">Phone</label>
                            </div>
                          </div>
                        </div> -->
                        <div class="col-12">
                          <h4 class="mb-1 mt-2">
                            <i data-feather="user" [size]="16" class="mr-75 font-medium-4"></i>
                            <!-- <span class="align-middle">{{ 'EDIT.ADDRESS' | translate }}</span> -->
                            <span class="align-middle">Yhteystiedot</span>
                          </h4>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="contactperson">{{ 'EDIT.CONTACTPERSON' | translate }}</label>
                            <input id="contactperson" type="text" class="form-control" formControlName="contactperson" name="contactperson" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="email">{{ 'EDIT.EMAIL' | translate }}</label>
                            <input id="email" type="email" class="form-control" formControlName="email" name="email" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="mobile">{{ 'EDIT.MOBILE' | translate }}</label>
                            <input id="mobile" type="text" class="form-control" formControlName="mobile" name="mobile" />
                          </div>
                        </div>
                        
                        <div class="col-12" *ngIf="User.role === 'Moderator' || User.role === 'Admin'">
                          <h4 class="mb-1 mt-2">
                            <i data-feather="dollar-sign" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Käyttömaksut</span>
                          </h4>
                        </div>
                        <div class="col-md-4" *ngIf="User.role === 'Moderator' || User.role === 'Admin'">
                          <div class="form-group">
                            <label for="subscription_price">Kuukausimaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="23.99" formControlName="subscription_price"
                                name="subscription_price" id="subscription_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('subscription_price').hasError('pattern') && loginForm.get('subscription_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                        <div class="col-md-4" *ngIf="User.role === 'Moderator' || User.role === 'Admin'" hidden>
                          <div class="form-group">
                            <label for="click_price">Klikkihinta</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="0.19" formControlName="click_price" name="click_price"
                                id="click_price" />
                            </div>
                          </div>
                        </div>
                        <div class="col-12" *ngIf="User.role === 'Moderator' || User.role === 'Admin'">
                          <div class="row">
                            <div class="col-md-12 mt-1 mb-1">
                              <label><strong>Tapahtumamaksut</strong></label>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_muutto_price">Muutto avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_muutto_price"
                                    name="event_muutto_price" id="event_muutto_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_muutto_price').hasError('pattern') && loginForm.get('event_muutto_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_rahti_price">Rahti avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_rahti_price"
                                    name="event_rahti_price" id="event_rahti_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_rahti_price').hasError('pattern') && loginForm.get('event_rahti_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_ajoneuvot_price">Ajoneuvot avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_ajoneuvot_price"
                                    name="event_ajoneuvot_price" id="event_ajoneuvot_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_ajoneuvot_price').hasError('pattern') && loginForm.get('event_ajoneuvot_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_massa_price">Massat avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_massa_price"
                                    name="event_massa_price" id="event_massa_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_massa_price').hasError('pattern') && loginForm.get('event_massa_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="event_paketti_price">Paketit avaushinta</label>
                                <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                  </div>
                                  <input type="text" class="form-control" placeholder="0.19" formControlName="event_paketti_price"
                                    name="event_paketti_price" id="event_paketti_price" />
                                </div>
                                <span style="color:red"
                                  *ngIf="(loginForm.get('event_paketti_price').hasError('pattern') && loginForm.get('event_paketti_price').touched)">
                                  Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                                </span>
                              </div>
                            </div>
                            <div class="col-md-4">
                            </div>
                          </div>
                        </div>

                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="address-1">{{ 'EDIT.ADDRESSLINE1' | translate }}</label>
                            <input
                              id="address-1"
                              type="text"
                              class="form-control"
                              value="A-65, Belvedere Streets"
                              name="address"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="address-2">{{ 'EDIT.ADDRESSLINE2' | translate }}</label>
                            <input id="address-2" type="text" class="form-control" placeholder="T-78, Groove Street" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="postcode">{{ 'EDIT.POSTCODE' | translate }}</label>
                            <input id="postcode" type="text" class="form-control" placeholder="597626" name="zip" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="city">{{ 'EDIT.CITY' | translate }}</label>
                            <input id="city" type="text" class="form-control" value="New York" name="city" />
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="state">State</label>
                            <input id="state" type="text" class="form-control" name="state" placeholder="Manhattan" />
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="country">{{ 'EDIT.COUNTRY' | translate }}</label>
                            <input
                              id="country"
                              type="text"
                              class="form-control"
                              name="country"
                              placeholder="United States"
                            />
                          </div>
                        </div> -->
                        <div class="col-12 mt-2">
                          <div *ngIf="ernor">
                            <ngb-alert [type]="'danger'" [dismissible]="false">
                              <div class="alert-body">
                                {{ ernor }}
                              </div>
                            </ngb-alert>
                          </div>
                        </div>
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" [disabled]="!loginForm.valid" (click)="submit(row.id)" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                            {{ 'EDIT.SAVECHANGES' | translate }}
                          </button>
                          <!-- <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button> -->
                          <button class="btn btn-outline-secondary" (click)="goBack()" rippleEffect>Takaisin</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit Info form ends -->
                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="users" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">Yrityksen käyttäjät</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information Tab starts -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <!-- users edit Info form start  -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row mt-1">
                        <div class="col-6">
                          <h4 class="mb-1">
                            <i data-feather="briefcase" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Yritykseen liitetyt käyttäjät</span>
                          </h4>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>
                                  Nimi
                                </th>
                                <th>
                                  Rooli
                                </th>
                                <th>
                                  Toiminnot
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let usr of row.users">
                                <td>
                                  {{ usr.firstName + ' ' + usr.lastName }}
                                </td>
                                <td>
                                  {{ usr.role }}
                                </td>
                                <td>
                                  <div ngbDropdown container="body" *ngIf="User.role === 'Moderator' || User.role === 'Admin' || User.role === 'Yrittäjä'">
                                    <button ngbDropdownToggle type="button" class="btn icon-btn btn-sm hide-arrow" rippleEffect>
                                      <span [data-feather]="'more-vertical'" [class]="'cursor-pointer'"></span>
                                    </button>
                                    <div ngbDropdownMenu>
                                      <a routerLink="/apps/user/user-edit/{{ usr.id }}" ngbDropdownItem>
                                        <span [data-feather]="'edit'" [size]="16" [class]="'mr-50'"></span> 
                                        Muokkaa
                                      </a>
                                      <a (click)="detachUser(usr.id, row.id, usr.firstName, usr.lastName)" ngbDropdownItem>
                                        <span [data-feather]="'trash'" [size]="16" [class]="'mr-50'"></span> 
                                        Poista
                                      </a>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </form>
                    <div class="mt-2">
                      <a class="text-primary" (click)="toggleWorkerForm()">
                        <!-- <i data-feather="plus-circle" class="mr-sm-50"></i> -->
                        Lisää käyttäjä yritykseen
                      </a>
                      <div class="mt-1" id="addworkerform" *ngIf="workerformopen">
                        <form class="form-validate" [formGroup]="workerForm">
                          <div class="row">
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="firstName">Etunimi</label>
                                <input type="text" class="form-control" placeholder="Etunimi" name="firstName"
                                  formControlName="firstName" id="firstName" />
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="lastName">Sukunimi</label>
                                <input type="text" class="form-control" placeholder="Sukunimi" formControlName="lastName"
                                  name="lastName" id="lastName" />
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="email">Sähköposti</label>
                                <input type="email" class="form-control" placeholder="Sähköposti" formControlName="email"
                                  name="email" id="email" />
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="mobile">Puhelinnumero</label>
                                <input type="tel" class="form-control" placeholder="Puhelinnumero" formControlName="mobile"
                                  name="mobile" id="mobile" />
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="form-group">
                                <label for="role">Rooli</label>
                                <select name="role" id="role" class="form-control" formControlName="role">
                                  <option value="">Valitse rooli</option>
                                  <option value="3">Yrittäjä</option>
                                  <option value="4">Työntekijä</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <button type="submit" [disabled]="loadingform" (click)="addWorker()" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                                Tallenna
                              </button>
                              <div class="mt-1 ml-1">
                                <p *ngIf="errors" class="text-danger">{{ errors }}</p>
                              </div>
                            </div>
                            
                          </div>
                        </form>
                      </div>
                    </div>
                    <!-- users edit Info form ends -->
                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
              <li [ngbNavItem]="3">
                <a ngbNavLink class="d-flex align-items-center" *ngIf="User.role === 'Moderator' || User.role === 'Admin' || User.role === 'Yrittäjä'">
                  <i data-feather="credit-card" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">Tilaus- & maksutiedot</span>
                </a>
                <ng-template ngbNavContent>
                  <!-- Information Tab starts -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <!-- users edit Info form start  -->

                      <div class="row mt-1">
                        <div class="col-12">
                          <h4 class="mb-1">
                            <i data-feather="credit-card" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">Yrityksen tilaus- & maksutiedot</span>
                          </h4>
                          <div id="hiddendiv">
                          </div>
                          <!-- Jos tilaus käynnissä -->
                          <!-- Näytä painikkeet lopeta tilaus ja vaihda maksukortti -->
                          <!-- Jos tilaus käynnissä mutta päättymässä -->
                          <!-- Näytä painikkeet jatka tilausta ja vaihda maksukortti -->
                          <div *ngIf="row.is_subscribed && row.card_last_four">
                            <h5 class="text-success" *ngIf="!row.subscription_ends_at">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus: aktiivinen
                            </h5>
                            <h5 class="text-warning" *ngIf="row.subscription_ends_at">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus päättyy {{ row.Subscriptionends }}
                            </h5>
                            <p class="bold mb-50 mt-1">
                              <a (click)="cancelSubscription(row.id)" class="btn btn-outline-danger" *ngIf="!row.subscription_ends_at">
                                Lopeta tilaus
                              </a>
                              <!-- <i>* Jos asetat tilauksen tauolle, et voi avata uusia kilpailutuksia, eikä sinulta peritä kuukausimaksua ennen kuin jatkat tilaustasi.</i> -->
                              <a (click)="continueSubscription(row.id)" class="btn btn-primary" *ngIf="row.subscription_ends_at">
                                Jatka tilausta
                              </a>
                            </p>
                            <hr>
                            <!-- <div id="stripe-credit-card-container" class="no-input border-primary mt-2 mb-1"> -->
                            <div class="stripe-credit-card-container no-input border-primary mt-2 mb-1">
                              <span class="last4">{{ row.card_brand.toUpperCase() }} x{{ row.card_last_four }}</span>
                              <span class="exp">{{ row.card_expdate }}</span>
                            </div>
                            <p class="bold mb-50 mt-1">
                              <a *ngIf="platform === 'web'" href="{{stripeUrl}}/stripe/?company={{row.stripe_id}}&platform={{platform}}" class="btn btn-primary">
                                Vaihda maksukortti
                              </a>
                              <a *ngIf="platform != 'web'" (click)="openCardPage()" class="btn btn-primary">
                                Vaihda maksukortti
                              </a>
                            </p>
                          </div>
                          
                          <!-- Jos tilaus ei käynnissä -->
                            <!-- Näytä painikkeet lisää kortti & aloita tilaus, aloita tilaus ja poista kortti -->
                          <div *ngIf="!row.is_subscribed">
                            <h5 class="text-danger mt-1 mb-1">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus: ei aktiivinen
                            </h5>
                            <div *ngIf="!row.card_brand && !row.card_last_four">
                              <!-- <p>Et ole vielä lisännyt luottokorttia.</p> -->
                              <a *ngIf="row.stripe_id && platform === 'web'" href="{{stripeUrl}}/stripe/?company={{row.stripe_id}}&platform={{platform}}" class="btn btn-primary">
                                Lisää maksukortti
                              </a>
                              <a *ngIf="row.stripe_id && platform != 'web'" (click)="openCardPage()" class="btn btn-primary">
                                Lisää maksukortti
                              </a>
                            </div>
                            <div *ngIf="row.card_brand && row.card_last_four">
                              <p class="bold mb-50 mt-1">
                                <a (click)="continueSubscription(row.id)"
                                  class="btn btn-primary">
                                  Aloita tilaus
                                </a>
                              </p>
                              <hr>
                              <div id="stripe-credit-card-container" class="no-input border-primary mt-2 mb-1">
                                <span class="last4">{{ row.card_brand.toUpperCase() }} x{{ row.card_last_four }}</span>
                                <span class="exp">{{ row.card_expdate }}</span>
                              </div>
                              <p class="bold mb-50 mt-1">
                                <a *ngIf="platform === 'web'" href="{{stripeUrl}}/stripe/?company={{row.stripe_id}}&platform={{platform}}" class="btn btn-primary mr-1">
                                  Vaihda maksukortti
                                </a>
                                <a *ngIf="platform != 'web'" (click)="openCardPage()" class="btn btn-primary mr-1">
                                  Vaihda maksukortti
                                </a>
                                <a (click)="deleteCard(row.id)" class="btn btn-outline-danger">
                                  Poista maksukortti
                                </a>
                              </p>
                            </div>
                            <a *ngIf="!row.stripe_id" href="javascript:void(0)" class="btn btn-sm btn-outline-danger">
                              Stripe asiakkuus puuttuu. Ole yhteydessä asiakaspalveluun.
                            </a>
                          </div>


                          <!-- <div *ngIf="row.card_brand && row.card_last_four">
                            <h5 class="text-success" *ngIf="row.is_subscribed">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus: aktiivinen
                            </h5>
                            <h5 class="text-warning" *ngIf="!row.is_subscribed">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus: tauolla
                            </h5>
                            <div id="stripe-credit-card-container" class="no-input border-secondary mt-2 mb-1">
                              <span class="last4">{{ row.card_brand.toUpperCase() }} x{{ row.card_last_four }}</span>
                              <span class="exp">{{ row.card_expdate }}</span>
                            </div>
                            <p class="bold mb-50 mt-1">
                              <a class="btn btn-sm btn-outline-info">
                                Vaihda maksukortti
                              </a>
                            </p>
                            <hr>
                            <p class="bold mb-50 mt-1">
                              <a (click)="pauseSubscription(row.id)" class="btn btn-sm btn-outline-warning" *ngIf="row.is_subscribed">
                                Aseta tilaus tauolle
                              </a> 
                              <i>* Jos asetat tilauksen tauolle, et voi avata uusia kilpailutuksia, eikä sinulta peritä kuukausimaksua ennen kuin jatkat tilaustasi.</i>
                              <a (click)="unpauseSubscription(row.id)" class="btn btn-sm btn-outline-success" *ngIf="!row.is_subscribed">
                                Jatka tilausta
                              </a>
                            </p>
                            <p class="bold">
                              <a class="btn btn-sm btn-outline-primary mr-2">Vaihda luottokortti</a>
                              <a (click)="deleteCard(row.id)" class="btn btn-sm btn-outline-danger">
                                Poista luottokortti & lopeta tilaus
                              </a> 
                              <i>* Jos lopetat tilauksen, et voi avata kilpailutuksia tai käyttää palvelua.</i>
                            </p>
                          </div> -->
                          <!-- <div *ngIf="!row.card_brand || !row.card_last_four">
                            <h5 class="text-danger">
                              <i data-feather="activity" [size]="12" class="mr-75 font-medium-4"></i>
                              Tilaus: ei aktiivinen
                            </h5>
                            <p>Et ole vielä lisännyt luottokorttia.</p>
                            <a *ngIf="row.stripe_id" href="{{stripeUrl}}/stripe/?company={{row.stripe_id}}" class="btn btn-sm btn-outline-success">
                              Lisää luottokortti & aloita tilaus
                            </a>
                            <a *ngIf="!row.stripe_id" href="javascript:void(0)" class="btn btn-sm btn-outline-danger">
                              Stripe asiakkuus puuttuu. Ole yhteydessä asiakaspalveluun.
                            </a>
                          </div> -->
                          
                          <div *ngIf="ernznor">
                            <ngb-alert [type]="'danger'" [dismissible]="false">
                              <div class="alert-body">
                                {{ernznor}}
                              </div>
                            </ngb-alert>
                          </div>
                          <!-- <div>
                            <h2>Create Token Example</h2>
                            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                            <button type="submit" (click)="createToken()">
                              CREATE TOKEN
                            </button>
                          </div> -->

                        </div>
                      </div>

                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
              <li hidden [ngbNavItem]="4">
                <a ngbNavLink class="d-flex align-items-center"
                  ><i data-feather="share-2" class="mr-sm-50"></i><span class="d-none d-sm-block">Social</span></a
                >
                <ng-template ngbNavContent>
                  <!-- Social Tab starts -->
                  <div class="tab-pane" id="social" aria-labelledby="social-tab" role="tabpanel">
                    <!-- users edit social form start -->
                    <form class="form-validate">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="twitter-input">Twitter</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">
                                <i class="font-medium-2" data-feather="twitter"></i>
                              </span>
                            </div>
                            <input
                              id="twitter-input"
                              type="text"
                              class="form-control"
                              value="https://www.twitter.com/adoptionism744"
                              placeholder="https://www.twitter.com/"
                              aria-describedby="basic-addon3"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="facebook-input">Facebook</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon4">
                                <i class="font-medium-2" data-feather="facebook"></i>
                              </span>
                            </div>
                            <input
                              id="facebook-input"
                              type="text"
                              class="form-control"
                              value="https://www.facebook.com/adoptionism664"
                              placeholder="https://www.facebook.com/"
                              aria-describedby="basic-addon4"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="instagram-input">Instagram</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon5">
                                <i class="font-medium-2" data-feather="instagram"></i>
                              </span>
                            </div>
                            <input
                              id="instagram-input"
                              type="text"
                              class="form-control"
                              value="https://www.instagram.com/adopt-ionism744"
                              placeholder="https://www.instagram.com/"
                              aria-describedby="basic-addon5"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="github-input">Github</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon9">
                                <i class="font-medium-2" data-feather="github"></i>
                              </span>
                            </div>
                            <input
                              id="github-input"
                              type="text"
                              class="form-control"
                              value="https://www.github.com/madop818"
                              placeholder="https://www.github.com/"
                              aria-describedby="basic-addon9"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="codepen-input">Codepen</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon12">
                                <i class="font-medium-2" data-feather="codepen"></i>
                              </span>
                            </div>
                            <input
                              id="codepen-input"
                              type="text"
                              class="form-control"
                              value="https://www.codepen.com/adoptism243"
                              placeholder="https://www.codepen.com/"
                              aria-describedby="basic-addon12"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="slack-input">Slack</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon11">
                                <i class="font-medium-2" data-feather="slack"></i>
                              </span>
                            </div>
                            <input
                              id="slack-input"
                              type="text"
                              class="form-control"
                              value="@adoptionism744"
                              placeholder="https://www.slack.com/"
                              aria-describedby="basic-addon11"
                            />
                          </div>
                        </div>

                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                            Save Changes
                          </button>
                          <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit socail form ends -->
                  </div>
                  <!-- Social Tab ends -->
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
