@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/app-user.scss';

#stripe-credit-card-container, div.stripe-credit-card-container {
    margin-bottom: 0.5em;
    border-radius: 4px;
    padding: 0 0.5em;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    min-height: 3em;
}