<div class="content-wrapper" *ngIf="showdata">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container>
        <div class="card" *ngIf="row.id == urlLastValue">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav nav-pills">
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center"
                  ><i data-feather="user" class="mr-sm-50"></i><span class="d-none d-sm-block">{{ 'USEREDIT.USER' | translate }}</span></a
                >
                <ng-template ngbNavContent>
                  <!-- Account Tab starts -->
                  <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    <!-- users edit media object start -->
                    <div class="media mb-2">
                      <!-- <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img
                          class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                          [src]="row.avatar"
                          height="90"
                          width="90"
                          alt="User avatar"
                        />
                      </div>
                      <ng-template #customAvatar>
                        <div
                          class="mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-success': row.status == 'active',
                            'bg-light-secondary': row.status == 'inactive',
                            'bg-light-warning': row.status == 'pending'
                          }"
                        >
                          <div class="rounded p-3">{{ row.fullName | initials }}</div>
                        </div>
                      </ng-template> -->
                      <div class="media-body mt-50">
                        <h4>{{ row.firstName }} {{ row.lastName }}</h4>
                        <!-- <h4>{{ row.fullName }}</h4> -->
                        <!-- <div class="col-12 d-flex mt-1 px-0">
                          <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                            <span class="d-none d-sm-block">Change</span>
                            <input
                              class="form-control"
                              type="file"
                              id="change-picture"
                              hidden
                              accept="image/png, image/jpeg, image/jpg"
                            />
                            <span class="d-block d-sm-none">
                              <i class="mr-0" data-feather="edit"></i>
                            </span>
                          </label>
                          <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                          <button class="btn btn-outline-secondary d-block d-sm-none">
                            <i class="mr-0" data-feather="trash-2"></i>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="firstName">{{ 'USEREDIT.FIRSTNAME' | translate }}</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{ 'EDIT.FIRSTNAME' | translate }}"
                              name="firstName"
                              formControlName="firstName"
                              id="firstName"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="lastName">{{ 'USEREDIT.LASTNAME' | translate }}</label>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="{{ 'EDIT.LASTNAME' | translate }}"
                              formControlName="lastName"
                              name="lastName"
                              id="lastName"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="email">{{ 'USEREDIT.EMAIL' | translate }}</label>
                            <input
                              type="email"
                              class="form-control"
                              placeholder="{{ 'EDIT.EMAIL' | translate }}"
                              formControlName="email"
                              name="email"
                              id="email"
                            />
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="mobile">{{ 'USEREDIT.MOBILE' | translate }}</label>
                            <input type="tel" class="form-control" placeholder="{{ 'EDIT.MOBILE' | translate }}" formControlName="mobile"  name="mobile" id="mobile" />
                          </div>
                        </div>
                        <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" [(ngModel)]="row.status" name="status" id="status">
                              <option>active</option>
                              <option>inactive</option>
                              <option>pending</option>
                            </select>
                          </div>
                        </div> -->
                        <div class="col-md-4" *ngIf="this.curruser.role == 'Moderator' || this.curruser.role == 'Admin'">
                          <div class="form-group">
                            <label for="role">{{ 'USEREDIT.ROLE' | translate }}</label>
                            <select class="form-control"  name="role" id="role" formControlName="role" aria-readonly="true">
                              <option value="">{{ 'USEREDIT.ROLE' | translate }}</option>
                              <!-- <option>Maintainer</option>
                              <option>Subscriber</option>
                              <option>Author</option>
                              <option>Editor</option> -->
                              <option [selected]="row.role == 'Työntekijä'" value="4">Työntekijä</option>
                              <option [selected]="row.role == 'Yrittäjä'" value="3">Yrittäjä</option>
                              <option [selected]="row.role == 'Moderator'" value="2">Moderaattori</option>
                              <option [selected]="row.role == 'Admin'" [readonly]="row.role != 'Admin'" value="1">Admin</option>
                            </select>
                          </div>
                        </div>
                        <!-- <div class="col-md-4">
                          <div class="form-group">
                            <label for="role">{{ 'EDIT.ROLE' | translate }}</label>
                            <input
                              type="text"
                              class="form-control"
                              [(ngModel)]="row.role"
                              placeholder="Rooli"
                              id="role"
                              name="role"
                            />
                          </div>
                        </div> -->
                        <!-- <div class="col-12" hidden>
                          <div class="table-responsive border rounded mt-1">
                            <h6 class="py-1 mx-1 mb-0 font-medium-2">
                              <i data-feather="lock" [size]="20" class="mr-25"></i>
                              <span class="align-middle">Permission</span>
                            </h6>
                            <table class="table table-striped table-borderless">
                              <thead class="thead-light">
                                <tr>
                                  <th>Module</th>
                                  <th>Read</th>
                                  <th>Write</th>
                                  <th>Create</th>
                                  <th>Delete</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Admin</td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="admin-read" checked />
                                      <label class="custom-control-label" for="admin-read"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="admin-write" />
                                      <label class="custom-control-label" for="admin-write"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="admin-create" />
                                      <label class="custom-control-label" for="admin-create"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="admin-delete" />
                                      <label class="custom-control-label" for="admin-delete"></label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Staff</td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="staff-read" />
                                      <label class="custom-control-label" for="staff-read"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="staff-write" checked />
                                      <label class="custom-control-label" for="staff-write"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="staff-create" />
                                      <label class="custom-control-label" for="staff-create"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="staff-delete" />
                                      <label class="custom-control-label" for="staff-delete"></label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Author</td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="author-read" checked />
                                      <label class="custom-control-label" for="author-read"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="author-write" />
                                      <label class="custom-control-label" for="author-write"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="author-create" checked />
                                      <label class="custom-control-label" for="author-create"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="author-delete" />
                                      <label class="custom-control-label" for="author-delete"></label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>Contributor</td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="contributor-read" />
                                      <label class="custom-control-label" for="contributor-read"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="contributor-write" />
                                      <label class="custom-control-label" for="contributor-write"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="contributor-create" />
                                      <label class="custom-control-label" for="contributor-create"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="contributor-delete" />
                                      <label class="custom-control-label" for="contributor-delete"></label>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td>User</td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="user-read" />
                                      <label class="custom-control-label" for="user-read"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="user-create" />
                                      <label class="custom-control-label" for="user-create"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="user-write" />
                                      <label class="custom-control-label" for="user-write"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="user-delete" checked />
                                      <label class="custom-control-label" for="user-delete"></label>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div> -->
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" (click)="submit(row.id)" rippleEffect>
                            {{ 'USEREDIT.SAVEC' | translate }}
                          </button>
                          <!-- <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button> -->
                          <button class="btn btn-outline-secondary" (click)="goBack()" rippleEffect>{{ 'USEREDIT.BACK' | translate }}</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit account form ends -->
                  </div>
                  <!-- Account Tab ends -->
                </ng-template>
              </li>
              <li hidden ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="info" class="mr-sm-50"></i><span class="d-none d-sm-block">{{ 'EDIT.INFORMATION' | translate }}</span></a
                >
                <ng-template ngbNavContent>
                  <!-- Information Tab starts -->
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <!-- users edit Info form start  -->
                    <form class="form-validate">
                      <div class="row mt-1">
                        <div class="col-12">
                          <h4 class="mb-1">
                            <i data-feather="user" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">{{ 'EDIT.COMPANYINFORMATION' | translate }}</span>
                          </h4>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="birth">Birth date</label>
                            <input
                              id="birth"
                              type="text"
                              class="form-control birthdate-picker"
                              name="dob"
                              placeholder="YYYY-MM-DD"
                            />
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="mobile">{{ 'EDIT.MOBILE' | translate }}</label>
                            <input id="mobile" type="text" class="form-control" value="&#43;6595895857" name="phone" />
                          </div>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="company">{{ 'EDIT.COMPANY' | translate }}</label>
                            <input type="text" class="form-control" [(ngModel)]="row.company" placeholder="Company name" id="company"
                              name="company" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="website">{{ 'EDIT.WEBSITE' | translate }}</label>
                            <input
                              id="website"
                              type="text"
                              class="form-control"
                              placeholder="Website here..."
                              value="https://rowboat.com/insititious/Angelo"
                              name="website"
                            />
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="languages">Languages</label>
                            <select id="languages" class="form-control">
                              <option value="English">English</option>
                              <option value="Spanish">Spanish</option>
                              <option value="French" selected>French</option>
                              <option value="Russian">Russian</option>
                              <option value="German">German</option>
                              <option value="Arabic">Arabic</option>
                              <option value="Sanskrit">Sanskrit</option>
                            </select>
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label class="d-block mb-1">Gender</label>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="male" name="gender" class="custom-control-input" />
                              <label class="custom-control-label" for="male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="female" name="gender" class="custom-control-input" checked />
                              <label class="custom-control-label" for="female">Female</label>
                            </div>
                          </div>
                        </div> -->
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label class="d-block mb-1">Contact Options</label>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="email-cb" checked />
                              <label class="custom-control-label" for="email-cb">Email</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="message" checked />
                              <label class="custom-control-label" for="message">Message</label>
                            </div>
                            <div class="custom-control custom-checkbox custom-control-inline">
                              <input type="checkbox" class="custom-control-input" id="phone" />
                              <label class="custom-control-label" for="phone">Phone</label>
                            </div>
                          </div>
                        </div> -->
                        <div class="col-12">
                          <h4 class="mb-1 mt-2">
                            <i data-feather="map-pin" [size]="16" class="mr-75 font-medium-4"></i>
                            <span class="align-middle">{{ 'EDIT.ADDRESS' | translate }}</span>
                          </h4>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="address-1">{{ 'EDIT.ADDRESSLINE1' | translate }}</label>
                            <input
                              id="address-1"
                              type="text"
                              class="form-control"
                              value="A-65, Belvedere Streets"
                              name="address"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="address-2">{{ 'EDIT.ADDRESSLINE2' | translate }}</label>
                            <input id="address-2" type="text" class="form-control" placeholder="T-78, Groove Street" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="postcode">{{ 'EDIT.POSTCODE' | translate }}</label>
                            <input id="postcode" type="text" class="form-control" placeholder="597626" name="zip" />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="city">{{ 'EDIT.CITY' | translate }}</label>
                            <input id="city" type="text" class="form-control" value="New York" name="city" />
                          </div>
                        </div>
                        <!-- <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="state">State</label>
                            <input id="state" type="text" class="form-control" name="state" placeholder="Manhattan" />
                          </div>
                        </div> -->
                        <div class="col-lg-4 col-md-6">
                          <div class="form-group">
                            <label for="country">{{ 'EDIT.COUNTRY' | translate }}</label>
                            <input
                              id="country"
                              type="text"
                              class="form-control"
                              name="country"
                              placeholder="United States"
                            />
                          </div>
                        </div>
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                            {{ 'EDIT.SAVECHANGES' | translate }}
                          </button>
                          <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit Info form ends -->
                  </div>
                  <!-- Information Tab ends -->
                </ng-template>
              </li>
              <li hidden ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center"
                  ><i data-feather="share-2" class="mr-sm-50"></i><span class="d-none d-sm-block">Social</span></a
                >
                <ng-template ngbNavContent>
                  <!-- Social Tab starts -->
                  <div class="tab-pane" id="social" aria-labelledby="social-tab" role="tabpanel">
                    <!-- users edit social form start -->
                    <form class="form-validate">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="twitter-input">Twitter</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">
                                <i class="font-medium-2" data-feather="twitter"></i>
                              </span>
                            </div>
                            <input
                              id="twitter-input"
                              type="text"
                              class="form-control"
                              value="https://www.twitter.com/adoptionism744"
                              placeholder="https://www.twitter.com/"
                              aria-describedby="basic-addon3"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="facebook-input">Facebook</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon4">
                                <i class="font-medium-2" data-feather="facebook"></i>
                              </span>
                            </div>
                            <input
                              id="facebook-input"
                              type="text"
                              class="form-control"
                              value="https://www.facebook.com/adoptionism664"
                              placeholder="https://www.facebook.com/"
                              aria-describedby="basic-addon4"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="instagram-input">Instagram</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon5">
                                <i class="font-medium-2" data-feather="instagram"></i>
                              </span>
                            </div>
                            <input
                              id="instagram-input"
                              type="text"
                              class="form-control"
                              value="https://www.instagram.com/adopt-ionism744"
                              placeholder="https://www.instagram.com/"
                              aria-describedby="basic-addon5"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="github-input">Github</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon9">
                                <i class="font-medium-2" data-feather="github"></i>
                              </span>
                            </div>
                            <input
                              id="github-input"
                              type="text"
                              class="form-control"
                              value="https://www.github.com/madop818"
                              placeholder="https://www.github.com/"
                              aria-describedby="basic-addon9"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="codepen-input">Codepen</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon12">
                                <i class="font-medium-2" data-feather="codepen"></i>
                              </span>
                            </div>
                            <input
                              id="codepen-input"
                              type="text"
                              class="form-control"
                              value="https://www.codepen.com/adoptism243"
                              placeholder="https://www.codepen.com/"
                              aria-describedby="basic-addon12"
                            />
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-6 form-group">
                          <label for="slack-input">Slack</label>
                          <div class="input-group input-group-merge">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon11">
                                <i class="font-medium-2" data-feather="slack"></i>
                              </span>
                            </div>
                            <input
                              id="slack-input"
                              type="text"
                              class="form-control"
                              value="@adoptionism744"
                              placeholder="https://www.slack.com/"
                              aria-describedby="basic-addon11"
                            />
                          </div>
                        </div>

                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                            Save Changes
                          </button>
                          <button type="reset" class="btn btn-outline-secondary" rippleEffect>Reset</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit socail form ends -->
                  </div>
                  <!-- Social Tab ends -->
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center"><i data-feather="lock" class="mr-sm-50"></i><span
                    class="d-none d-sm-block">{{ 'USEREDIT.CHANGEPW' | translate }}</span></a>
                <ng-template ngbNavContent>
                  <!-- Social Tab starts -->
                  <div class="tab-pane" id="social" aria-labelledby="social-tab" role="tabpanel">
                    <!-- users edit social form start -->
                    <form class="form-validate" [formGroup]="pwForm">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group" *ngIf="curruser.role != 'Admin'">
                            <label for="account-old-password">{{ 'USEREDIT.OLDPW' | translate }}</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeOld ? 'text' : 'password'" class="form-control" id="account-old-password"
                                name="password" placeholder="{{ 'USEREDIT.OLDPW' | translate }}" formControlName="password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                            'icon-eye-off': passwordTextTypeOld,
                                                            'icon-eye': !passwordTextTypeOld
                                                          }" (click)="togglePasswordTextTypeOld()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password">{{ 'USEREDIT.NEWPW' | translate }}</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeNew ? 'text' : 'password'" id="account-new-password" name="new-password"
                                class="form-control" placeholder="{{ 'USEREDIT.NEWPW' | translate }}" formControlName="new_password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                            'icon-eye-off': passwordTextTypeNew,
                                                            'icon-eye': !passwordTextTypeNew
                                                          }" (click)="togglePasswordTextTypeNew()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password">{{ 'USEREDIT.NEWPWAGN' | translate }}</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input [type]="passwordTextTypeRetype ? 'text' : 'password'" class="form-control"
                                id="account-retype-new-password" name="confirm-new-password" placeholder="{{ 'USEREDIT.NEWPWAGN' | translate }}" formControlName="confirm_new_password" />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                                                            'icon-eye-off': passwordTextTypeRetype,
                                                            'icon-eye': !passwordTextTypeRetype
                                                          }" (click)="togglePasswordTextTypeRetype()"></i></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div *ngIf="errormessage">
                            <ngb-alert [type]="'danger'" [dismissible]="true">
                              <div class="alert-body">
                                {{ errormessage }}
                              </div>
                            </ngb-alert>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary mr-1 mt-1" (click)="submitPwForm(row.id)" rippleEffect>{{ 'USEREDIT.SAVE' | translate }}</button>
                          <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>{{ 'USEREDIT.REVERT' | translate }}</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit socail form ends -->
                  </div>
                  <!-- Social Tab ends -->
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink class="d-flex align-items-center"><i data-feather="briefcase" class="mr-sm-50"></i><span
                    class="d-none d-sm-block">{{ 'USEREDIT.ATTACHEDCMPN' | translate }}</span></a>
                <ng-template ngbNavContent>
                  <!-- Social Tab starts -->
                  <div class="tab-pane" id="social" aria-labelledby="social-tab" role="tabpanel">
                    <!-- users edit social form start -->
                    <form class="form-validate" [formGroup]="companyForm">
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group" *ngIf="curruser.role == 'Admin' || curruser.role == 'Moderator'">
                            <label for="company">{{ 'USEREDIT.ATTACHEDCMPN' | translate }}</label>
                            <select class="form-control" name="companyid" id="companyid" formControlName="companyid" aria-readonly="true" *ngIf="row.company">
                              <option value="0">Ei liitosta</option>
                              <option *ngFor="let c of c_row" [selected]="c.id == row.company.id" value="{{c.id}}">{{ c.name }}</option>
                            </select>
                            <select class="form-control" name="companyid" id="companyid" formControlName="companyid" aria-readonly="true"
                              *ngIf="!row.company">
                              <option value="0">Ei liitosta</option>
                              <option *ngFor="let c of c_row" value="{{c.id}}">{{ c.name }}</option>
                            </select>
                          </div>
                          <div class="form-group" *ngIf="curruser.role == 'Yrittäjä' || curruser.role == 'Työntekijä'">
                            <label for="company">{{ 'USEREDIT.ATTACHEDCMPN' | translate }}</label>
                            <select class="form-control" name="companyid" id="companyid" formControlName="companyid" aria-readonly="true"
                              *ngIf="row.company" disabled>
                              <option value="0">Ei liitosta</option>
                              <option *ngFor="let c of c_row" [selected]="c.id == row.company.id" value="{{c.id}}">{{ c.name }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12" *ngIf="curruser.role == 'Admin' || curruser.role == 'Moderator'">
                          <button type="submit" class="btn btn-primary mr-1 mt-1" (click)="submitCompanyForm(row.id)" rippleEffect>{{ 'USEREDIT.SAVE' | translate }}</button>
                          <button type="reset" class="btn btn-outline-secondary mt-1" rippleEffect>{{ 'USEREDIT.CANCEL' | translate }}</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit socail form ends -->
                  </div>
                  <!-- Social Tab ends -->
                </ng-template>
              </li>
              <li [ngbNavItem] *ngIf="row.role_id == 3">
                <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="message-circle" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">{{ 'USEREDIT.NOTIFICATIONS' | translate }}</span>
                </a>
                <ng-template ngbNavContent>
                  <div class="tab-pane" id="information" aria-labelledby="information-tab" role="tabpanel">
                    <div class="loading-overlay" *ngIf="disabled">
                      <div class="spinner-border text-primary" role="status" style="width:4rem;height:4rem;">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-12 mt-1">
                        <p class="font-weight-bold">
                          Aseta ilmoitukset tauolle
                        </p>
                        <div class="form-group" *ngIf="row.notifications_enabled && !row.still_muted">
                          <label for="basicSelect">Kuinka pitkäksi ajaksi ilmoitukset asetetaan tauolle?</label>
                          <select class="form-control" id="basicSelect" (change)="showSaveBtn($event)">
                            <option value="">Valitse aika</option>
                            <option value="2">2 tuntia</option>
                            <option value="4">4 tuntia</option>
                            <option value="8">8 tuntia</option>
                            <option value="12">12 tuntia</option>
                            <option value="24">24 tuntia</option>
                            <option value="permanent">Toistaiseksi</option>
                          </select>
                          <button class="mt-1 btn btn-primary" *ngIf="showbutton" (click)="saveNotificationTime(row.id)">Tallenna</button>
                        </div>
                        <p class="text-primary" id="pausetime" *ngIf="showpausetime">
                          <i data-feather="alert-circle" class="mr-sm-50"></i> {{ pausetime }}
                        </p>
                        <div *ngIf="!row.notifications_enabled || (row.notifications_paused_untill && row.still_muted)">
                          <p class="text-primary" *ngIf="!row.notifications_enabled">
                            <i data-feather="alert-circle" class="mr-sm-50"></i> Ilmoitukset mykistetty toistaiseksi.
                          </p>
                          <p class="text-primary" *ngIf="row.notifications_paused_untill">
                            <i data-feather="alert-circle" class="mr-sm-50"></i> Ilmoitukset mykistetty {{ row.notifications_paused_untill }} saakka.
                          </p>
                          <button class="mt-1 btn btn-secondary" (click)="unmuteNotifications(row.id)">Ota ilmoitukset pois tauolta</button>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <!-- <div class="col-6">
                        <h4 class="mb-1">
                          <i data-feather="message-circle" [size]="16" class="mr-75 font-medium-4"></i>
                          <span class="align-middle">Ilmoitusasetukset</span>
                        </h4>
                      </div> -->
                      <div class="col-12 mt-1 border-top pt-1">
                        <p class="font-weight-bold">
                          {{ 'USEREDIT.SELECTNOTIFCS' | translate }}.
                        </p>
                        <label>{{ 'USEREDIT.NEWTNDR' | translate }}:</label>
                      </div>
                      <div class="col-12 pt-2">
                        <h5 class="mb-2">
                          Kategoria
                        </h5>
                        <div class="row">
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ 'USEREDIT.MOVE' | translate }}</p>
                              <input type="checkbox" class="custom-control-input" id="move" value="move" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.move_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="move">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ 'USEREDIT.CARGO' | translate }}</p>
                              <input type="checkbox" class="custom-control-input" id="cargo" value="cargo" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.cargo_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="cargo">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ 'USEREDIT.VEHICLE' | translate }}</p>
                              <input type="checkbox" class="custom-control-input" id="vehicle" value="vehicle" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.vehicle_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="vehicle">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ 'USEREDIT.SUPPLY' | translate }}</p>
                              <input type="checkbox" class="custom-control-input" id="supply" value="soil" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.soil_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="supply">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ 'USEREDIT.PACKAGE' | translate }}</p>
                              <input type="checkbox" class="custom-control-input" id="package" value="package" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.package_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="package">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pt-2">
                        <h5 class="mb-0">
                          Kotimaa
                          <a class="badge badge-primary mx-25" (click)="toggleAllOn(row.id)" style="color:white;">
                            <i data-feather="toggle-right" class="mr-25"></i>
                            <span>Valitse kaikki</span>
                          </a>
                          <a class="badge badge-secondary" (click)="toggleAllOff(row.id)" style="color:white;">
                            <i data-feather="toggle-left" class="mr-25"></i>
                            <span>Poista valinta kaikista</span>
                          </a>
                        </h5>
                        <i>Kuljetukset mistä & mihin</i>
                        <div class="row mt-1">
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let province of provinces">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">{{ province.name }}</p>
                              <input type="checkbox" class="custom-control-input province-cb" id="{{ province.id }}" value="{{ province.id }}" (change)="updateProvinceNotifications(row.id, $event)" [checked]="checkForProvince(province)" [disabled]="disabled"/>
                              <label class="custom-control-label" for="{{ province.id }}">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 pt-2">
                        <h5 class="mb-2">
                          Ulkomaat
                        </h5>
                        <div class="row">
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">
                                Suomesta ulkomaille
                              </p>
                              <input type="checkbox" class="custom-control-input" id="fin_to_abroad" value="homeland_to_abroad" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.homeland_to_abroad_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="fin_to_abroad">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">
                                Ulkomailta Suomeen
                              </p>
                              <input type="checkbox" class="custom-control-input" id="abroad_to_fin" value="abroad_to_homeland" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.abroad_to_homeland_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="abroad_to_fin">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                            <div class="custom-control custom-switch pb-2">
                              <p class="mb-25">
                                Ulkomaa - ulkomaa
                              </p>
                              <input type="checkbox" class="custom-control-input" id="abroad_to_abroad" value="abroad_to_abroad" (change)="changeNotificationSetting(row.id, $event)" [checked]="row.abroad_to_abroad_notifications" [disabled]="disabled"/>
                              <label class="custom-control-label" for="abroad_to_abroad">
                                <span class="switch-icon-left"><i data-feather="check"></i></span>
                                <span class="switch-icon-right"><i data-feather="x"></i></span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
