@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/base/pages/app-user.scss';

.loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    z-index: 1231;
    display: flex;
    align-items: center;
    justify-content: center;
}