<div class="slideout-content">
  <!-- Modal To Add New User Starts-->
  <div class="modalsd modal-slide-in sdfade add-payment-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <div class="modal-content p-0">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="toggleSidebar('add-payment-sidebar')"
        >
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title">
            <span class="align-middle">Lisää tarjouspohja</span>
          </h5>
        </div>
        <div class="modal-body flex-grow-1">
          <form class="form-validate" [formGroup]="loginForm">
            <!-- <div class="form-group">
              <input id="balance" class="form-control" type="text" value="Invoice Balance: 5000.00" disabled />
            </div>
            <div class="form-group">
              <label class="form-label" for="amount">Payment Amount</label>
              <input id="amount" class="form-control" type="number" placeholder="$1000" />
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-date">Payment Date</label>
              <ng2-flatpickr [config]="paymentDateOptions" name="Date"></ng2-flatpickr>
            </div> -->
            <input type="hidden" name="companyid" formControlName="companyid" value="{{companyid}}">
            <div class="form-group">
              <label class="form-label" for="payment-method">Tarjouspohjan kohdetyyppi</label>
              <select name="for_type" id="for_type" formControlName="for_type" class="form-control">
                <option value="" disabled selected>Valitse kohdetyyppi</option>
                <option value="Muutot">Muutot</option>
                <option value="Rahdit">Rahdit</option>
                <option value="Ajoneuvot, veneet ja koneet">Ajoneuvot, veneet ja koneet</option>
                <option value="Maa-ainekset ja rakennustarvikkeet">Maa-ainekset ja rakennustarvikkeet</option>
                <option value="Pientavara tai paketit">Pientavara tai paketit</option>
              </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-method">Tarjouspohjan nimi</label>
              <input type="text" class="form-control" placeholder="Tarjouspohjan nimi" formControlName="name" name="name">
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-note">Sisältö</label>
              <textarea class="form-control" id="payment-note" rows="5" formControlName="content" name="content" placeholder="Kirjoita tähän lisätiedot joiden haluat välittyvän asiakkaalle."></textarea>
            </div>
            <div class="form-group d-flex flex-wrap mb-0">
              <button
                type="button"
                class="btn btn-primary mr-1"
                (click)="submitAndToggleSidebar('add-payment-sidebar')"
                rippleEffect
              >
                Tallenna
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-dismiss="modal"
                (click)="toggleSidebar('add-payment-sidebar')"
                rippleEffect
              >
                Peruuta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal To Add New User Ends-->
</div>
