<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Register v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <!-- <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" /> -->
          <i class="feather font-large-1 icon-truck text-primary"></i>
          <h2 class="brand-text text-primary ml-1">Trafipoint</h2>
        </a>

        <h4 class="card-title mb-1">Tervetuloa Trafipointin hallintaan!</h4>
        <p class="card-text mb-2">Rekisteröidy tiedoillasi!</p>

        <!-- <form class="auth-register-form mt-2" (ngSubmit)="(authForm.form.valid)" #authForm="ngForm"> -->
        <!-- <form class="auth-register-form mt-2" (ngSubmit)="onSubmit()" [formGroup]="authForm" #authForm="ngForm"> -->
        <form class="auth-register-form mt-2" (ngSubmit)="onSubmit()" #authForm="ngForm">
          <div class="form-group">
            <label for="register-firstname" class="form-label">Etunimi</label>
            <input
              type="text"
              class="form-control"
              id="register-firstname"
              name="register-firstname"
              placeholder="John"
              aria-describedby="register-firstname"
              tabindex="1"
              autofocus
              [class.error]="authForm.submitted && firstNameRef.invalid"
              [(ngModel)]="firstNameVar"
              #firstNameRef="ngModel"
              required
            />
            <span *ngIf="authForm.submitted && firstNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="firstNameRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>
          </div>

          <div class="form-group">
            <label for="register-lastname" class="form-label">Sukunimi</label>
            <input type="text" class="form-control" id="register-lastname" name="register-lastname" placeholder="Doe"
              aria-describedby="register-lastname" tabindex="1" autofocus
              [class.error]="authForm.submitted && lastNameRef.invalid" [(ngModel)]="lastNameVar" #lastNameRef="ngModel"
               required />
            <span *ngIf="authForm.submitted && lastNameRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="lastNameRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>
          </div>

          <div class="form-group">
            <label for="register-mobile" class="form-label">Puhelinnumero</label>
            <input type="text" class="form-control" id="register-mobile" name="register-mobile" placeholder="050 123 1234"
              aria-describedby="register-mobile" tabindex="2" [class.error]="authForm.submitted && mobileRef.invalid"
              [(ngModel)]="mobileVar" #mobileRef="ngModel"  required />
            <span *ngIf="authForm.submitted && mobileRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="mobileRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>
            <!-- <span *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" class="invalid-form">
              <small class="form-text text-danger" [hidden]="!emailRef.errors?.pattern"> Invalid email </small>
            </span> -->
          </div>

          <div class="form-group">
            <label for="register-email" class="form-label">Sähköposti</label>
            <input
              type="text"
              class="form-control"
              id="register-email"
              name="register-email"
              placeholder="john@example.com"
              aria-describedby="register-email"
              tabindex="2"
              [class.error]="authForm.submitted && emailRef.invalid"
              [(ngModel)]="emailVar"
              #emailRef="ngModel"
              required
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            />
            <span *ngIf="authForm.submitted && emailRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="emailRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>

            <span *ngIf="emailRef.errors && (emailRef.touched || emailRef.dirty)" class="invalid-form">
              <small class="form-text text-danger" [hidden]="!emailRef.errors?.pattern"> Virheellinen sähköpostiosoite </small>
            </span>
          </div>

          <div class="form-group">
            <label for="register-password" class="form-label">Salasana</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input
                [type]="passwordTextType ? 'text' : 'password'"
                class="form-control form-control-merge"
                id="register-password"
                name="register-password"
                placeholder="············"
                aria-describedby="register-password"
                tabindex="3"
                [(ngModel)]="passwordVar"
                #passwordRef="ngModel"
                [class.error]="authForm.submitted && passwordRef.invalid"
                required
              />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                  ><i
                    class="feather font-small-4"
                    [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }"
                    (click)="togglePasswordTextType()"
                  ></i
                ></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && passwordRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="passwordRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>
          </div>

          <div class="form-group">
            <label for="register-password_c" class="form-label">Salasana uudelleen</label>
          
            <div class="input-group input-group-merge form-password_c-toggle">
              <input [type]="password_cTextType ? 'text' : 'password_c'" class="form-control form-control-merge"
                id="register-password_c" name="register-password" placeholder="············" aria-describedby="register-password_c"
                tabindex="3" [(ngModel)]="password_cVar" #password_cRef="ngModel"
                [class.error]="authForm.submitted && password_cRef.invalid" required  />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer">
                  <i class="feather font-small-4" [ngClass]="{ 'icon-eye-off': password_cTextType, 'icon-eye': !password_cTextType }" (click)="togglePassword_cTextType()"></i></span>
              </div>
            </div>
            <span *ngIf="authForm.submitted && password_cRef.invalid" class="invalid-form">
              <small class="form-text text-danger" *ngIf="password_cRef.errors.required">Tämä kenttä tulee täyttää!</small>
            </span>
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="4" />
              <label class="custom-control-label" for="register-privacy-policy">
                Hyväksyn palvelun <a href="javascript:void(0);">käyttöehdot</a>
              </label>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="5" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Rekisteröidy
          </button>
        </form>

        <p class="text-center mt-2">
          <span>Onko sinulla jo käyttäjä? </span>
          <a routerLink="/pages/authentication/login-v1">
            <span> Kirjaudu sisään</span>
          </a>
        </p>

        <!-- <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>

        <div class="auth-footer-btn d-flex justify-content-center">
          <a href="javascript:void(0)" class="btn btn-facebook">
            <i data-feather="facebook"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-twitter white">
            <i data-feather="twitter"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-google">
            <i data-feather="mail"></i>
          </a>
          <a href="javascript:void(0)" class="btn btn-github">
            <i data-feather="github"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- /Register v1 -->
  </div>
</div>
