<div class="content-wrapper">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <div class="d-flex align-items-center text-primary" style="max-width: 150px;margin:0 auto;" *ngIf="loadingdata">
        <strong>Ladataan...</strong>
        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
      </div>
      <!-- User Card & Plan Starts -->
      <div class="row" *ngIf="show && data">
        <!-- User Card starts-->
        <div class="col-xl-9 col-lg-8 col-md-8">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-12 col-12 col-lg-12 d-flex flex-column justify-content-between border-container-lg mb-2 pb-2 border-bottom">
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <!-- <div *ngIf="data.avatar.length > 0; else customAvatar">
                        <img class="img-fluid rounded" [src]="data.avatar" height="104" width="104" alt="User avatar" />
                      </div>
                      <ng-template #customAvatar>
                        <div class="mr-1 ml-0">
                          <div
                            [ngClass]="{
                              'bg-light-success': data.status == 'active',
                              'bg-light-secondary': data.status == 'inactive',
                              'bg-light-warning': data.status == 'pending'
                            }"
                            class="rounded p-3"
                          >
                            <h2
                              [ngClass]="{
                                'text-success': data.status == 'active',
                                'text-secondary': data.status == 'inactive',
                                'text-warning': data.status == 'pending'
                              }"
                              class="m-0"
                            >
                              {{ data.fullName | initials }}
                            </h2>
                          </div>
                        </div>
                      </ng-template> -->
                      <div class="d-flex ml-1">
                        <div  class="mr-2">
                          <h4 class="mb-0">{{ data.name }}</h4>
                          <span class="card-text">{{ data.business_id }}</span>
                        </div>
                        <div>
                          <a routerLink="/apps/company/company-edit/{{ data.id }}" *ngIf="curruser.role != 'Työntekijä'" class="btn btn-primary mr-1" rippleEffect>
                            {{ 'DISPLAY.EDIT' | translate }}
                          </a>
                          <button class="btn btn-outline-danger mr-1" rippleEffect (click)="deactivate(data.name, data.id)" *ngIf="curruser.role == 'Admin' && !data.deleted_at && !data.is_subscribed">
                            Deaktivoi
                          </button>
                          <button class="btn btn-outline-danger mr-1" rippleEffect disabled (click)="deactivate(data.name, data.id)"
                            *ngIf="curruser.role == 'Admin' && !data.deleted_at && data.is_subscribed">
                            Tilaus tulee lopettaa ennen deaktivointia
                          </button>
                          <button class="btn btn-outline-success mr-1" rippleEffect (click)="activate(data.name, data.id)" *ngIf="curruser.role == 'Admin' && data.deleted_at">
                            Aktivoi
                          </button>
                          <button class="btn btn-outline-danger mr-1" rippleEffect (click)="delete(data.name, data.id)" *ngIf="curruser.role == 'Admin' && data.deleted_at">
                            Poista pysyvästi
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="d-flex align-items-center user-total-numbers">
                    <div class="d-flex align-items-center mr-2">
                      <div class="color-box bg-light-primary">
                        <i [data-feather]="'plus-circle'" [class]="'text-primary'"></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">23.3k</h5>
                        <small>Monthly Sales</small>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="color-box bg-light-success">
                        <i [data-feather]="'trending-up'" [class]="'text-success'"></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">$99.87K</h5>
                        <small>Annual Profit</small>
                      </div>
                    </div>
                  </div> -->
                </div>
                <div class="col-xl-6 col-lg-6 mt-2 mt-xl-0">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.CONTACTPERSON' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.contactperson }}</p>
                    </div>
                    <!-- <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="check" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Status</span>
                      </div>
                      <p class="card-text mb-0">{{ data.status }}</p>
                    </div> -->
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="briefcase" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.COMPANY' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.name }}</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="star" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.BUSINESSID' | translate }}</span>
                      </div>
                      <p class="card-text mb-0">{{ data.business_id }}</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="phone" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">{{ 'DISPLAY.CONTACH' | translate }}</span>
                      </div>
                      <p class="card-text mb-0"><a href="tel:+{{ data.mobile }}">{{ data.mobile }}</a> <br> <a href="mailto:{{ data.email }}">{{ data.email }}</a></p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="activity" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Tilaus</span>
                      </div>
                      <p class="card-text mb-0 text-success" *ngIf="data.is_subscribed && !data.subscription_ends_at">Aktiivinen</p>
                      <p class="card-text mb-0 text-warning" *ngIf="data.is_subscribed && data.subscription_ends_at">Päättyy {{ data.Subscriptionends }}</p>
                      <p class="card-text mb-0 text-danger" *ngIf="!data.is_subscribed">Ei aktiivinen</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 mt-2 mt-xl-0" *ngIf="curruser.role != 'Työntekijä'">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Kuukausimaksu</span>
                      </div>
                      <p class="card-text mb-0">{{ data.subscription_price }} €</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title w-100">
                        <i data-feather="dollar-sign" class="mr-1 opac0 d-none"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0 w-100">Tarjouspyyntöjen avaushinnat</span>
                      </div>
                      <!-- <p class="card-text mb-0">{{ data.click_price }} €</p> -->
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Muutto</span>
                      </div>
                      <p class="card-text mb-0">{{ data.event_muutto_price }} €</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Rahti</span>
                      </div>
                      <p class="card-text mb-0">{{ data.event_rahti_price }} €</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Ajoneuvo</span>
                      </div>
                      <p class="card-text mb-0">{{ data.event_ajoneuvot_price }} €</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Massa</span>
                      </div>
                      <p class="card-text mb-0">{{ data.event_massa_price }} €</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="dollar-sign" class="mr-1"></i>
                        <span class="card-text user-info-title font-weight-bold mb-0">Paketti</span>
                      </div>
                      <p class="card-text mb-0">{{ data.event_paketti_price }} €</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="curruser.role == 'Admin' || curruser.role == 'Yrittäjä'">
                <div class="col-md-12">
                  <ul ngbNav #nav="ngbNav" class="nav-tabs">
                    <li ngbNavItem>
                      <a ngbNavLink>Tarjouspohjat</a>
                      <ng-template ngbNavContent>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card-header">
                              <h4 class="card-title">Tarjouspohjat <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                              </h4>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="text-right card-header" style="display: block;">
                              <a class="btn-primary btn" data-toggle="modal"
                                data-target="#add-payment-sidebar" (click)="toggleSidebar('add-payment-sidebar', 0)">
                                <i data-feather="plus-circle"></i> Lisää uusi
                              </a>
                              <!-- <button class="btn btn-success btn-block mb-75" data-toggle="modal" data-target="#add-payment-sidebar"
                                                  (click)="toggleSidebar('add-payment-sidebar')" rippleEffect>Lisää uusi</button> -->
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive" *ngIf="data.offertemplates">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Nimi</th>
                                <th>Kohdetyyppi</th>
                                <th>&nbsp;</th>
                                <!-- <th>&nbsp;</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let tmp of data.offertemplates">
                                <tr>
                                  <td>
                                    {{ tmp.name }}
                                  </td>
                                  <td>
                                    {{ tmp.for_type }}
                                  </td>
                                  <td>
                                    <!-- <button class="btn btn-sm btn-outline-success mr-1" data-toggle="modal" data-target="#add-payment-sidebar" (click)="toggleSidebar('add-payment-sidebar', tmp.id)" rippleEffect> -->
                                    <button class="btn btn-sm btn-outline-primary mr-1" data-toggle="modal"
                                      data-target="#add-payment-sidebar" (click)="toggleSidebarId('add-payment-sidebar', tmp.id)"
                                      rippleEffect>
                                      Muokkaa
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="deleteTemplate(tmp.id)" rippleEffect>
                                      Poista
                                    </button>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Sopimusehdot</a>
                      <ng-template ngbNavContent>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="card-header">
                              <h4 class="card-title">Sopimusehdot <span *ngIf="loading"
                                  class="spinner-border spinner-border-sm mr-1"></span>
                              </h4>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="text-right card-header" style="display: block;">
                              <a class="btn-primary btn" data-toggle="modal" data-target="#tender-sidebar"
                                (click)="ctoggleSidebar('tender-sidebar', 0)">
                                <i data-feather="plus-circle"></i> Lisää uusi
                              </a>
                              <!-- <button class="btn btn-success btn-block mb-75" data-toggle="modal" data-target="#add-payment-sidebar"
                                                                      (click)="toggleSidebar('add-payment-sidebar')" rippleEffect>Lisää uusi</button> -->
                            </div>
                          </div>
                        </div>
                        <div class="table-responsive" *ngIf="data.contractterms">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Nimi</th>
                                <th>&nbsp;</th>
                                <!-- <th>&nbsp;</th> -->
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let cterm of data.contractterms">
                                <tr>
                                  <td>
                                    {{ cterm.name }}
                                  </td>
                                  <td>
                                    <button class="btn btn-sm btn-outline-primary mr-1" data-toggle="modal"
                                      data-target="#tender-sidebar" (click)="ctoggleSidebarId('tender-sidebar', cterm.id)"
                                      rippleEffect>
                                      Muokkaa
                                    </button>
                                    <button class="btn btn-sm btn-outline-danger" (click)="deleteTerm(cterm.id)" rippleEffect>
                                      Poista
                                    </button>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Tapahtumat</a>
                      <ng-template ngbNavContent>
                        <div class="card-header">
                          <h4 class="card-title">Tapahtumat</h4>
                        </div>
                        <div class="table-responsive" *ngIf="data.events">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Avattu tarjous</th>
                                <th>Avaaja</th>
                                <th>Ajankohta</th>
                                <th>Hinta</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tmpp of data.events">
                                <td>
                                  <a routerLink="/apps/tender/preview/{{ tmpp.target_id }}">{{ tmpp.type }}</a>
                                </td>
                                <td>
                                  <span *ngIf="tmpp.causer !== undefined">
                                    {{ tmpp.causer.firstName }} {{ tmpp.causer.lastName }}
                                  </span>
                                  <span *ngIf="tmpp.causer === undefined">
                                    Poistettu käyttäjä
                                  </span>
                                </td>
                                <td>
                                  {{ tmpp.time }}
                                </td>
                                <td>
                                  {{ tmpp.price }}€
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Saldot</a>
                      <ng-template ngbNavContent>
                        <div class="card-header">
                          <h4 class="card-title">Saldot</h4>
                        </div>
                        <div class="table-responsive" *ngIf="data.balances">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>KK/VVVV</th>
                                <th>Kertynyt saldo</th>
                                <th>Kuukausimaksu</th>
                                <!-- <th>Maksun tila</th> -->
                                <th>Tila</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ttmpp of data.balances">
                                <td>
                                  {{ ttmpp.period }}
                                </td>
                                <td>
                                  {{ ttmpp.balance }}€
                                </td>
                                <td>
                                  {{ ttmpp.subscription_price }}€
                                </td>
                                <td>
                                  <div *ngIf="ttmpp.expired" class="badge badge-pill badge-glow badge-primary">Laskutuskausi päättynyt</div>
                                  <div *ngIf="!ttmpp.expired" class="badge badge-pill badge-glow badge-dark">Laskutuskausi kesken</div>
                                </td>
                                <!-- <td>
                                  <div *ngIf="!ttmpp.expired && !ttmpp.is_paid" class="badge badge-pill badge-glow badge-dark">Laskutuskausi kesken</div>
                                  <div *ngIf="ttmpp.expired && !ttmpp.is_paid" class="badge badge-pill badge-glow badge-danger">Ei maksettu</div>
                                  <div *ngIf="ttmpp.is_paid" class="badge badge-pill badge-glow badge-success">Maksettu</div>
                                </td> -->
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Maksut</a>
                      <ng-template ngbNavContent>
                        <div class="card-header">
                          <h4 class="card-title">Maksut</h4>
                        </div>
                        <div class="table-responsive" *ngIf="data.payments">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Ajankohta</th>
                                <th>Kuvaus</th>
                                <th>Summa</th>
                                <th>
                                  <!-- <i data-feather="eye"></i> -->
                                  Tila
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let ttmmpp of data.payments">
                                <td>
                                  {{ ttmmpp.created }}
                                </td>
                                <td>
                                  {{ ttmmpp.description }}
                                </td>
                                <td>
                                  {{ ttmmpp.total }}€
                                </td>
                                <td>
                                  <div *ngIf="ttmmpp.payment_status">
                                    <span class="badge badge-light-success mr-50">Maksettu</span>
                                    <a routerLink="/apps/invoice/preview/{{ ttmmpp.invoice_id }}" style="text-decoration: underline;">
                                      Kuitti
                                    </a>
                                  </div>
                                  <div *ngIf="!ttmmpp.payment_status">
                                    <span class="badge badge-light-danger mr-50">Ei maksettu</span>
                                    <a (click)="retryPayment(ttmmpp.id, ttmmpp.total)" class="text-primary" style="text-decoration: underline;">
                                      Maksa nyt
                                    </a>
                                  </div>
                                  <!-- <a routerLink="/apps/invoice/preview/{{ ttmmpp.id }}"> -->
                                  <!-- <a routerLink="/apps/invoice/preview/4989"> -->
                                    <!-- {{ ttmmpp.payment_status }} -->
                                  <!-- </a> -->
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Kampanjat</a>
                      <ng-template ngbNavContent>
                        <div class="card-header">
                          <h4 class="card-title">Kampanjat</h4>
                        </div>
                        <div class="table-responsive" *ngIf="campaings">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Nimi</th>
                                <th>&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let asd of campaings">
                                <tr *ngIf="asd.active">
                                  <td>
                                    {{ asd.name }}
                                  </td>
                                  <td>
                                    <a routerLink="/apps/campaing/campaing-view/{{ asd.id }}">
                                      Tiedot
                                    </a>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                    <li ngbNavItem>
                      <a ngbNavLink>Arvostelut</a>
                      <ng-template ngbNavContent>
                        <div class="card-header">
                          <h4 class="card-title">Arvostelut</h4>
                          <div *ngIf="data.ratingaverage">
                            <p class="mb-0" *ngIf="data.ratingaverage > 3.5">
                              Keskiarvo: <span class="badge badge-success">{{ data.ratingaverage }}</span>
                            </p>
                            <p class="mb-0" *ngIf="data.ratingaverage < 3.5 && data.ratingaverage >= 2">
                              Keskiarvo: <span class="badge badge-warning">{{ data.ratingaverage }}</span>
                            </p>
                            <p class="mb-0" *ngIf="data.ratingaverage < 2">
                              Keskiarvo: <span class="badge badge-danger">{{ data.ratingaverage }}</span>
                            </p>
                          </div>
                        </div>
                        <div class="table-responsive" *ngIf="data.ratings">
                          <table class="table table-striped table-borderless">
                            <thead class="thead-light">
                              <tr>
                                <th>Tarjous</th>
                                <th>Arvosana</th>
                                <th>Kommentti</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let rating of data.ratings">
                                <tr>
                                  <td>
                                    <a routerLink="/apps/tender/preview/{{ rating.tender_id }}">
                                      Näytä
                                    </a>
                                  </td>
                                  <td>
                                    {{ rating.rating }}/5
                                  </td>
                                  <td>
                                    <p>
                                      {{ rating.feedback }}
                                    </p>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>
                      </ng-template>
                    </li>
                  </ul>
                  <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- Plan Card starts-->
        <div class="col-xl-3 col-lg-4 col-md-4" *ngIf="data.users && data.users.length > 0">
          <div class="card plan-card border-primary">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">Liitetyt käyttäjät</h5>
              <!-- <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top" title="Expiry Date"
                >July 22, 2020 <span class="nextYear"></span>
              </span> -->
            </div>
            <div class="card-body" >
                <div *ngFor="let usr of data.users" style="border-top: 1px solid gainsboro;padding: 0 0 1em 0;">
                <!-- <div class="badge badge-light-primary">Basic</div> -->
                  <ul class="list-unstyled my-1">
                    <li>
                      <span class="align-middle">{{ usr.firstName + ' ' + usr.lastName }}</span>
                    </li>
                    <li class="my-25" *ngIf="this.curruser.role == 'Admin'">
                      <span class="align-middle">{{ usr.role }}</span>
                    </li>
                  </ul>
                  <a routerLink="/apps/user/user-view/{{ usr.id }}" *ngIf="curruser.role != 'Työntekijä'" class="btn btn-primary text-center btn-block" rippleEffect>
                    Profiiliin tietoihin
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4" *ngIf="!data.users || data.users.length == 0">
          <div class="card plan-card border-primary">
            <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
              <h5 class="mb-0">Liitetyt käyttäjät</h5>
            </div>
            <div class="card-body">
                <!-- <a routerLink="/apps/user/user-add/" class="btn btn-primary text-center btn-block" rippleEffect>
                  Liitä uusi käyttäjä
                </a> -->
                <p>
                  Ei liitettyjä käyttäjiä.<br><br>
                  Voit lisätä käyttäjän yritykseen <a [routerLink]="['/apps/company/company-edit/' + data.id]" [queryParams]="{nav: '2'}">muokkaamalla yritystä</a>,
                  <br> liittää käyttäjiä yritykseen 
                  <a routerLink="/apps/user/user-add/">
                    luomalla uuden käyttäjän
                  </a> tai
                  tekemällä liitoksen liitettävän käyttäjän profiilista
                </p>
            </div>
          </div>
        </div>
        <!-- /Plan CardEnds -->
      </div>
      <!-- User Card & Plan Ends -->


      <!-- User Invoice Starts-->
      <!-- <div class="row invoice-list-wrapper">
        <div class="col-12">
          <div class="card">
            <app-invoice-list></app-invoice-list>
          </div>
        </div>
      </div> -->
      <!-- /User Invoice Ends-->
    </section>
    <!-- page users view end -->
  </div>
  <core-sidebar 
      class="modal modal-slide-in sidebar-todo-modal fade" 
      name="add-payment-sidebar"
      overlayClass="modal-backdrop" 
      hideOnEsc="true" 
      *ngIf="data">
    <app-add-payment-sidebar-preview 
      [companyid]="data.id" 
      [offers]="data.offertemplates" 
      [offerid]="offertemplateid">
    </app-add-payment-sidebar-preview>
  </core-sidebar>
  <!-- Send Invoice Sidebar -->
  <core-sidebar
      class="modal modal-slide-in sidebar-todo-modal fade"
      name="tender-sidebar"
      overlayClass="modal-backdrop"
      hideOnEsc="true"
      *ngIf="data"
    >
      <app-send-tender-sidebar-preview
        [companyid]="data.id" 
        [offers]="data.contractterms" 
        [offerid]="contracttemplateid">
      </app-send-tender-sidebar-preview>
    </core-sidebar>
  <!--/  Send Invoice Sidebar -->
</div>
