<div class="slideout-content">
  <!-- Modal To Add New User Starts-->
  <div class="modalsd modal-slide-in sdfade add-payment-modal" id="modals-slide-in">
    <div class="modal-dialog">
      <div class="modal-content p-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="toggleSidebar('tender-sidebar')">
          ×
        </button>
        <div class="modal-header mb-1">
          <h5 class="modal-title">
            <span class="align-middle">Lisää sopimusehto</span>
          </h5>
        </div>
        <div class="modal-body flex-grow-1">
          <form class="form-validate" [formGroup]="loginForm">
            <input type="hidden" name="companyid" formControlName="companyid" value="{{companyid}}">
            <div class="form-group">
              <label class="form-label" for="payment-method">Sopimusehdot nimi</label>
              <input type="text" class="form-control" placeholder="Sopimusehdon nimi" formControlName="name"
                name="name">
            </div>
            <div class="form-group">
              <label class="form-label" for="payment-note">Sisältö</label>
              <textarea class="form-control" id="payment-note" rows="5" formControlName="content" name="content"
                placeholder="Kirjoita tähän lisätiedot joiden haluat välittyvän asiakkaalle."></textarea>
            </div>
            <div class="form-group d-flex flex-wrap mb-0">
              <button type="button" class="btn btn-primary mr-1" (click)="submitAndToggleSidebar('tender-sidebar')"
                rippleEffect>
                Tallenna
              </button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
                (click)="toggleSidebar('tender-sidebar')" rippleEffect>
                Peruuta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal To Add New User Ends-->
</div>