<div class="auth-wrapper auth-v1 px-2">
  <div class="auth-inner py-2">
    <!-- Forgot Password v1 -->
    <div class="card mb-0">
      <div class="card-body">
        <a href="javascript:void(0);" class="brand-logo">
          <!-- <i class="feather font-large-1 icon-truck text-primary"></i>
          <h2 class="brand-text text-primary ml-1">Trafipoint</h2> -->
          <img src="assets/images/logo/logo.png" alt="Logo" />
        </a>

        <h4 class="card-title mb-1">Unohtuiko salasana? 🔒</h4>
        <p class="card-text mb-2">Syötä puhelinnumerosi, niin lähetämme sinulle vahvistuskoodin jonka avulla voit vaihtaa salasanasi.</p>

        <div *ngIf="!alreadyHaveACode && !phoneNumberEntered()">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="sendForm()" class="auth-forgot-password-form mt-2">
            <div class="form-group">
              <label for="forgot-password-mobile" class="form-label">Puhelinnumero</label>
              <input #c0 type="tel" class="form-control" placeholder="050 123 1234" formControlName="mobile">
            </div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!resetPasswordForm.valid" tabindex="2" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Lähetä
            </button>
          </form>
          <p class="text-center mt-2">
            <a (click)="iHaveAlreadyTheCode()">Minulla on jo koodi</a>
          </p>
        </div>

        <div *ngIf="alreadyHaveACode || phoneNumberEntered()">
          <div *ngIf="!alreadyHaveACode">
            <p>
              Puhelimeesi saapuu muutaman minuutin kuluessa 6-numeroinen koodi, joka syötetään alla olevaan tekstikenttään.
            </p>
            <p>
              <button class="btn btn-primary btn-block" (click)="clearPhoneNumber()" rippleEffect>
                Vaihda puhelinnumero
              </button>
            </p>
          </div>
          <form [formGroup]="enterCodeForm" (ngSubmit)="sendCodeForm()">
            <div class="form-group">
              <div *ngIf="alreadyHaveACode">
                <label for="mobile" class="form-label">Puhelinnumero</label>
                <input #c1 type="tel" name="mobile" placeholder="Puhelinnumero" formControlName="mobile" class="form-control">
              </div>
              <label for="code" class="form-label">Koodi</label>
              <input autocomplete="one-time-code" type="text" placeholder="Koodi" name="code" formControlName="code" class="form-control">
              <div [formGroup]="enterCodeForm.controls.passwords" >
                <label for="password" class="form-label">Salasana</label>
                <input type="password" placeholder="Salasana" name="password" formControlName="password" class="form-control">

                <label for="passwordConfirm" class="form-label">Salasana uudelleen</label>
                <input type="password" placeholder="Salasana uudelleen" name="passwordConfirm" formControlName="passwordConfirm" class="form-control">
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!enterCodeForm.valid" rippleEffect>
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Vaihda salasana
            </button>
          </form>
        </div>

        

        <p class="text-center mt-2">
          <a routerLink="/pages/authentication/login-v1"> <i data-feather="chevron-left"></i> Takaisin kirjautumiseen </a>
        </p>
      </div>
    </div>
    <!-- /Forgot Password v1 -->
  </div>
</div>
