<div class="content-wrapper">
  <div class="content-body">
    <!-- users edit start -->
    <section class="app-user-edit">
      <ng-container>
        <div class="card" *ngIf="curruser.role == 'Admin' || curruser.role == 'Moderator'">
          <div class="card-body">
            <ul ngbNav #nav="ngbNav" class="nav nav-pills">
              <li ngbNavItem>
                <!-- <a ngbNavLink class="d-flex align-items-center">
                  <i data-feather="dollar-sign" class="mr-sm-50"></i>
                  <span class="d-none d-sm-block">Yleinen hinnasto</span>
                </a> -->
                <ng-template ngbNavContent>
                  <!-- Account Tab starts -->
                  <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                    <div class="row mb-1 mt-2">
                      <div class="col-md-4">
                        <h4>Ensimmäinen kuukausi ilmaiseksi</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="custom-control custom-switch pb-2">
                          <p class="mb-25">
                            Yritysten ensimmäisen kuukauden kuukausimaksu 0€? <br>
                            <i>Ei vaikuta tarjouspyyntöjen avausmaksuihin</i>
                          </p>
                          <input type="checkbox" class="custom-control-input" id="freemonth" value="freemonth" (change)="changeval($event)" [checked]="row.subscription_free_first_month" />
                          <label class="custom-control-label" for="freemonth">
                            <span class="switch-icon-left"><i data-feather="check"></i></span>
                            <span class="switch-icon-right"><i data-feather="x"></i></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <!-- users edit media object start -->
                    <div class="media mb-1">
                      <!-- <div *ngIf="row.avatar.length > 0; else customAvatar">
                        <img
                          class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer"
                          [src]="row.avatar"
                          height="90"
                          width="90"
                          alt="User avatar"
                        />
                      </div>
                      <ng-template #customAvatar>
                        <div
                          class="mr-1 ml-0"
                          [ngClass]="{
                            'bg-light-success': row.status == 'active',
                            'bg-light-secondary': row.status == 'inactive',
                            'bg-light-warning': row.status == 'pending'
                          }"
                        >
                          <div class="rounded p-3">{{ row.fullName | initials }}</div>
                        </div>
                      </ng-template> -->
                      <div class="media-body mt-50">
                        <h4>Palvelun oletushinnasto</h4>
                        <!-- <h4>{{ row.fullName }}</h4> -->
                        <!-- <div class="col-12 d-flex mt-1 px-0">
                          <label class="btn btn-primary mr-75 mb-0" for="change-picture">
                            <span class="d-none d-sm-block">Change</span>
                            <input
                              class="form-control"
                              type="file"
                              id="change-picture"
                              hidden
                              accept="image/png, image/jpeg, image/jpg"
                            />
                            <span class="d-block d-sm-none">
                              <i class="mr-0" data-feather="edit"></i>
                            </span>
                          </label>
                          <button class="btn btn-outline-secondary d-none d-sm-block" rippleEffect>Remove</button>
                          <button class="btn btn-outline-secondary d-block d-sm-none">
                            <i class="mr-0" data-feather="trash-2"></i>
                          </button>
                        </div> -->
                      </div>
                    </div>
                    <!-- users edit media object ends -->
                    <!-- users edit account form start -->
                    <!-- <form class="form-validate"> -->
                    <form class="form-validate" [formGroup]="loginForm">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="monthly_subscription_price">Kuukausimaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text"
                                class="form-control"
                                placeholder="Kuukausimaksu"
                                name="monthly_subscription_price"
                                formControlName="monthly_subscription_price"
                                id="monthly_subscription_price" />
                              <!-- <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                              </div> -->
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('monthly_subscription_price').hasError('pattern') && loginForm.get('monthly_subscription_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="event_muutto_price">Muuttojen avausmaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Muuttojen avausmaksu" formControlName="event_muutto_price"
                                name="event_muutto_price" id="event_muutto_price" />
                              <!-- <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                              </div> -->
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('event_muutto_price').hasError('pattern') && loginForm.get('event_muutto_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="event_rahti_price">Rahtien avausmaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Muuttojen avausmaksu" formControlName="event_rahti_price"
                                name="event_rahti_price" id="event_rahti_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('event_rahti_price').hasError('pattern') && loginForm.get('event_rahti_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="event_ajoneuvot_price">Ajoneuvojen avausmaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Muuttojen avausmaksu" formControlName="event_ajoneuvot_price"
                                name="event_ajoneuvot_price" id="event_ajoneuvot_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('event_ajoneuvot_price').hasError('pattern') && loginForm.get('event_ajoneuvot_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="event_massa_price">Massojen avausmaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Muuttojen avausmaksu" formControlName="event_massa_price"
                                name="event_massa_price" id="event_massa_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('event_massa_price').hasError('pattern') && loginForm.get('event_massa_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="event_paketti_price">Pienpakettien avausmaksu</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Pakettien avausmaksu" formControlName="event_paketti_price"
                                name="event_paketti_price" id="event_paketti_price" />
                            </div>
                            <span style="color:red"
                              *ngIf="(loginForm.get('event_paketti_price').hasError('pattern') && loginForm.get('event_paketti_price').touched)">
                              Käytä kahden desimaalin arvoa pisteellä eroteltuna ilman euromerkkiä.
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-1 mt-2">
                        <div class="col-md-4">
                          <h4>Tarjouspyynnöt</h4>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="max_opens">Kuinka monta kertaa tarjouspyynnön voi avata</label>
                            <div class="input-group">
                              <input type="number" class="form-control" placeholder="Avauskerrat" name="max_opens" formControlName="max_opens"
                                id="max_opens" min="0" max="100"/>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 mt-2" *ngIf="errors">
                          <ngb-alert [type]="'danger'" [dismissible]="false">
                            <div class="alert-body">
                              {{ errors }}
                            </div>
                          </ngb-alert>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" (click)="submit(row.id)" rippleEffect>
                            {{ 'EDIT.SAVECHANGES' | translate }}
                          </button>
                          <!-- <button type="reset" class="btn btn-outline-secondary" rippleEffect>{{ 'EDIT.RESET' | translate }}</button> -->
                          <button class="btn btn-outline-secondary" (click)="goBack()" rippleEffect>Takaisin</button>
                        </div>
                      </div>
                    </form>
                    <!-- users edit account form ends -->

                  </div>
                  <!-- Account Tab ends -->
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </ng-container>
    </section>
    <!-- users edit ends -->
  </div>
</div>
