@import '@core/scss/base/pages/app-invoice.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';
@import '@core/scss/angular/libs/swiper.component.scss';


// Preview
// Windows Print Dialogue
@media print {
  @page {
    margin: 0;
  }
  .invoice-actions,
  .main-menu,
  .buy-now {
    visibility: hidden;
  }

  .printRef {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
}
span.light {
  font-weight: 300;
}
