<div class="content-wrapper">
  <div class="content-body">
    <section class="invoice-preview-wrapper">
      <div class="row invoice-preview">
        <!-- Invoice -->
        <div class="col-xl-9 col-md-8 col-12 printRef">
          <div class="card invoice-preview-card">
            <!-- Header Starts  -->
            <app-breadcrumb class="mt-1 ml-1" [breadcrumb]="breadcrumbDefault"></app-breadcrumb>
            <div class="text-left mx-1 mt-50">
              <button (click)="goBack()" class="btn btn-outline-primary ml-1">Takaisin</button>
            </div>
            <div class="card-body invoice-padding pb-0">
              <div class="d-flex justify-content-between flex-md-row flex-column invoice-spacing mt-0">
                <!-- <div>
                  <div class="logo-wrapper">
                    <svg
                      viewBox="0 0 139 95"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      height="24"
                    >
                      <defs>
                        <linearGradient
                          id="invoice-linearGradient-1"
                          x1="100%"
                          y1="10.5120544%"
                          x2="50%"
                          y2="89.4879456%"
                        >
                          <stop stop-color="#000000" offset="0%"></stop>
                          <stop stop-color="#FFFFFF" offset="100%"></stop>
                        </linearGradient>
                        <linearGradient
                          id="invoice-linearGradient-2"
                          x1="64.0437835%"
                          y1="46.3276743%"
                          x2="37.373316%"
                          y2="100%"
                        >
                          <stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"></stop>
                          <stop stop-color="#FFFFFF" offset="100%"></stop>
                        </linearGradient>
                      </defs>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-400.000000, -178.000000)">
                          <g transform="translate(400.000000, 178.000000)">
                            <path
                              class="text-primary"
                              d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z"
                              style="fill: currentColor"
                            ></path>
                            <path
                              d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z"
                              fill="url(#invoice-linearGradient-1)"
                              opacity="0.2"
                            ></path>
                            <polygon
                              fill="#000000"
                              opacity="0.049999997"
                              points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"
                            ></polygon>
                            <polygon
                              fill="#000000"
                              opacity="0.099999994"
                              points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"
                            ></polygon>
                            <polygon
                              fill="url(#invoice-linearGradient-2)"
                              opacity="0.099999994"
                              points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"
                            ></polygon>
                          </g>
                        </g>
                      </g>
                    </svg>
                    <h3 class="text-primary invoice-logo">Vuexy</h3>
                  </div>
                  <p class="card-text mb-25">Office 149, 450 South Brand Brooklyn</p>
                  <p class="card-text mb-25">San Diego County, CA 91905, USA</p>
                  <p class="card-text mb-0">+1 (123) 456 7891, +44 (876) 543 2198</p>
                </div> -->
                <div class="mt-md-0 mt-2">
                  <div class="invoice-date-wrapper mb-1" style="flex-wrap: wrap;" *ngIf="apiData.responded_at.length > 0 && apiData.responded_at[0].is_accepted == 1">
                    <h5 class="invoice-date-title text-primary" style="width:auto;">Tarjous hyväksytty! Hyväksytty @ </h5>
                    <p class="invoice-date text-primary">{{ apiData.acceptedTime }} </p>
                    <p class="text-primary w-100"><i>Olethan pian yhteydessä asiakkaaseen</i></p>
                  </div>
                  <div class="invoice-date-wrapper mb-1" *ngIf="apiData.responded_at.length > 0 && apiData.responded_at[0].is_accepted == 0">
                    <h6 class="invoice-date-title text-primary" style="width:auto;">Vastaus tarjouspyyntöön jätetty:</h6>
                    <p class="invoice-date text-primary">{{ apiData.responded_at[0].responded }} </p>
                  </div>
                  <h4 class="invoice-title text-left mb-2">
                    Tarjouspyyntö 
                    <span class="invoice-number mr-1">{{ apiData.typenicename }}</span>
                    <span class="badge badge-secondary" *ngIf="apiData.show_contact_details">
                      Kiireinen
                    </span>
                  </h4>
                  <div class="invoice-date-wrapper">
                    <p class="invoice-date-title">Jätetty:</p>
                    <p class="invoice-date">{{ apiData.created_d }} <span class="light">klo</span> {{ apiData.created_t }}</p>
                  </div>
                  <div class="invoice-date-wrapper">
                    <p class="invoice-date-title">Ajankohta:</p>
                    <p class="invoice-date">{{ apiData.epoch_formatted }} <span class="light">+-</span> {{ apiData.epoch_plusminus_days }}pv</p>
                  </div>
                  <div class="invoice-date-wrapper">
                    <p class="invoice-date-title">Aikaa jäljellä:</p>
                    <p class="invoice-date">{{ apiData.timeleft }} </p>
                  </div>
                  <div class="invoice-date-wrapper" *ngIf="apiData.to_be_answered">
                    <p class="invoice-date-title ">Vastattava viimeistään:</p>
                    <p class="invoice-date">{{ apiData.to_be_answered_formatted }} </p>
                  </div>
                </div>
              </div>
            </div>
            <hr class="invoice-spacing" />
            <!-- Header Ends -->

            <!-- Address And Contact Starts -->
            <div class="card-body invoice-padding pt-0">
              <div class="row mx-0" *ngIf="apiData.contactdetails">
                <div class="col-xl-6 p-0 mt-xl-0 mt-2" *ngIf="usr.role_id == 1 || usr.role_id == 2 || apiData.show_contact_details || (apiData.responded_at.length > 0 && apiData.responded_at[0].is_accepted == 1)">
                  <div>
                    <h6>Kilpailuttajan yhteystiedot:</h6>
                    {{ apiData.contactdetails.firstname + ' ' + apiData.contactdetails.lastname }}<br>
                    <span *ngIf="apiData.contactdetails.company">
                      {{ apiData.contactdetails.company + ', ' + apiData.contactdetails.companyid }}
                      <br>
                    </span>
                    <a href="mailto:{{ apiData.contactdetails.email }}">{{ apiData.contactdetails.email }}</a> <br>
                    <a href="tel:{{ apiData.contactdetails.mobile }}">{{ apiData.contactdetails.mobile }}</a>
                  </div>
                </div>
              </div>
              <div class="row invoice-spacing">
                <div class="col-xl-6 p-0 mt-xl-0 mt-2">
                  <h6 class="mb-2">Mistä:</h6>
                  <table>
                    <tbody>
                      <tr>
                        <td class="pr-1">Tyyppi:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.subtype_from }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-1">
                          <span *ngIf="apiData.type == 'Muutto'">Koko:</span>
                          <span *ngIf="apiData.type == 'Massa'">Kuutiot:</span>
                          <span *ngIf="apiData.type != 'Muutto' && apiData.type != 'Massa'">Paino:</span>
                        </td>
                        <td>
                          <span class="font-weight-bold" *ngIf="apiData.type == 'Muutto'">{{ apiData.wherefrom.type_size }} m<sup>2</sup></span>
                          <span class="font-weight-bold" *ngIf="apiData.type == 'Massa'">{{ apiData.wherefrom.type_size }} m<sup>3</sup></span>
                          <span class="font-weight-bold" *ngIf="apiData.type != 'Muutto' && apiData.type != 'Massa'">{{ apiData.wherefrom.type_size }} kg</span>
                        </td>
                      </tr>
                      <tr *ngIf="apiData.type == 'Rahti' || apiData.type == 'Paketti'">
                        <td>
                          Leveys: <br>
                          Korkeus: <br>
                          Pituus:
                        </td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.wherefrom.width }} cm</span><br>
                          <span class="font-weight-bold">{{ apiData.wherefrom.height }} cm</span><br>
                          <span class="font-weight-bold">{{ apiData.wherefrom.length }} cm</span>
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="pr-1">Osoite:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.wherefrom.address }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-1">Postinumero:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.wherefrom.postal_code }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-1">Kaupunki:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.wherefrom.city }}</span>
                        </td>
                      </tr>
                      <tr *ngIf="apiData.wherefrom.info">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr *ngIf="apiData.wherefrom.info">
                        <td class="pr-1">Lisätiedot:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.wherefrom.info }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-xl-6 p-0 mt-xl-0 mt-2">
                  <h6 class="mb-2">Mihin:</h6>
                  <table>
                    <tbody>
                      <tr *ngIf="apiData.subtype_to != ''">
                        <td class="pr-1">Tyyppi:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.subtype_to }}</span>
                        </td>
                      </tr>
                      <tr *ngIf="apiData.subtype_to != ''">
                        <td class="pr-1">
                          <span *ngIf="apiData.type == 'Muutto'">Koko:</span>
                          <span *ngIf="apiData.type != 'Muutto'">Paino:</span>
                        </td>
                        <td>
                          <span class="font-weight-bold" *ngIf="apiData.type == 'Muutto'">{{ apiData.whereto.type_size }} m<sup>2</sup></span>
                          <span class="font-weight-bold" *ngIf="apiData.type != 'Muutto'">{{ apiData.whereto.type_size }} kg</span>
                        </td>
                      </tr>
                      <tr *ngIf="apiData.subtype_to != ''">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td class="pr-1">Osoite:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.whereto.address }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-1">Postinumero:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.whereto.postal_code }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-1">Kaupunki:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.whereto.city }}</span>
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr *ngIf="apiData.whereto.info">
                        <td class="pr-1">Lisätiedot:</td>
                        <td>
                          <span class="font-weight-bold">{{ apiData.whereto.info }}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Address And Contact Ends -->


            <hr class="invoice-spacing" />

            <!-- Invoice Note Starts -->
            <div class="card-body invoice-padding pt-0">
              <div class="row">
                <div class="col-12">
                  <h6 class="mb-2">Lisätiedot: </h6>
                  <p>
                    {{ apiData.information }}
                  </p>
                </div>
              </div>
            </div>
            <!-- Invoice Note Ends -->

            <hr class="invoice-spacing" />
            
            <!-- Invoice Note Starts -->
            <div class="card-body invoice-padding pt-0" *ngIf="apiData.images">
              <div class="row">
                <div class="col-12">
                  <h6 class="mb-2">Kuvat: </h6>
                  <!-- <div *ngFor="let img of apiData.images; let i = index">
                    <a href="{{ img.fullUrl }}" target="_blank">Kuva {{ i }}</a>
                  </div> -->
                  <!-- ngb-carousel component -->
                  <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let img of apiData.images; let i = index">
                      <div class="carousel-img-wrapper text-center">
                        <img [src]="img.fullUrl" class="img-fluid" alt="Slide {{ i }}" />
                      </div>
                      <div class="carousel-caption"></div>
                    </ng-template>
                  </ngb-carousel>
                  <!-- ngb-carousel component -->
                  <!-- Swiper -->
                  <!-- <swiper class="swiper-autoplay swiper-container" [config]="swiperAutoplay">
                    <img *ngFor="let img of apiData.images; let i = index" class="img-fluid" [src]="img.fullUrl" alt="banner" />
                  </swiper> -->
                  <!-- swiper -->
                </div>
              </div>
            </div>
            <!-- Invoice Note Ends -->
          </div>
        </div>
        <!--/ Invoice -->

        <!-- Invoice Actions -->
        <div class="col-xl-3 col-md-4 col-12 invoice-actions mt-md-0 mt-2">
          <div class="card">
            <div class="card-body" *ngIf="usr.company">
              <!-- <button
                class="btn btn-primary btn-block mb-75"
                data-toggle="modal"
                data-target="#send-tender-sidebar"
                (click)="toggleSidebar('tender-sidebar')"
                rippleEffect
              >
                Send Invoice
              </button> -->
              <!-- <button class="btn btn-outline-secondary btn-block btn-download-invoice mb-75" rippleEffect>
                Download
              </button>
              <a class="btn btn-outline-secondary btn-block mb-75" href="javascript:window.print();" rippleEffect>
                Print
              </a> -->
              <!-- <a
                class="btn btn-outline-secondary btn-block mb-75"
                routerLink="/apps/invoice/edit/{{ urlLastValue }}"
                rippleEffect
              >
                Edit
              </a> -->
              <button
                class="btn btn-primary btn-block mb-75"
                data-toggle="modal"
                data-target="#add-payment-sidebar"
                (click)="toggleSidebar('add-payment-sidebar')"
                rippleEffect
                *ngIf="!apiData.isResponded"
              >
                Vastaa tarjouspyyntöön
              </button>
              <button class="btn btn-outline-primary btn-block" disabled *ngIf="apiData.isResponded">
                Olet vastannut tähän tarjouspyyntöön
              </button>
            </div>
            <div class="card-body" *ngIf="usr.role_id == 1">
              <button 
                class="btn btn-block btn-primary mb-75" 
                rippleEffect 
                *ngIf="usr.role_id == 1"
                routerLink="/apps/tender/edit/{{ apiData.id }}"
              >
                Muokkaa tarjouspyyntöä
              </button>
            </div>
          </div>
        </div>
        <!--/ Invoice Actions -->
      </div>
    </section>
  </div>

  <!-- Send Invoice Sidebar -->
  <!-- <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="tender-sidebar"
    overlayClass="modal-backdrop"
    hideOnEsc="true"
  >
    <app-send-invoice-sidebar-preview></app-send-invoice-sidebar-preview>
  </core-sidebar> -->
  <!--/  Send Invoice Sidebar -->

  <!-- Add Payment Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="add-payment-sidebar"
    overlayClass="modal-backdrop"
    hideOnEsc="true"
  >
    <app-add-payment-sidebar-preview [tenderid]="apiData.id" [tendertype]="apiData.type"></app-add-payment-sidebar-preview>
  </core-sidebar>
  <!--/  Add Payment Sidebar -->
</div>
